## SANDAG CV and TNC Survey Analysis
### CV: Commercial Vehicles
### TNC: Transportation Network Companies

#### In the cell below, specify which data set to process:
* 'CV' for Establishment surveys
* 'TNC' for TNC surveys

In [1]:
# Indicate what dataset is to be processed. It should be either 'CV' or 'TNC'.
dataset = 'CV'
# dataset = 'TNC'

# Specify value of time for different vehicle sizes, [Light, Medium, Heavy]. Unit is $ per hour.
vot = [67, 68, 89]

#### Import Libraries

In [2]:
import os, glob
import pandas as pd
import numpy as np
import openpyxl
import datetime as dt
import collections
import matplotlib.pyplot as plt
import openmatrix as omx
import gc

# from matplotlib.ticker import PercentFormatter
# from scipy import stats  # to get inverse of '.quantile()'

In [3]:
from datetime import datetime
current_date = datetime.now().strftime('%Y%m%d')

In [4]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

#### Define Trip Class

In [5]:
class Trip:
    registry = []

    def __init__(self):
        Trip.registry.append(self)
        self.index = -1
        self.o_act = 0
        self.o_place_type = 0
        self.o_place_name = ''
        self.o_address = ''
        self.o_lon = 0
        self.o_lat = 0
        self.o_taz = -1
        self.d_act = 0
        self.d_place_type = 0
        self.d_place_name = ''
        self.d_address = ''
        self.d_lon = 0
        self.d_lat = 0
        self.d_taz = -1
        self.trip_dist = 0
        self.o_dt = dt.datetime(1982, 1, 1, 0, 0, 0)
        self.d_at = dt.datetime(1982, 1, 1, 0, 0, 0)
        self.nt_dt = dt.datetime(1982, 1, 1, 0, 0, 0)
        self.travel_time = 0    # in seconds
        self.stop_duration = 0  # in seconds
        self.cargo_pickup = -1
        self.cargo_delivery = -1
        self.travel_date = dt.date(1982, 1, 1)
        self.last_trip = None

#### Set File Paths

In [6]:
project_path = os.getcwd().replace("\\02 Scripts", "")

# To run the script on your computer, update 'project path' above with script folder address on your computer and
# then uncomment it.
in_data_dir  = '01 Inputs'
out_data_dir = '03 Outputs'

lu_file = 'Lookups_v8.xlsx'
lu_path = os.path.join(project_path, in_data_dir, lu_file)

skims_dir = r'C:\Users\jgliebe\OneDrive - Cambridge Systematics\Documents - PROJ SANDAG Commercial Vehicle & Heavy Truck Model Update\_Shared_CSTeam\Task03_DataID_Review\ABM3\Skims'

if dataset == 'TNC':
    in_data_file = 'TNC Travel Survey_Data Submittal_1-19-23.xlsx'
else:
#     in_data_file = 'SANDAG 2022 CV DataBase & Dictionaires_03_03_2023.xlsx'    
    in_data_file = 'SANDAG 2022 CV DataBase, Revised.xlsx'  # Cleaned up some data formatting
in_data_path = os.path.join(project_path, in_data_dir, in_data_file)

#### Read the Lookup Tables

In [7]:
lookups = pd.read_excel(lu_path, header=0, sheet_name=None)

In [8]:
lookups['Segment Codes']

,Activities,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Places,Unnamed: 6
0,act_seg_code,act_seg_let,act_seg_name,NaN,NaN,plc_seg_code,plc_seg_name
1,1,S,Service,NaN,NaN,1,Residential
2,2,P,Goods_Pickup,NaN,NaN,2,Office
3,3,D,Goods_Delivery,NaN,NaN,3,Warehouse
4,4,M,Maintenance/Other,NaN,NaN,4,Other
5,5,B,Base,NaN,NaN,5,Retail and Restaurant
6,6,H,Home,NaN,NaN,6,Gas
7,NaN,NaN,NaN,NaN,NaN,7,"Industrial, Agriculture, or Construction"
8,NaN,NaN,NaN,NaN,NaN,8,Truck Terminal or Parking

In [9]:
lookup_at = lookups['Activity Type']  # .copy()
# lookup_at.drop(columns='count', inplace=True)

asl = {1: 'S', 2: 'P', 3: 'D', 4: 'M', 5: 'B', 6: 'H'} # asl = Activity Segment Letter
lookup_at['act_seg_let'] = lookup_at['act_seg_code'].map(asl)

dic_at = {}
for i, row in lookup_at.iterrows():
    dic_at[row['activity_type_code']] = row['act_seg_let'], row['act_seg_name']

lookup_at

,activity_type_code,count,activity_type_name,act_seg_name,act_seg_code,act_seg_let
0,10,3066,"Providing professional services (legal, medica...",Service,1,S
1,1,2766,Returning to Base Location,Base,5,B
2,5,1948,Delivering cargo - (including grocery and rest...,Goods_Delivery,3,D
3,8,1181,Providing Installation / Maintenance / Repair ...,Service,1,S
4,96,941,Other Activity (specify),Maintenance/Other,4,M
5,3,663,"Driver Needs (lunch, restroom, etc)",Maintenance/Other,4,M
6,2,589,"Vehicle Maintenance (fuel/charging, etc)",Maintenance/Other,4,M
7,14,531,Home,Home,6,H
8,6,226,Picking up cargo-(including grocery and restau...,Goods_Pickup,2,P
9,11,191,Shopping for Business (i.e. business/office su...,Maintenance/Other,4,M
10,13,54,Return to base location/Drop off Cargo,Base,5,B
11,12,50,Return to base location/Pick up Cargo,Base,5,B
12,9,33,Making a sales call,Service,1,S
13,7,18,Getting Government Related Services,Maintenance/Other,4,M
14,4,4,Deadhead/Drop Trailer/Bobtail,Maintenance/Other,4,M

In [10]:
lookup_pt = lookups['Place Type']   
# lookup_pt.drop(columns='count', inplace=True)

dic_pt = {}
dic_pt2 = {}
for i, row in lookup_pt.iterrows():
    dic_pt[row['place_type_code']] = row['plc_seg_code'], row['plc_seg_name']
    dic_pt2[row['plc_seg_code']] = row['plc_seg_name']
    
lookup_pt # .head(2)

,place_type_code,count,place_type_name,plc_seg_name,plc_seg_code
0,11,3335,Residential / Home,Residential,1
1,1,2607,Office Building (Non-Government),Office,2
2,14,1179,Warehouse,Warehouse,3
3,96,1175,Other (specify):,Other,4
4,6,972,Retail / Shopping,Retail and Restaurant,5
5,16,578,Gas station,Gas,6
6,5,470,Restaurant,Retail and Restaurant,5
7,7,460,Industrial / Manufacturing,"Industrial, Agriculture, or Construction",7
8,2,317,Government Office Building,Office,2
9,8,293,Medical / Hospital / Dental,Office,2
10,10,276,"Education (K-12, Daycare, Pre-K)",Office,2
11,19,177,Construction Site,"Industrial, Agriculture, or Construction",7
12,20,135,Agriculture,"Industrial, Agriculture, or Construction",7
13,9,61,College/University,Office,2
14,99,46,Don’t Know,Other,4
15,12,42,Airport,Other,4
16,3,41,Military Base/Building,Other,4
17,4,40,Grocery Store,Retail and Restaurant,5
18,15,22,Truck Distribution Center,Truck Terminal or Parking,8
19,18,21,Truck stop,Truck Terminal or Parking,8
20,13,12,Intermodal Facility-Railroad,Truck Terminal or Parking,8
21,17,2,Vehicle Charging Term.,Truck Terminal or Parking,8

In [11]:
lookup_ind = lookups['Industries']
lookup_ind #.head(2)

,df_column_name,industry_code,industry_group,industry_code.1
0,base_location_Industry Group,1,Agriculture/Mining,1.0
1,base_location_Industry Group,2,Manufacturing,2.0
2,base_location_Industry Group,3,Industrial/Utilities,3.0
3,base_location_Industry Group,4,Retail,4.0
4,base_location_Industry Group,5,Wholesale,5.0
5,base_location_Industry Group,6,Construction,6.0
6,base_location_Industry Group,7,Transportation,7.0
7,base_location_Industry Group,8,Info/Finance/Insurance/Real Estate/Professiona...,8.0
8,base_location_Industry Group,9,Education/Other public services,9.0
9,base_location_Industry Group,10,Medical/Health Services,10.0
10,base_location_Industry Group,11,Leisure/Accommodations and Food,11.0
11,base_location_Industry Group,96,Other/Non-Classified,NaN

In [12]:
lookup_tnc = lookups['TNC Categories']  # .copy()

dic_tnc_names = {}
dic_tnc_categories = {}
for i, row in lookup_tnc.iterrows():
    dic_tnc_names[row['company_name']] = row['company_name_alt']   
    dic_tnc_categories[row['company_name_alt']] = row['TNC_IndCat3']   

lookup_tnc

,company_name,company_name_alt,Estb (ie veh),Trips,Trips/Veh,Tnc_Cat,TNC_IndCat3
0,amazon,Amazon,34.0,748.0,22.000000,Package/Other,NonRestRetl
1,amazonflex,Amazon Flex,15.0,259.0,17.266667,Package/Other,NonRestRetl
2,amazonfresh,Amazon Fresh,1.0,12.0,12.000000,Grocery,Retail
3,axhire,Axle Hire,4.0,61.0,15.250000,Package/Other,NonRestRetl
4,axle,Axle Hire,NaN,NaN,15.250000,Package/Other,NonRestRetl
5,axlehire,Axle Hire,NaN,NaN,15.250000,Package/Other,NonRestRetl
6,doordash,Door Dash,90.0,907.0,10.077778,Restaurant,Restaurant
7,fantuan,Fantuan,1.0,23.0,23.000000,Restaurant,Restaurant
8,gopuff,Go Puff,2.0,38.0,19.000000,Food,Retail
9,grubhub,Grub Hub,43.0,576.0,13.395349,Restaurant,Restaurant
10,instacart,Instacart,47.0,583.0,12.404255,Grocery,Retail
11,pointpickup,Point Pick Up,20.0,261.0,13.050000,Package/Other,Retail
12,pointpickupp,Point Pick Up,NaN,NaN,13.050000,Package/Other,Retail
13,postmates,Postmates,12.0,128.0,10.666667,Restaurant,Restaurant
14,returnmates,Return Mates,4.0,53.0,13.250000,Package/Other,NonRestRetl
15,returnme,Return Me,1.0,26.0,26.000000,Package/Other,NonRestRetl
16,returntorunway,Return to Runway,2.0,39.0,19.500000,Package/Other,NonRestRetl
17,roadie,Roadie,28.0,303.0,10.821429,Package/Other,NonRestRetl
18,senpex,Senpex,7.0,57.0,8.142857,Package/Other,NonRestRetl
19,shipt,Shipt,16.0,227.0,14.187500,Grocery,Retail
20,spark,Spark,9.0,80.0,8.888889,Package/Other,Retail
21,ubereats,Uber Eats,75.0,872.0,11.626667,Food,Restaurant

In [13]:
lookup_cv_estab = lookups['CV Estab TAZ']
lookup_cv_estab.head()

,OBJECTID,Join_Count,TARGET_FID,company_id,company_name,company_location_address,company_location_city,company_location_state,company_location_zipcode,company_location_latitude,company_location_longitude,estab_taz
0,1,1,1,100002,ALTAR,4370 LA JOLLA VILLAGE DR # 655,SAN DIEGO,CA,92122,32.873754,-117.210198,1244
1,2,1,2,100003,John Baker Property Mgmt,405 W 9TH AVE,ESCONDIDO,CA,92025,33.112208,-117.080743,3159
2,3,1,3,100004,OWB RANCHES LLC,512 VIA DE LA VALLE # 310,SOLANA BEACH,CA,92075,32.980370,-117.260820,536
3,4,1,4,100005,"United Sportfishers of San Diego, Inc.",2803 Emerson St,San Diego,CA,92106,32.723522,-117.227602,1073
4,5,1,5,100007,SCRIPPS COASTAL RESERVE,9500 GILMAN DR,LA JOLLA,CA,92093,32.877189,-117.237422,952

In [14]:
lookup_tnc_estab = lookups['TNC Estab TAZ']  # .copy()
lookup_tnc_estab.loc[lookup_tnc_estab['estab_taz'].isnull(), 'estab_taz'] = -1 # Could've been done with fillna too.
lookup_tnc_estab['estab_taz'] = lookup_tnc_estab['estab_taz'].astype(int)
lookup_tnc_estab.head()

,OBJECTID,Join_Count,TARGET_FID,company_id,company_name,company_location_address,company_location_city,company_location_state,company_location_zipcode,company_location_latitude,company_location_longitude,estab_taz
0,1,1,1,600026,Uber Eats,1052 Woodlawn Ave,Chula Vista,California,91911,32.610634,-117.086326,2958
1,2,1,2,600027,Amazon Flex,3980 Hatton St,San Diego,California,92111,32.816592,-117.165559,1787
2,3,1,3,600028,Senpex,6881 Alvarado Rd,San Diego,California,92120,32.775523,-117.050791,3502
3,4,1,4,600029,Grub Hub,4437 39th St,San Diego,California,92116,32.757872,-117.110067,2538
4,5,1,5,600031,Uber Eats,5741 Carnegie St,San Diego,California,92122,32.846406,-117.217430,1207

In [15]:
lookup_cv_estab_replace = lookups['CV Rt Rplcmnt Estab TAZ'] #.copy()
lookup_cv_estab_replace.insert(1, 'Date', 0)
lookup_cv_estab_replace.insert(2, 'Veh', 0)
lookup_cv_estab_replace['Date'] = pd.to_datetime(lookup_cv_estab_replace['route_id'].astype(str).str[:8]) #.astype(int)
lookup_cv_estab_replace['Veh'] = lookup_cv_estab_replace['route_id'].astype(str).str[-4:].astype(int)

lookup_cv_estab_replace

,route_id,Date,Veh,NewEstab_TAZ,Revision,Unnamed: 3,Unnamed: 4
0,202206280030,2022-06-28,30,3262,OK,NaN,Note: New Estab TAZes have been assigned to ro...
1,202206280035,2022-06-28,35,3163,OK,NaN,"This means, according to this sheet, two vehic..."
2,202206290038,2022-06-29,38,1184,OK,NaN,Example: Routes 202206280030 and 202206280035 ...
3,202207190119,2022-07-19,119,3607,OK,NaN,NaN
4,202207200224,2022-07-20,224,124,OK,NaN,NaN
5,202207200242,2022-07-20,242,1180,OK,NaN,NaN
6,202207270317,2022-07-27,317,73,OK,NaN,NaN
7,202208020513,2022-08-02,513,1248,OK,NaN,NaN
8,202208030497,2022-08-03,497,3431,OK,NaN,NaN
9,202208030501,2022-08-03,501,3431,OK,NaN,NaN
10,202208110853,2022-08-11,853,2178,OK,NaN,NaN
11,202208120702,2022-08-12,702,3278,OK,NaN,NaN
12,202208191059,2022-08-19,1059,2861,Fixed,NaN,NaN
13,202208191125,2022-08-19,1125,4484,OK,NaN,NaN
14,202208230757,2022-08-23,757,3090,OK,NaN,"There are routes like this one, that the same ..."
15,202208231143,2022-08-23,1143,2364,OK,NaN,NaN
16,202208241204,2022-08-24,1204,370,Fixed,NaN,NaN
17,202209231471,2022-09-23,1471,3344,OK,NaN,NaN

In [16]:
# Get LogisticsNodes
lookup_logistics = lookups['LogisticsNodes']
lookup_logistics

,FreightCode,Category,TAZ,Description,Label
0,1,Sea Port,2086,Tenth Ave Marine Terminal and BNSF Freight Yard,Seaport
1,1,Sea Port,1154,Tenth Ave Marine Terminal and BNSF Freight Yard,Seaport
2,1,Sea Port,2497,National City Marine Terminal,Seaport
3,1,Sea Port,2193,Ship Building,Seaport
4,2,Airport Cargo,1294,Airport Infrastructure,Airport
5,2,Airport Cargo,1338,Airport Infrastructure,Airport
6,2,Airport Cargo,1457,Airport Infrastructure,Airport
7,2,Airport Cargo,1476,"UPS, FedEx, DHL",Airport
8,2,Airport Cargo,1485,Air Cargo,Airport
9,2,Airport Cargo,1520,Airport Infrastructure,Airport
10,2,Airport Cargo,4184,Cross Border Express (Future),Airport
11,3,Federal/Land POE,4435,Otay Mesa West POE,LandPOE
12,3,Federal/Land POE,4582,Otay Mesa East POE,LandPOE
13,3,Federal/Land POE,4853,Tecate POE,LandPOE
14,3,Federal/Land POE,2050,Jacumba POE (Future),LandPOE
15,3,Federal/Land POE,3742,Rail Intermodal,LandPOE

### Read Skim Matrices -- two methods, choose one
1. Read OMX files, process, and save as pickle files -- do this only if the pickle files do not already exist or new raw data skims are wanted.
2. Read the pickle files directly, assuming they exist. This is 100 times faster.

In [17]:
# Note: There are 4,947 TAZs and 24,321 MGRAs in the shapefiles.
# The OMX files contain info about TAZs, not MGRAs.
dic_veh_size = {1: 'L', 2: 'M', 3: 'H'}
dic_tod = {1: 'EA', 2: 'AM', 3: 'MD', 4: 'PM', 5: 'EV'}
fns = [f'traffic_skims_{v}.omx' for v in dic_tod.values()] # fns = file names
# print(fns)

# Periods:
# Early:   3AM     6AM
# AM Peak: 6AM     9AM
# Midday:  9AM     3:30PM
# PM Peak: 3:30PM  7PM
# Late:    7PM     3AM

dist_dfs = [[None for j in range(len(dic_veh_size))] for i in range(len(dic_tod))]
# 'dist_dfs' is a list of lists that stores distance dataframes. 
# Each row is for a time of day, and each column is a vehicle size.
# Note: Indices start from zero.

time_dfs = [[None for j in range(len(dic_veh_size))] for i in range(len(dic_tod))]
toll_dfs = [[None for j in range(len(dic_veh_size))] for i in range(len(dic_tod))]
g_tt_dfs = [[None for j in range(len(dic_veh_size))] for i in range(len(dic_tod))]

#### Method 1: Read skims for OMX files, process, and save as pickle files. (Slow)
Change below cell to "code" before running

# Read in from OMX files if files not already in skim folder (slow)
for tod_code in dic_tod.keys():    
    fn = fns[tod_code-1]
    path = os.path.join(skims_dir, fn)
    print(fn)
    with omx.open_file(path) as f:
#         for matrix in list(f.list_matrices()): print(matrix)
        for size_code in dic_veh_size.keys():
            dist_dfs[tod_code-1][size_code-1] = \
            pd.DataFrame(np.array(f[f'TRK_{dic_veh_size[size_code]}_DIST__{dic_tod[tod_code]}']))
            dist_dfs[tod_code-1][size_code-1] = (dist_dfs[tod_code-1][size_code-1] * 10).astype('int32')
            
            time_dfs[tod_code-1][size_code-1] = \
            pd.DataFrame(np.array(f[f'TRK_{dic_veh_size[size_code]}_TIME__{dic_tod[tod_code]}']))
            time_dfs[tod_code-1][size_code-1] = (time_dfs[tod_code-1][size_code-1] * 100).astype('int32') / 100

            toll_dfs[tod_code-1][size_code-1] = \
            pd.DataFrame(np.array(f[f'TRK_{dic_veh_size[size_code]}_TOLLCOST__{dic_tod[tod_code]}']))
            toll_dfs[tod_code-1][size_code-1] = toll_dfs[tod_code-1][size_code-1].astype('int32')

            fac = 100 * vot[size_code-1] / 60   # cents/min
            g_tt_dfs[tod_code-1][size_code-1] = time_dfs[tod_code-1][size_code-1].\
            add(toll_dfs[tod_code-1][size_code-1] / fac)
            g_tt_dfs[tod_code-1][size_code-1] = (g_tt_dfs[tod_code-1][size_code-1] * 100).astype('int32') / 100


# Write Out the Read TAZ Distance Skim Matrices in 15 Pickle Files - Distances Are in Tenth of Miles.
for i in range(len(dic_tod)):
    for j in range(len(dic_veh_size)):
        out_file = f'{3*i+j+1:02}_{dic_tod[i+1]}_{dic_veh_size[j+1]}_10th_of_Miles.pkl'
        out_path = os.path.join(project_path, out_data_dir, 'Distance Skims')
        if not os.path.exists(out_path):
           os.makedirs(out_path)
        out_path = os.path.join(project_path, out_data_dir, 'Distance Skims', out_file)
        dist_dfs[i][j].to_pickle(out_path)
        
# Write out the read TAZ travel time, toll, and generalized travel time skim matrices.
for i in range(len(dic_tod)):
    for j in range(len(dic_veh_size)):
        out_file = f'{3*i+j+1:02}_{dic_tod[i+1]}_{dic_veh_size[j+1]}_TT_Minutes.pkl'
        out_path = os.path.join(project_path, out_data_dir, 'Travel Time Skims')
        if not os.path.exists(out_path):
           os.makedirs(out_path)
        out_path = os.path.join(project_path, out_data_dir, 'Travel Time Skims', out_file)
        time_dfs[i][j].to_pickle(out_path)

        out_file = f'{3*i+j+1:02}_{dic_tod[i+1]}_{dic_veh_size[j+1]}_Toll_Cents.pkl'
        out_path = os.path.join(project_path, out_data_dir, 'Toll Skims')
        if not os.path.exists(out_path):
           os.makedirs(out_path)
        out_path = os.path.join(project_path, out_data_dir, 'Toll Skims', out_file)
        toll_dfs[i][j].to_pickle(out_path)
        
        out_file = f'{3*i+j+1:02}_{dic_tod[i+1]}_{dic_veh_size[j+1]}_GenTT_Minutes.pkl'
        out_path = os.path.join(project_path, out_data_dir, 'Generalized TT Skims')
        if not os.path.exists(out_path):
           os.makedirs(out_path)
        out_path = os.path.join(project_path, out_data_dir, 'Generalized TT Skims', out_file)
        g_tt_dfs[i][j].to_pickle(out_path)

#### Method 2: Read already processed skims from pickle files. (Fast)
Change below cell to "code" before running

In [18]:
# Read skim matrices from pickle files (fast load)
for i in range(len(dic_tod)):
    for j in range(len(dic_veh_size)):
        in_file = f'{3*i+j+1:02}_{dic_tod[i+1]}_{dic_veh_size[j+1]}_10th_of_miles.pkl'
        in_path = os.path.join(project_path, out_data_dir, 'Distance Skims')
        if not os.path.exists(in_path):
           print(f"Input skims file path not found: \n{in_path}")
        in_path = os.path.join(project_path, out_data_dir, 'Distance Skims', in_file)
        dist_dfs[i][j] = pd.read_pickle(in_path)
        
        if i == 2:
            in_file = f'{3*i+j+1:02}_{dic_tod[i+1]}_{dic_veh_size[j+1]}_TT_Minutes.pkl'
            in_path = os.path.join(project_path, out_data_dir, 'Travel Time Skims')
            if not os.path.exists(in_path):
               print(f"Input skims file path not found: \n{in_path}")
            in_path = os.path.join(project_path, out_data_dir, 'Travel Time Skims', in_file)
            time_dfs[i][j] = pd.read_pickle(in_path)
            
            in_file = f'{3*i+j+1:02}_{dic_tod[i+1]}_{dic_veh_size[j+1]}_Toll_Cents.pkl'
            in_path = os.path.join(project_path, out_data_dir, 'Toll Skims')
            if not os.path.exists(in_path):
               print(f"Input skims file path not found: \n{in_path}")
            in_path = os.path.join(project_path, out_data_dir, 'Toll Skims', in_file)
            toll_dfs[i][j] = pd.read_pickle(in_path)
            
            in_file = f'{3*i+j+1:02}_{dic_tod[i+1]}_{dic_veh_size[j+1]}_GenTT_Minutes.pkl'
            in_path = os.path.join(project_path, out_data_dir, 'Generalized TT Skims')
            if not os.path.exists(in_path):
               print(f"Input skims file path not found: \n{in_path}")
            in_path = os.path.join(project_path, out_data_dir, 'Generalized TT Skims', in_file)
            g_tt_dfs[i][j] = pd.read_pickle(in_path)

In [19]:
print(f'Example 1: Distance from TAZ 5 to TAZ 19 in AM peak for medium trucks is: {dist_dfs[1][1].at[320, 344]/10:} miles\n')
print(f'Example 2: Distance from TAZ 321 to TAZ 345 in mid-day for light trucks is: {dist_dfs[2][0].iloc[320, 344]/10:} miles,',
      '\n', f'          Travel time is: {time_dfs[2][0].iloc[320, 344]} minutes, and', '\n',
      f'          toll is: {toll_dfs[2][0].iloc[320, 344]} cents.\n')
print(f'Example 3: Fastest route between TAZ 3901 and TAZ 4233 uses expressway 125, which is a FasTrak toll road.',
      f'\n           Distance from TAZ 3901 to TAZ 4233 in mid-day for heavy trucks is: {dist_dfs[2][2].iloc[3900, 4232]/10:} miles,',
      '\n', f'          Travel time is: {time_dfs[2][2].iloc[3900, 4232]} minutes,\n',
      f'          Toll is: {toll_dfs[2][2].iloc[3900, 4232]} cents, and\n'
      f'           Generalized travel time is: {g_tt_dfs[2][2].iloc[3900, 4232]} minutes.')

Example 1: Distance from TAZ 5 to TAZ 19 in AM peak for medium trucks is: 0.8 miles

Example 2: Distance from TAZ 321 to TAZ 345 in mid-day for light trucks is: 0.9 miles,
           Travel time is: 2.8 minutes, and
           toll is: 0 cents.

Example 3: Fastest route between TAZ 3901 and TAZ 4233 uses expressway 125, which is a FasTrak toll road.
           Distance from TAZ 3901 to TAZ 4233 in mid-day for heavy trucks is: 7.9 miles,
           Travel time is: 13.63 minutes,
           Toll is: 375 cents, and
           Generalized travel time is: 16.15 minutes.

#### Read Stop, Establishment, and Vehicle Data

In [20]:
# Read the survey data.
df_original = pd.read_excel(in_data_path, header=0, sheet_name=None)
# df_original is a dictionary of Dfs. Keys are sheetnames, and values are the dataframes in those worksheets.

In [21]:
# # If all we were to do was to read the stop data:
# df_stops = pd.read_excel(in_data_path, header=0, sheet_name='Trip Data')
# df_stops.head(2)

In [22]:
df_stops = df_original['Trip Data'].copy()
df_estab = df_original['Establishment Data'].copy()
df_veh = df_original['Vehicle Data'].copy()
df_stops.head()

,unique_id,company_id,vehicle_id,driver_id,trip_number,trip_load_status,trip_load_weight,activity_type,activity_type_other,placetype,placetype_other,location_placename,location_address,location_city,location_state,location_zip,location_latitude,location_longitude,taz,cargo_pickup,cargo_other_pickup,cargo_delivery,cargo_other_delivery,cargo_pu_weight,cargo_do_weight,travel_date,arrival_time,departure_time,used_other_vehicle,participation_type,vehicle_id.1,Lower Estimate Weight Factor,Most Likely Estimate Weight Factor,Upper Estimate Weight Factor
0,1,100012,2062,2589,0,4.0,NaN,1,NaN,11,NaN,BASE,2801 B ST # 55,SAN DIEGO,California,92102,32.717871,-117.133702,2284,NaN,NaN,NaN,NaN,NaN,NaN,2022-09-30,NaN,10:00:00,2,online,2062,109.693404,177.825038,198.177052
1,2,100012,2062,2589,1,NaN,NaN,11,NaN,6,NaN,PET SMART,1660 Camino De La Reina d,San Diego,California,92108,32.770912,-117.149017,2091,NaN,NaN,NaN,NaN,NaN,NaN,2022-09-30,10:20:00,11:10:00,2,online,2062,109.693404,177.825038,198.177052
2,3,100012,2062,2589,2,NaN,NaN,1,NaN,11,NaN,BASE,2801 B ST # 55,SAN DIEGO,California,92102,32.717871,-117.133702,2284,NaN,NaN,NaN,NaN,NaN,NaN,2022-09-30,11:22:00,11:40:00,2,online,2062,109.693404,177.825038,198.177052
3,4,100012,2062,2589,3,NaN,NaN,10,NaN,96,DOG PARK,DOG PARK,2500 Balboa Dr,San Diego,California,92103,32.731546,-117.158124,1933,NaN,NaN,NaN,NaN,NaN,NaN,2022-09-30,12:00:00,14:00:00,2,online,2062,109.693404,177.825038,198.177052
4,5,100012,2062,2589,4,NaN,NaN,1,NaN,11,NaN,BASE,2801 B ST # 55,SAN DIEGO,California,92102,32.717871,-117.133702,2284,NaN,NaN,NaN,NaN,NaN,NaN,2022-09-30,14:20:00,NaN,2,online,2062,109.693404,177.825038,198.177052

In [23]:
df_estab.head()

,company_id,"Industry Group_Size Code (Group from Column D; Size 1=0-9 emp, 2=10+)",company_name,base_location_Industry Group,company_location_address,company_location_city,company_location_state,company_location_zipcode,company_location_latitude,company_location_longitude,employees_fulltime_count,employees_parttime_count,no_of_emp_work,"Number of Employess (1=<10, 2=10+)",total_telecommute_from_home,is_use_tnc,no_of_deliveries,no_of_deliveries_pcsuvpu,no_of_deliveries_su,no_of_deliveries_cu,per_of_deliveries_warehouse,per_of_deliveries_airport,per_of_deliveries_manufacture,per_of_deliveries_retail,per_of_deliveries_service,per_of_deliveries_other,per_of_deliveries_dontknow,per_of_deliveries_text_other,no_of_from_deliveries,no_of_from_deliveries_pcsuvpu,no_of_from_deliveries_su,no_of_from_deliveries_cu,per_of_from_deliveries_warehouse,per_of_from_deliveries_airport,per_of_from_deliveries_manufacture,per_of_from_deliveries_retail,per_of_from_deliveries_service,per_of_from_deliveries_other,per_of_from_deliveries_dontknow,per_of_from_deliveries_text_other,has_vehicles,vehicle_count_total,vehicle_axle_cargotruck,vehicle_semi_cargo,vehicle_cars_count,vehicle_pickuptrucks_count,vehicle_cargovans_count,vehicle_servicevans_count,use_personal_vehicle,vehicle_other_count_total,vehicle_other_axle_cargotruck,vehicle_other_semi_cargo,vehicle_other_cars_count,vehicle_other_pickuptrucks_count,vehicle_other_cargovans_count,vehicle_other_servicevans_count,vehicle_toll_trans_count,Participated in Travel Survey?,LCV Owned or Leased,LCV other,LCV Total,SUT Owned or Leased,SUT other,SUT Total,MUT Owned or Leased,MUT other,MUT Total,TOTAL CVs
0,100002,1_2,ALTAR,1,4370 LA JOLLA VILLAGE DR # 655,SAN DIEGO,CA,92122,32.873754,-117.210198,50,0,50,2,0,2,3,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,0.0,NaN,3,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,0.0,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NO,0,0,0,0,0,0,0,0,0,0
1,100003,1_1,John Baker Property Mgmt,1,405 W 9TH AVE,ESCONDIDO,CA,92025,33.112208,-117.080743,2,0,2,1,0,2,2,1.0,1.0,0.0,50.0,0.0,0.0,0.0,0.0,50.0,0.0,NaN,0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0,NO,0,1,1,0,0,0,0,0,0,1
2,100004,1_1,OWB RANCHES LLC,1,512 VIA DE LA VALLE # 310,SOLANA BEACH,CA,92075,32.980370,-117.260820,3,1,4,1,0,2,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,0.0,NaN,0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NO,0,0,0,0,0,0,0,0,0,0
3,100005,1_2,"United Sportfishers of San Diego, Inc.",1,2803 Emerson St,San Diego,CA,92106,32.723522,-117.227602,20,14,34,2,2,2,10,9.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,100.0,0.0,NaN,0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0,NO,0,0,0,0,1,1,1,0,1,2
4,100007,1_1,SCRIPPS COASTAL RESERVE,1,9500 GILMAN DR,LA JOLLA,CA,92093,32.877189,-117.237422,5,0,5,1,5,2,0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0,NO,0,1,1,0,0,0,0,0,0,1

In [24]:
df_veh.head()

,id,company_id,veh_make_other,vehicle_model,vehicle_year,vehicle_type,vehicle_fuel_type,vehicle_miles_per_gallon,has_vehicle_transponder,vehicle_classification,vehicle_weight,odometer,ending_odometer,Industry Group,"Employee Size (1=0-9, 2=10+)",Vehicle Type,Vehicle Type_Industry_Size Category Code,Lower Estimate Weight Factor,Most Likely Estimate Weight Factor,Upper Estimate Weight Factor,id.1
0,20,120941,Ford,TRANSIT,2020,2,1,15.0,2.0,3,9999998,9999998,9999998.0,6,1,LCV,LCV_6_1,89.897285,116.750222,120.350116,20
1,21,120941,Ford,TRANSIT,2020,2,1,15.0,2.0,3,9999998,9999998,9999998.0,6,1,LCV,LCV_6_1,89.897285,116.750222,120.350116,21
2,22,120941,Ford,TRANSIT,2020,2,1,15.0,2.0,3,9999998,9999998,9999998.0,6,1,LCV,LCV_6_1,89.897285,116.750222,120.350116,22
3,23,120941,Ford,TRANSIT,2020,3,1,15.0,2.0,3,9999998,9999998,9999998.0,6,1,LCV,LCV_6_1,89.897285,116.750222,120.350116,23
4,24,120941,Ford,TRANSIT,2020,2,1,15.0,2.0,3,9999998,9999998,9999998.0,6,1,LCV,LCV_6_1,89.897285,116.750222,120.350116,24

#### Explore the Vehicle Dataframe

In [25]:
# 'vehicle_classification' codes according to data dictionary:
# 1: Passenger Car or Motorcycle
# 2: Pick-up Truck (4 wheels)
# 3: Van (Cargo/Minivan) (4 wheels)
# 4: Buses 
# 5: Single Unit 2-axle
# 6: Single Unit 3-axle
# 7: Single Unit 4-axle
# 8: Semi (all Tractor-Trailer combinations)
# 96:Other (please specify)

In [26]:
df_veh['vehicle_classification'].unique()

array([3, 2, 6, 1, 5, 8, 4, 7], dtype=int64)

In [27]:
if dataset == 'CV':
    print(df_veh['Vehicle Type'].unique())

['LCV' 'SUT' 'MUT']

In [28]:
if dataset == 'CV':
    pvt_axle_vtype = pd.pivot_table(df_veh, values='id', index='vehicle_classification', columns='Vehicle Type',
                             aggfunc='count') #, sort=True) For sort, default is True.
    print(pvt_axle_vtype)

Vehicle Type              LCV    MUT    SUT
vehicle_classification
1                       626.0    NaN    NaN
2                       395.0    NaN    NaN
3                       282.0    NaN    NaN
4                         NaN    NaN   32.0
5                         NaN    NaN  166.0
6                         NaN    NaN   25.0
7                         NaN    NaN    5.0
8                         NaN  220.0    NaN

In [29]:
# Create a conversion dictionary from veh_classification to veh_size.
# This is necessary because the TNC dataset doesn't have the 'Vehicle Type' column - this script
# needs to work for both CV and the TNC datasets.
d1 = {i: 'LCV' for i in range(1, 4)}
d2 = {i: 'SUT' for i in range(4, 8)}
d3 = {8: 'MUT'}
dic_veh_size = {**d1, **d2, **d3}
dic_veh_size

{1: 'LCV',
 2: 'LCV',
 3: 'LCV',
 4: 'SUT',
 5: 'SUT',
 6: 'SUT',
 7: 'SUT',
 8: 'MUT'}

In [30]:
df_veh['veh_size'] = df_veh['vehicle_classification'].map(dic_veh_size)
df_veh[['veh_size', 'vehicle_classification']]

     veh_size  vehicle_classification
0         LCV                       3
1         LCV                       3
2         LCV                       3
3         LCV                       3
4         LCV                       3
5         LCV                       3
6         LCV                       3
7         LCV                       2
8         LCV                       2
9         LCV                       2
10        LCV                       3
11        LCV                       3
12        LCV                       3
13        SUT                       6
14        LCV                       1
15        LCV                       1
16        SUT                       5
17        SUT                       6
18        SUT                       6
19        SUT                       6
20        LCV                       2
21        LCV                       2
22        SUT                       5
23        SUT                       5
24        MUT                       8
25        MUT                       8
26        MUT                       8
27        MUT                       8
28        MUT                       8
29        MUT                       8
30        LCV                       2
31        LCV                       2
32        LCV                       2
33        LCV                       1
34        SUT                       5
35        SUT                       5
36        LCV                       2
37        LCV                       1
38        LCV                       2
39        LCV                       3
40        SUT                       6
41        SUT                       5
42        LCV                       2
43        LCV                       1
44        LCV                       2
45        LCV                       2
46        LCV                       1
47        LCV                       1
48        LCV                       1
49        LCV                       1
50        LCV                       1
51        LCV                       1
52        LCV                       1
53        LCV                       1
54        LCV                       3
55        LCV                       1
56        LCV                       1
57        LCV                       1
58        LCV                       1
59        LCV                       1
60        LCV                       1
61        LCV                       1
62        LCV                       3
63        LCV                       1
64        LCV                       1
65        LCV                       1
66        LCV                       2
67        LCV                       1
68        LCV                       2
69        LCV                       2
70        LCV                       2
71        LCV                       2
72        LCV                       2
73        LCV                       2
74        LCV                       2
75        LCV                       2
76        LCV                       2
77        LCV                       2
78        LCV                       2
79        LCV                       2
80        LCV                       2
81        LCV                       2
82        LCV                       1
83        LCV                       2
84        LCV                       2
85        MUT                       8
86        SUT                       5
87        SUT                       5
88        LCV                       2
89        SUT                       5
90        MUT                       8
91        LCV                       2
92        LCV                       1
93        LCV                       2
94        LCV                       1
95        LCV                       2
96        LCV                       1
97        LCV                       2
98        LCV                       2
99        LCV                       2
100       LCV                       2
101       SUT                       5
102       SUT                       5
103       SUT                       5
104       SUT                       5
105       SUT                       6
106       SUT                       6
107       SUT                       5
108       LCV                       3
109       LCV                       1
110       LCV                       1
111       LCV                       1
112       LCV                       2
113       SUT                       5
114       SUT                       5
115       SUT                       5
116       LCV                       1
117       LCV                       1
118       LCV                       1
119       LCV                       1
120       LCV                       2
121       LCV                       2
122       LCV                       2
123       SUT                       5
124       LCV                       1
125       LCV                       1
126       LCV                       1
127       LCV                       1
128       MUT                       8
129       MUT                       8
130       MUT                       8
131       MUT                       8
132       MUT                       8
133       MUT                       8
134       MUT                       8
135       MUT                       8
136       MUT                       8
137       MUT                       8
138       LCV                       1
139       LCV                       1
140       SUT                       5
141       SUT                       5
142       SUT                       5
143       LCV                       2
144       LCV                       2
145       LCV                       2
146       LCV                       2
147       LCV                       2
148       LCV                       2
149       LCV                       2
150       LCV                       2
151       SUT                       5
152       LCV                       1
153       LCV                       2
154       LCV                       1
155       LCV                       1
156       LCV                       1
157       LCV                       2
158       LCV                       1
159       LCV                       1
160       LCV                       2
161       LCV                       1
162       LCV                       2
163       LCV                       2
164       LCV                       3
165       LCV                       3
166       LCV                       3
167       LCV                       1
168       LCV                       1
169       LCV                       3
170       LCV                       1
171       LCV                       1
172       LCV                       1
173       LCV                       1
174       MUT                       8
175       LCV                       2
176       LCV                       2
177       LCV                       2
178       LCV                       2
179       LCV                       2
180       LCV                       2
181       LCV                       2
182       LCV                       2
183       LCV                       2
184       LCV                       1
185       LCV                       1
186       LCV                       2
187       LCV                       1
188       LCV                       1
189       LCV                       1
190       LCV                       2
191       LCV                       1
192       LCV                       2
193       SUT                       5
194       SUT                       5
195       SUT                       5
196       MUT                       8
197       LCV                       1
198       LCV                       2
199       LCV                       2
200       LCV                       2
201       LCV                       2
202       LCV                       2
203       LCV                       2
204       LCV                       2
205       LCV                       2
206       LCV                       2
207       LCV                       2
208       LCV                       1
209       LCV                       1
210       LCV                       3
211       SUT                       5
212       SUT                       5
213       SUT                       5
214       SUT                       5
215       LCV                       3
216       LCV                       1
217       LCV                       2
218       LCV                       2
219       LCV                       2
220       LCV                       2
221       LCV                       2
222       LCV                       2
223       LCV                       2
224       LCV                       2
225       LCV                       2
226       LCV                       1
227       LCV                       1
228       LCV                       1
229       SUT                       5
230       SUT                       5
231       SUT                       5
232       SUT                       6
233       LCV                       2
234       SUT                       6
235       SUT                       5
236       SUT                       5
237       LCV                       2
238       LCV                       2
239       LCV                       2
240       LCV                       2
241       SUT                       5
242       LCV                       3
243       LCV                       3
244       LCV                       2
245       LCV                       1
246       LCV                       1
247       LCV                       1
248       LCV                       1
249       LCV                       1
250       LCV                       3
251       LCV                       3
252       SUT                       5
253       SUT                       5
254       LCV                       3
255       SUT                       4
256       SUT                       4
257       SUT                       4
258       SUT                       4
259       SUT                       4
260       SUT                       4
261       SUT                       4
262       SUT                       4
263       SUT                       4
264       SUT                       4
265       SUT                       4
266       SUT                       4
267       SUT                       4
268       SUT                       4
269       SUT                       4
270       SUT                       4
271       SUT                       4
272       SUT                       4
273       SUT                       5
274       LCV                       1
275       LCV                       1
276       LCV                       2
277       LCV                       2
278       LCV                       2
279       SUT                       5
280       SUT                       5
281       MUT                       8
282       MUT                       8
283       LCV                       2
284       LCV                       2
285       LCV                       1
286       LCV                       2
287       LCV                       2
288       LCV                       2
289       LCV                       1
290       LCV                       1
291       LCV                       1
292       LCV                       1
293       LCV                       3
294       LCV                       3
295       SUT                       5
296       LCV                       1
297       LCV                       3
298       LCV                       3
299       LCV                       3
300       LCV                       3
301       LCV                       3
302       LCV                       2
303       SUT                       5
304       LCV                       1
305       SUT                       6
306       MUT                       8
307       MUT                       8
308       SUT                       5
309       SUT                       7
310       LCV                       2
311       LCV                       3
312       LCV                       2
313       LCV                       1
314       LCV                       2
315       LCV                       1
316       LCV                       3
317       LCV                       1
318       LCV                       1
319       LCV                       2
320       SUT                       7
321       LCV                       1
322       LCV                       1
323       LCV                       1
324       LCV                       1
325       LCV                       2
326       LCV                       1
327       LCV                       1
328       LCV                       2
329       SUT                       5
330       SUT                       5
331       LCV                       2
332       LCV                       1
333       LCV                       3
334       SUT                       5
335       LCV                       2
336       LCV                       3
337       LCV                       2
338       LCV                       2
339       LCV                       1
340       LCV                       2
341       LCV                       2
342       LCV                       2
343       LCV                       2
344       LCV                       2
345       LCV                       1
346       MUT                       8
347       MUT                       8
348       SUT                       5
349       SUT                       5
350       LCV                       2
351       LCV                       2
352       LCV                       2
353       LCV                       3
354       LCV                       3
355       LCV                       2
356       LCV                       3
357       LCV                       3
358       LCV                       3
359       LCV                       3
360       LCV                       1
361       LCV                       1
362       LCV                       1
363       LCV                       3
364       LCV                       3
365       LCV                       3
366       LCV                       3
367       LCV                       1
368       LCV                       1
369       LCV                       1
370       LCV                       3
371       LCV                       1
372       LCV                       2
373       LCV                       3
374       LCV                       2
375       LCV                       1
376       LCV                       2
377       LCV                       2
378       LCV                       2
379       LCV                       2
380       LCV                       2
381       LCV                       3
382       LCV                       1
383       LCV                       1
384       LCV                       1
385       LCV                       1
386       LCV                       1
387       LCV                       2
388       LCV                       2
389       LCV                       2
390       LCV                       2
391       SUT                       5
392       SUT                       5
393       SUT                       5
394       LCV                       1
395       SUT                       5
396       LCV                       1
397       LCV                       3
398       LCV                       3
399       LCV                       2
400       LCV                       2
401       SUT                       5
402       LCV                       1
403       LCV                       1
404       LCV                       1
405       LCV                       1
406       MUT                       8
407       MUT                       8
408       MUT                       8
409       LCV                       1
410       SUT                       5
411       LCV                       3
412       LCV                       2
413       LCV                       1
414       LCV                       1
415       LCV                       3
416       LCV                       3
417       LCV                       3
418       LCV                       1
419       LCV                       2
420       LCV                       1
421       LCV                       2
422       LCV                       2
423       SUT                       5
424       SUT                       5
425       SUT                       5
426       LCV                       2
427       LCV                       1
428       LCV                       2
429       LCV                       2
430       LCV                       2
431       LCV                       2
432       LCV                       2
433       LCV                       2
434       LCV                       2
435       LCV                       2
436       LCV                       2
437       LCV                       2
438       LCV                       2
439       LCV                       2
440       LCV                       2
441       LCV                       2
442       LCV                       2
443       LCV                       2
444       LCV                       2
445       LCV                       2
446       SUT                       6
447       LCV                       3
448       LCV                       2
449       LCV                       2
450       SUT                       5
451       LCV                       1
452       SUT                       5
453       SUT                       5
454       SUT                       5
455       SUT                       5
456       LCV                       1
457       LCV                       2
458       LCV                       2
459       LCV                       2
460       LCV                       3
461       LCV                       3
462       LCV                       3
463       LCV                       3
464       LCV                       3
465       LCV                       3
466       LCV                       3
467       LCV                       3
468       LCV                       3
469       LCV                       3
470       LCV                       3
471       LCV                       3
472       LCV                       3
473       LCV                       3
474       LCV                       3
475       LCV                       3
476       LCV                       3
477       LCV                       3
478       LCV                       3
479       LCV                       3
480       LCV                       3
481       LCV                       3
482       LCV                       2
483       LCV                       2
484       LCV                       2
485       LCV                       2
486       LCV                       2
487       LCV                       2
488       LCV                       2
489       LCV                       2
490       LCV                       2
491       LCV                       2
492       LCV                       1
493       LCV                       3
494       LCV                       1
495       SUT                       5
496       LCV                       2
497       LCV                       2
498       LCV                       2
499       LCV                       2
500       LCV                       1
501       LCV                       1
502       LCV                       2
503       LCV                       2
504       LCV                       2
505       LCV                       3
506       MUT                       8
507       LCV                       1
508       LCV                       1
509       LCV                       1
510       LCV                       1
511       LCV                       2
512       LCV                       2
513       SUT                       5
514       LCV                       2
515       LCV                       2
516       LCV                       2
517       LCV                       2
518       LCV                       1
519       MUT                       8
520       LCV                       2
521       LCV                       1
522       LCV                       3
523       LCV                       3
524       LCV                       3

#### Clean the Data

In [31]:
# Decide which columns to keep and rearrange.
cols = ['company_id', 'vehicle_id', 'driver_id', 'trip_number', 'activity_type', 'placetype',
        'location_placename', 'location_address', 'location_longitude', 'location_latitude', 'taz',
        'arrival_time', 'departure_time', 'cargo_pickup', 'cargo_delivery', 'travel_date', 
        'participation_type', 'Most Likely Estimate Weight Factor']
        # 'Lower Estimate Weight Factor', 
        # 'Upper Estimate Weight Factor'

df_stops = df_stops[cols]

# Sort the dataframe
df_stops.sort_values(by=['company_id', 'vehicle_id', 'travel_date', 'trip_number'],
                     inplace=True, ascending=True)
df_stops.head()

,company_id,vehicle_id,driver_id,trip_number,activity_type,placetype,location_placename,location_address,location_longitude,location_latitude,taz,arrival_time,departure_time,cargo_pickup,cargo_delivery,travel_date,participation_type,Most Likely Estimate Weight Factor
0,100012,2062,2589,0,1,11,BASE,2801 B ST # 55,-117.133702,32.717871,2284,NaN,10:00:00,NaN,NaN,2022-09-30,online,177.825038
1,100012,2062,2589,1,11,6,PET SMART,1660 Camino De La Reina d,-117.149017,32.770912,2091,10:20:00,11:10:00,NaN,NaN,2022-09-30,online,177.825038
2,100012,2062,2589,2,1,11,BASE,2801 B ST # 55,-117.133702,32.717871,2284,11:22:00,11:40:00,NaN,NaN,2022-09-30,online,177.825038
3,100012,2062,2589,3,10,96,DOG PARK,2500 Balboa Dr,-117.158124,32.731546,1933,12:00:00,14:00:00,NaN,NaN,2022-09-30,online,177.825038
4,100012,2062,2589,4,1,11,BASE,2801 B ST # 55,-117.133702,32.717871,2284,14:20:00,NaN,NaN,NaN,2022-09-30,online,177.825038

#### Attach Vehicle Type Info

In [32]:
df_stops = df_stops.merge(df_veh[['id', 'veh_size']], how='left', left_on='vehicle_id', right_on='id')
df_stops.rename(columns={'veh_size': 'veh_type'}, inplace=True)
df_stops.drop(columns='id', inplace=True)
df_stops.head()

,company_id,vehicle_id,driver_id,trip_number,activity_type,placetype,location_placename,location_address,location_longitude,location_latitude,taz,arrival_time,departure_time,cargo_pickup,cargo_delivery,travel_date,participation_type,Most Likely Estimate Weight Factor,veh_type
0,100012,2062,2589,0,1,11,BASE,2801 B ST # 55,-117.133702,32.717871,2284,NaN,10:00:00,NaN,NaN,2022-09-30,online,177.825038,LCV
1,100012,2062,2589,1,11,6,PET SMART,1660 Camino De La Reina d,-117.149017,32.770912,2091,10:20:00,11:10:00,NaN,NaN,2022-09-30,online,177.825038,LCV
2,100012,2062,2589,2,1,11,BASE,2801 B ST # 55,-117.133702,32.717871,2284,11:22:00,11:40:00,NaN,NaN,2022-09-30,online,177.825038,LCV
3,100012,2062,2589,3,10,96,DOG PARK,2500 Balboa Dr,-117.158124,32.731546,1933,12:00:00,14:00:00,NaN,NaN,2022-09-30,online,177.825038,LCV
4,100012,2062,2589,4,1,11,BASE,2801 B ST # 55,-117.133702,32.717871,2284,14:20:00,NaN,NaN,NaN,2022-09-30,online,177.825038,LCV

#### Attach Establishment TAZ Info

In [33]:
lookup_estab = lookup_cv_estab if dataset == 'CV' else lookup_tnc_estab
df_stops = df_stops.merge(lookup_estab[['company_id', 'estab_taz']], how='left', on='company_id')
df_stops.head()

,company_id,vehicle_id,driver_id,trip_number,activity_type,placetype,location_placename,location_address,location_longitude,location_latitude,taz,arrival_time,departure_time,cargo_pickup,cargo_delivery,travel_date,participation_type,Most Likely Estimate Weight Factor,veh_type,estab_taz
0,100012,2062,2589,0,1,11,BASE,2801 B ST # 55,-117.133702,32.717871,2284,NaN,10:00:00,NaN,NaN,2022-09-30,online,177.825038,LCV,2284
1,100012,2062,2589,1,11,6,PET SMART,1660 Camino De La Reina d,-117.149017,32.770912,2091,10:20:00,11:10:00,NaN,NaN,2022-09-30,online,177.825038,LCV,2284
2,100012,2062,2589,2,1,11,BASE,2801 B ST # 55,-117.133702,32.717871,2284,11:22:00,11:40:00,NaN,NaN,2022-09-30,online,177.825038,LCV,2284
3,100012,2062,2589,3,10,96,DOG PARK,2500 Balboa Dr,-117.158124,32.731546,1933,12:00:00,14:00:00,NaN,NaN,2022-09-30,online,177.825038,LCV,2284
4,100012,2062,2589,4,1,11,BASE,2801 B ST # 55,-117.133702,32.717871,2284,14:20:00,NaN,NaN,NaN,2022-09-30,online,177.825038,LCV,2284

#### Update establishment TAZ info for stops that have a replacement establishment TAZ

In [34]:
if dataset == 'CV':
    for i, rowStop in df_stops.iterrows():
        for j, rowRep in lookup_cv_estab_replace.iterrows():
            if rowStop['travel_date']==rowRep['Date'] and rowStop['vehicle_id']==rowRep['Veh']:
#                 print(i, j,
#                       f"{df_stops.at[i, 'estab_taz']} was replaced by {lookup_cv_estab_replace.at[j, 'NewEstab_TAZ']}")
                df_stops.at[i, 'estab_taz'] = lookup_cv_estab_replace.at[j, 'NewEstab_TAZ']                
                break

#### Create the Trip Dataframe Using the Stop Dataframe

In [35]:
df_temp = df_stops.copy()
rename_dic = {
    'activity_type':      'd_act',
    'placetype':          'd_place_type',
    'location_placename': 'd_place_name',
    'location_address':   'd_address',
    'location_longitude': 'd_lon',
    'location_latitude':  'd_lat',
    'taz':                'd_taz',
    'arrival_time':       'd_arr_time',
    'departure_time':     'next_trip_dep_time',
    'Most Likely Estimate Weight Factor': 'expnsn_factor'
}
df_temp.rename(columns=rename_dic, inplace=True)
df_temp.head()

,company_id,vehicle_id,driver_id,trip_number,d_act,d_place_type,d_place_name,d_address,d_lon,d_lat,d_taz,d_arr_time,next_trip_dep_time,cargo_pickup,cargo_delivery,travel_date,participation_type,expnsn_factor,veh_type,estab_taz
0,100012,2062,2589,0,1,11,BASE,2801 B ST # 55,-117.133702,32.717871,2284,NaN,10:00:00,NaN,NaN,2022-09-30,online,177.825038,LCV,2284
1,100012,2062,2589,1,11,6,PET SMART,1660 Camino De La Reina d,-117.149017,32.770912,2091,10:20:00,11:10:00,NaN,NaN,2022-09-30,online,177.825038,LCV,2284
2,100012,2062,2589,2,1,11,BASE,2801 B ST # 55,-117.133702,32.717871,2284,11:22:00,11:40:00,NaN,NaN,2022-09-30,online,177.825038,LCV,2284
3,100012,2062,2589,3,10,96,DOG PARK,2500 Balboa Dr,-117.158124,32.731546,1933,12:00:00,14:00:00,NaN,NaN,2022-09-30,online,177.825038,LCV,2284
4,100012,2062,2589,4,1,11,BASE,2801 B ST # 55,-117.133702,32.717871,2284,14:20:00,NaN,NaN,NaN,2022-09-30,online,177.825038,LCV,2284

In [36]:
# For TNCs, set missing expansion factors to 1
df_temp['expnsn_factor'] = df_temp['expnsn_factor'].fillna(1)

In [37]:
# Create a dictionary of new columns that should be added.
cols_to_add_1 = ['o_act', 'o_place_type', 'o_lon', 'o_lat', 'o_taz', 'o_dep_time',
                 'travel_time', 'stop_duration',
                 'o_act_seg', 'o_plc_seg', 
                 'd_act_seg', 'd_plc_seg',
                 'trip_dist', 'orgn_to_hq_dist',
                 'hq_taz'
                ]
d1 = dict.fromkeys(cols_to_add_1, 0)

cols_to_add_2 = ['o_place_name', 'o_address',
                 'o_act_seg_name', 'o_plc_seg_name',
                 'd_act_seg_name', 'd_plc_seg_name',
                 'headquarters'
                ]
d2 = dict.fromkeys(cols_to_add_2, "")

d = {**d1, **d2}
d

{'o_act': 0,
 'o_place_type': 0,
 'o_lon': 0,
 'o_lat': 0,
 'o_taz': 0,
 'o_dep_time': 0,
 'travel_time': 0,
 'stop_duration': 0,
 'o_act_seg': 0,
 'o_plc_seg': 0,
 'd_act_seg': 0,
 'd_plc_seg': 0,
 'trip_dist': 0,
 'orgn_to_hq_dist': 0,
 'hq_taz': 0,
 'o_place_name': '',
 'o_address': '',
 'o_act_seg_name': '',
 'o_plc_seg_name': '',
 'd_act_seg_name': '',
 'd_plc_seg_name': '',
 'headquarters': ''}

In [38]:
# Add the new columns with them being initialized by the values of the above dictionary.
df_temp = df_temp.assign(**d)
df_temp.head()

,company_id,vehicle_id,driver_id,trip_number,d_act,d_place_type,d_place_name,d_address,d_lon,d_lat,d_taz,d_arr_time,next_trip_dep_time,cargo_pickup,cargo_delivery,travel_date,participation_type,expnsn_factor,veh_type,estab_taz,o_act,o_place_type,o_lon,o_lat,o_taz,o_dep_time,travel_time,stop_duration,o_act_seg,o_plc_seg,d_act_seg,d_plc_seg,trip_dist,orgn_to_hq_dist,hq_taz,o_place_name,o_address,o_act_seg_name,o_plc_seg_name,d_act_seg_name,d_plc_seg_name,headquarters
0,100012,2062,2589,0,1,11,BASE,2801 B ST # 55,-117.133702,32.717871,2284,NaN,10:00:00,NaN,NaN,2022-09-30,online,177.825038,LCV,2284,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,,,,,,,
1,100012,2062,2589,1,11,6,PET SMART,1660 Camino De La Reina d,-117.149017,32.770912,2091,10:20:00,11:10:00,NaN,NaN,2022-09-30,online,177.825038,LCV,2284,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,,,,,,,
2,100012,2062,2589,2,1,11,BASE,2801 B ST # 55,-117.133702,32.717871,2284,11:22:00,11:40:00,NaN,NaN,2022-09-30,online,177.825038,LCV,2284,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,,,,,,,
3,100012,2062,2589,3,10,96,DOG PARK,2500 Balboa Dr,-117.158124,32.731546,1933,12:00:00,14:00:00,NaN,NaN,2022-09-30,online,177.825038,LCV,2284,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,,,,,,,
4,100012,2062,2589,4,1,11,BASE,2801 B ST # 55,-117.133702,32.717871,2284,14:20:00,NaN,NaN,NaN,2022-09-30,online,177.825038,LCV,2284,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,,,,,,,

In [39]:
# Rearrange.
cols = ['company_id', 'vehicle_id', 'driver_id', 'trip_number',
        'o_act_seg', 'o_act_seg_name', 'o_plc_seg', 'o_plc_seg_name',
        'd_act_seg', 'd_act_seg_name', 'd_plc_seg', 'd_plc_seg_name', 
        'o_act', 'o_place_type', 'o_place_name', 'o_address', 'o_lon', 'o_lat', 'o_taz',
        'd_act', 'd_place_type', 'd_place_name', 'd_address', 'd_lon', 'd_lat', 'd_taz',
        'trip_dist', 'headquarters', 'hq_taz', 'orgn_to_hq_dist',
        'o_dep_time', 'd_arr_time', 'next_trip_dep_time', 'travel_time', 'stop_duration',        
        'veh_type', 'cargo_pickup', 'cargo_delivery', 'travel_date',
        'participation_type', 'expnsn_factor', 'estab_taz'
       ]
df_temp = df_temp[cols]
df_temp.head()

,company_id,vehicle_id,driver_id,trip_number,o_act_seg,o_act_seg_name,o_plc_seg,o_plc_seg_name,d_act_seg,d_act_seg_name,d_plc_seg,d_plc_seg_name,o_act,o_place_type,o_place_name,o_address,o_lon,o_lat,o_taz,d_act,d_place_type,d_place_name,d_address,d_lon,d_lat,d_taz,trip_dist,headquarters,hq_taz,orgn_to_hq_dist,o_dep_time,d_arr_time,next_trip_dep_time,travel_time,stop_duration,veh_type,cargo_pickup,cargo_delivery,travel_date,participation_type,expnsn_factor,estab_taz
0,100012,2062,2589,0,0,,0,,0,,0,,0,0,,,0,0,0,1,11,BASE,2801 B ST # 55,-117.133702,32.717871,2284,0,,0,0,0,NaN,10:00:00,0,0,LCV,NaN,NaN,2022-09-30,online,177.825038,2284
1,100012,2062,2589,1,0,,0,,0,,0,,0,0,,,0,0,0,11,6,PET SMART,1660 Camino De La Reina d,-117.149017,32.770912,2091,0,,0,0,0,10:20:00,11:10:00,0,0,LCV,NaN,NaN,2022-09-30,online,177.825038,2284
2,100012,2062,2589,2,0,,0,,0,,0,,0,0,,,0,0,0,1,11,BASE,2801 B ST # 55,-117.133702,32.717871,2284,0,,0,0,0,11:22:00,11:40:00,0,0,LCV,NaN,NaN,2022-09-30,online,177.825038,2284
3,100012,2062,2589,3,0,,0,,0,,0,,0,0,,,0,0,0,10,96,DOG PARK,2500 Balboa Dr,-117.158124,32.731546,1933,0,,0,0,0,12:00:00,14:00:00,0,0,LCV,NaN,NaN,2022-09-30,online,177.825038,2284
4,100012,2062,2589,4,0,,0,,0,,0,,0,0,,,0,0,0,1,11,BASE,2801 B ST # 55,-117.133702,32.717871,2284,0,,0,0,0,14:20:00,NaN,0,0,LCV,NaN,NaN,2022-09-30,online,177.825038,2284

In [40]:
# Add origin information from the previous row.
dic_read_last = {
    'o_act':        'd_act',
    'o_place_type': 'd_place_type',
    'o_place_name': 'd_place_name',
    'o_address':    'd_address',
    'o_lon':        'd_lon',
    'o_lat':        'd_lat',
    'o_taz':        'd_taz',
    'o_dep_time':   'next_trip_dep_time',
    'travel_date':  'travel_date'
}

for k, v in dic_read_last.items():
    df_temp.loc[df_temp['trip_number']!=0, k] = df_temp[v].shift(1)

df_temp['o_taz'] = df_temp['o_taz'].astype('int64')

df_temp.head()

,company_id,vehicle_id,driver_id,trip_number,o_act_seg,o_act_seg_name,o_plc_seg,o_plc_seg_name,d_act_seg,d_act_seg_name,d_plc_seg,d_plc_seg_name,o_act,o_place_type,o_place_name,o_address,o_lon,o_lat,o_taz,d_act,d_place_type,d_place_name,d_address,d_lon,d_lat,d_taz,trip_dist,headquarters,hq_taz,orgn_to_hq_dist,o_dep_time,d_arr_time,next_trip_dep_time,travel_time,stop_duration,veh_type,cargo_pickup,cargo_delivery,travel_date,participation_type,expnsn_factor,estab_taz
0,100012,2062,2589,0,0,,0,,0,,0,,0.0,0.0,,,0.000000,0.000000,0,1,11,BASE,2801 B ST # 55,-117.133702,32.717871,2284,0,,0,0,0,NaN,10:00:00,0,0,LCV,NaN,NaN,2022-09-30,online,177.825038,2284
1,100012,2062,2589,1,0,,0,,0,,0,,1.0,11.0,BASE,2801 B ST # 55,-117.133702,32.717871,2284,11,6,PET SMART,1660 Camino De La Reina d,-117.149017,32.770912,2091,0,,0,0,10:00:00,10:20:00,11:10:00,0,0,LCV,NaN,NaN,2022-09-30,online,177.825038,2284
2,100012,2062,2589,2,0,,0,,0,,0,,11.0,6.0,PET SMART,1660 Camino De La Reina d,-117.149017,32.770912,2091,1,11,BASE,2801 B ST # 55,-117.133702,32.717871,2284,0,,0,0,11:10:00,11:22:00,11:40:00,0,0,LCV,NaN,NaN,2022-09-30,online,177.825038,2284
3,100012,2062,2589,3,0,,0,,0,,0,,1.0,11.0,BASE,2801 B ST # 55,-117.133702,32.717871,2284,10,96,DOG PARK,2500 Balboa Dr,-117.158124,32.731546,1933,0,,0,0,11:40:00,12:00:00,14:00:00,0,0,LCV,NaN,NaN,2022-09-30,online,177.825038,2284
4,100012,2062,2589,4,0,,0,,0,,0,,10.0,96.0,DOG PARK,2500 Balboa Dr,-117.158124,32.731546,1933,1,11,BASE,2801 B ST # 55,-117.133702,32.717871,2284,0,,0,0,14:00:00,14:20:00,NaN,0,0,LCV,NaN,NaN,2022-09-30,online,177.825038,2284

In [41]:
# Remove the first record of each vehicle as it doesn't represent a trip, rather the 
# initial origin of the vehicle, whose critical info has already been stored in the next record.
df_temp = df_temp.loc[df_temp['trip_number']!=0]
df_temp.head()

,company_id,vehicle_id,driver_id,trip_number,o_act_seg,o_act_seg_name,o_plc_seg,o_plc_seg_name,d_act_seg,d_act_seg_name,d_plc_seg,d_plc_seg_name,o_act,o_place_type,o_place_name,o_address,o_lon,o_lat,o_taz,d_act,d_place_type,d_place_name,d_address,d_lon,d_lat,d_taz,trip_dist,headquarters,hq_taz,orgn_to_hq_dist,o_dep_time,d_arr_time,next_trip_dep_time,travel_time,stop_duration,veh_type,cargo_pickup,cargo_delivery,travel_date,participation_type,expnsn_factor,estab_taz
1,100012,2062,2589,1,0,,0,,0,,0,,1.0,11.0,BASE,2801 B ST # 55,-117.133702,32.717871,2284,11,6,PET SMART,1660 Camino De La Reina d,-117.149017,32.770912,2091,0,,0,0,10:00:00,10:20:00,11:10:00,0,0,LCV,NaN,NaN,2022-09-30,online,177.825038,2284
2,100012,2062,2589,2,0,,0,,0,,0,,11.0,6.0,PET SMART,1660 Camino De La Reina d,-117.149017,32.770912,2091,1,11,BASE,2801 B ST # 55,-117.133702,32.717871,2284,0,,0,0,11:10:00,11:22:00,11:40:00,0,0,LCV,NaN,NaN,2022-09-30,online,177.825038,2284
3,100012,2062,2589,3,0,,0,,0,,0,,1.0,11.0,BASE,2801 B ST # 55,-117.133702,32.717871,2284,10,96,DOG PARK,2500 Balboa Dr,-117.158124,32.731546,1933,0,,0,0,11:40:00,12:00:00,14:00:00,0,0,LCV,NaN,NaN,2022-09-30,online,177.825038,2284
4,100012,2062,2589,4,0,,0,,0,,0,,10.0,96.0,DOG PARK,2500 Balboa Dr,-117.158124,32.731546,1933,1,11,BASE,2801 B ST # 55,-117.133702,32.717871,2284,0,,0,0,14:00:00,14:20:00,NaN,0,0,LCV,NaN,NaN,2022-09-30,online,177.825038,2284
6,100012,2063,2590,1,0,,0,,0,,0,,1.0,11.0,BASE,2801 B ST # 55,-117.133702,32.717871,2284,10,96,DOG PARK,Soto St,-117.237975,32.752893,828,0,,0,0,14:00:00,14:11:00,16:45:00,0,0,LCV,NaN,NaN,2022-09-30,online,177.825038,2284

In [42]:
# Fill the activity and place segment fields.
df_temp['o_act_seg']      = df_temp['o_act'].map(lambda x: dic_at[x][0])
df_temp['o_act_seg_name'] = df_temp['o_act'].map(lambda x: dic_at[x][1])
df_temp['d_act_seg']      = df_temp['d_act'].apply(lambda x: dic_at[x][0])
df_temp['d_act_seg_name'] = df_temp['d_act'].apply(lambda x: dic_at[x][1])

df_temp['o_plc_seg']      = df_temp['o_place_type'].map(lambda x: dic_pt[x][0])
df_temp['o_plc_seg_name'] = df_temp['o_place_type'].map(lambda x: dic_pt[x][1])
df_temp['d_plc_seg']      = df_temp['d_place_type'].apply(lambda x: dic_pt[x][0])
df_temp['d_plc_seg_name'] = df_temp['d_place_type'].apply(lambda x: dic_pt[x][1])

df_temp.head()

,company_id,vehicle_id,driver_id,trip_number,o_act_seg,o_act_seg_name,o_plc_seg,o_plc_seg_name,d_act_seg,d_act_seg_name,d_plc_seg,d_plc_seg_name,o_act,o_place_type,o_place_name,o_address,o_lon,o_lat,o_taz,d_act,d_place_type,d_place_name,d_address,d_lon,d_lat,d_taz,trip_dist,headquarters,hq_taz,orgn_to_hq_dist,o_dep_time,d_arr_time,next_trip_dep_time,travel_time,stop_duration,veh_type,cargo_pickup,cargo_delivery,travel_date,participation_type,expnsn_factor,estab_taz
1,100012,2062,2589,1,B,Base,1,Residential,M,Maintenance/Other,5,Retail and Restaurant,1.0,11.0,BASE,2801 B ST # 55,-117.133702,32.717871,2284,11,6,PET SMART,1660 Camino De La Reina d,-117.149017,32.770912,2091,0,,0,0,10:00:00,10:20:00,11:10:00,0,0,LCV,NaN,NaN,2022-09-30,online,177.825038,2284
2,100012,2062,2589,2,M,Maintenance/Other,5,Retail and Restaurant,B,Base,1,Residential,11.0,6.0,PET SMART,1660 Camino De La Reina d,-117.149017,32.770912,2091,1,11,BASE,2801 B ST # 55,-117.133702,32.717871,2284,0,,0,0,11:10:00,11:22:00,11:40:00,0,0,LCV,NaN,NaN,2022-09-30,online,177.825038,2284
3,100012,2062,2589,3,B,Base,1,Residential,S,Service,4,Other,1.0,11.0,BASE,2801 B ST # 55,-117.133702,32.717871,2284,10,96,DOG PARK,2500 Balboa Dr,-117.158124,32.731546,1933,0,,0,0,11:40:00,12:00:00,14:00:00,0,0,LCV,NaN,NaN,2022-09-30,online,177.825038,2284
4,100012,2062,2589,4,S,Service,4,Other,B,Base,1,Residential,10.0,96.0,DOG PARK,2500 Balboa Dr,-117.158124,32.731546,1933,1,11,BASE,2801 B ST # 55,-117.133702,32.717871,2284,0,,0,0,14:00:00,14:20:00,NaN,0,0,LCV,NaN,NaN,2022-09-30,online,177.825038,2284
6,100012,2063,2590,1,B,Base,1,Residential,S,Service,4,Other,1.0,11.0,BASE,2801 B ST # 55,-117.133702,32.717871,2284,10,96,DOG PARK,Soto St,-117.237975,32.752893,828,0,,0,0,14:00:00,14:11:00,16:45:00,0,0,LCV,NaN,NaN,2022-09-30,online,177.825038,2284

In [43]:
# df_temp.loc[(df_temp['d_act_seg']=='B')&(df_temp['d_taz']!=df_temp['estab_taz'])].head(1000)

In [44]:
df_temp.groupby(['d_act_seg', 'd_act_seg_name']).size()

d_act_seg  d_act_seg_name
B          Base                 1621
D          Goods_Delivery       1948
H          Home                  392
M          Maintenance/Other    2317
P          Goods_Pickup          224
S          Service              4185
dtype: int64

##### Fix Activity Type 'Base' If Stop's TAZ Is Not Equal to Establishment TAZ

In [45]:
df_temp.loc[(df_temp['o_act_seg']=='B')&
            (df_temp['o_taz']!=df_temp['estab_taz'])&
            (df_temp['o_act'].isin([12])), ['o_act_seg', 'o_act_seg_name']
           ] = 'P', 'Goods_Pickup'

df_temp.loc[(df_temp['o_act_seg']=='B')&
            (df_temp['o_taz']!=df_temp['estab_taz'])&
            (df_temp['o_act'].isin([13])), ['o_act_seg', 'o_act_seg_name']
           ] = 'D', 'Goods_Delivery'

df_temp.loc[(df_temp['o_act_seg']=='B')&
            (df_temp['o_taz']!=df_temp['estab_taz'])&
            (~df_temp['o_act'].isin([12, 13])), ['o_act_seg', 'o_act_seg_name']
           ] = 'M', 'Maintenance/Other'

df_temp.loc[(df_temp['d_act_seg']=='B')&
            (df_temp['d_taz']!=df_temp['estab_taz'])&
            (df_temp['d_act'].isin([12])), ['d_act_seg', 'd_act_seg_name']
           ] = 'P', 'Goods_Pickup'

df_temp.loc[(df_temp['d_act_seg']=='B')&
            (df_temp['d_taz']!=df_temp['estab_taz'])&
            (df_temp['d_act'].isin([13])), ['d_act_seg', 'd_act_seg_name']
           ] = 'D', 'Goods_Delivery'

df_temp.loc[(df_temp['d_act_seg']=='B')&
            (df_temp['d_taz']!=df_temp['estab_taz'])&
            (~df_temp['d_act'].isin([12, 13])), ['d_act_seg', 'd_act_seg_name']
           ] = 'M', 'Maintenance/Other'

In [46]:
# df_temp.loc[df_temp['d_taz']!=df_temp['estab_taz']].head(1000)

In [47]:
df_temp.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10687 entries, 1 to 12260
Data columns (total 42 columns):
company_id            10687 non-null int64
vehicle_id            10687 non-null int64
driver_id             10687 non-null int64
trip_number           10687 non-null int64
o_act_seg             10687 non-null object
o_act_seg_name        10687 non-null object
o_plc_seg             10687 non-null int64
o_plc_seg_name        10687 non-null object
d_act_seg             10687 non-null object
d_act_seg_name        10687 non-null object
d_plc_seg             10687 non-null int64
d_plc_seg_name        10687 non-null object
o_act                 10687 non-null float64
o_place_type          10687 non-null float64
o_place_name          10687 non-null object
o_address             10687 non-null object
o_lon                 10687 non-null float64
o_lat                 10687 non-null float64
o_taz                 10687 non-null int64
d_act                 10687 non-null int64
d_place_type          10687 non-null int64
d_place_name          10687 non-null object
d_address             10687 non-null object
d_lon                 10687 non-null float64
d_lat                 10687 non-null float64
d_taz                 10687 non-null int64
trip_dist             10687 non-null int64
headquarters          10687 non-null object
hq_taz                10687 non-null int64
orgn_to_hq_dist       10687 non-null int64
o_dep_time            10687 non-null object
d_arr_time            10687 non-null object
next_trip_dep_time    9113 non-null object
travel_time           10687 non-null int64
stop_duration         10687 non-null int64
veh_type              10687 non-null object
cargo_pickup          274 non-null float64
cargo_delivery        2002 non-null object
travel_date           10687 non-null datetime64[ns]
participation_type    10687 non-null object
expnsn_factor         10687 non-null float64
estab_taz             10687 non-null int64
dtypes: datetime64[ns](1), float64(8), int64(16), object(17)
memory usage: 12.7 MB

##### Include the industry of establishments

In [48]:
if dataset == 'CV':
    df_temp = df_temp.merge(df_estab[['company_id', 'base_location_Industry Group']], how='left', on='company_id')
    df_temp.rename(columns={'base_location_Industry Group': 'industry_code'}, inplace=True)
    df_temp = df_temp.merge(lookup_ind[['industry_code', 'industry_group']], how='left', on='industry_code')
    temp = df_temp.pop('industry_group')
    df_temp.insert(1, 'industry_group', temp)

In [49]:
def omit_spaces(s):
    return s.replace(' ', '')

if dataset == 'TNC':
    df_temp = df_temp.merge(df_estab[['company_id', 'company_name']], how='left', on='company_id')
    
    # Some of the company names have leading or lagging spaces in their names.
    df_temp['company_name'] = df_temp['company_name'].apply(str.strip).apply(str.lower).apply(omit_spaces)
    df_temp['company_name'] = df_temp['company_name'].map(dic_tnc_names)
        
    # Figure out the industry groups.
    df_temp.insert(1, 'industry_group', "")
    df_temp['industry_group'] = df_temp['company_name'].map(dic_tnc_categories)
    
    df_temp['industry_group'] = 'TNC_' + df_temp['industry_group']

In [50]:
df_temp.head()

,company_id,industry_group,vehicle_id,driver_id,trip_number,o_act_seg,o_act_seg_name,o_plc_seg,o_plc_seg_name,d_act_seg,d_act_seg_name,d_plc_seg,d_plc_seg_name,o_act,o_place_type,o_place_name,o_address,o_lon,o_lat,o_taz,d_act,d_place_type,d_place_name,d_address,d_lon,d_lat,d_taz,trip_dist,headquarters,hq_taz,orgn_to_hq_dist,o_dep_time,d_arr_time,next_trip_dep_time,travel_time,stop_duration,veh_type,cargo_pickup,cargo_delivery,travel_date,participation_type,expnsn_factor,estab_taz,industry_code
0,100012,Education/Other public services,2062,2589,1,B,Base,1,Residential,M,Maintenance/Other,5,Retail and Restaurant,1.0,11.0,BASE,2801 B ST # 55,-117.133702,32.717871,2284,11,6,PET SMART,1660 Camino De La Reina d,-117.149017,32.770912,2091,0,,0,0,10:00:00,10:20:00,11:10:00,0,0,LCV,NaN,NaN,2022-09-30,online,177.825038,2284,9
1,100012,Education/Other public services,2062,2589,2,M,Maintenance/Other,5,Retail and Restaurant,B,Base,1,Residential,11.0,6.0,PET SMART,1660 Camino De La Reina d,-117.149017,32.770912,2091,1,11,BASE,2801 B ST # 55,-117.133702,32.717871,2284,0,,0,0,11:10:00,11:22:00,11:40:00,0,0,LCV,NaN,NaN,2022-09-30,online,177.825038,2284,9
2,100012,Education/Other public services,2062,2589,3,B,Base,1,Residential,S,Service,4,Other,1.0,11.0,BASE,2801 B ST # 55,-117.133702,32.717871,2284,10,96,DOG PARK,2500 Balboa Dr,-117.158124,32.731546,1933,0,,0,0,11:40:00,12:00:00,14:00:00,0,0,LCV,NaN,NaN,2022-09-30,online,177.825038,2284,9
3,100012,Education/Other public services,2062,2589,4,S,Service,4,Other,B,Base,1,Residential,10.0,96.0,DOG PARK,2500 Balboa Dr,-117.158124,32.731546,1933,1,11,BASE,2801 B ST # 55,-117.133702,32.717871,2284,0,,0,0,14:00:00,14:20:00,NaN,0,0,LCV,NaN,NaN,2022-09-30,online,177.825038,2284,9
4,100012,Education/Other public services,2063,2590,1,B,Base,1,Residential,S,Service,4,Other,1.0,11.0,BASE,2801 B ST # 55,-117.133702,32.717871,2284,10,96,DOG PARK,Soto St,-117.237975,32.752893,828,0,,0,0,14:00:00,14:11:00,16:45:00,0,0,LCV,NaN,NaN,2022-09-30,online,177.825038,2284,9

In [51]:
df_trips = df_temp.copy()
del df_temp
# gc.collect()

##### Clean the time fields

Glossary:<br>
|Field          | Meaning|
|:---------------|:--------------------|
|str_td | Travel Date as String | 
|str_o_dt|      Departure Time from the Origin as String|
|str_d_at |     Arrival Time at the Destination as String|
|str_nt_dt |    Next Trip Departure Time as String|
|o_dt       |   Departure Time from the Origin as TimeStamp|
|d_at        |  Arrival Time at the Destination as TimeStamp|
|nt_dt        | Next Trip Departure Time as TimeStamp|

In [52]:
print(df_trips['travel_date'].dtypes)
print(df_trips['o_dep_time'].dtypes)
print(df_trips['d_arr_time'].dtypes)
print(df_trips['next_trip_dep_time'].dtypes)

datetime64[ns]
object
object
object

In [53]:
df_trips['str_td'] = df_trips['travel_date'].dt.strftime('%Y-%m-%d')    # str_td = travel date as string
df_trips.head()

,company_id,industry_group,vehicle_id,driver_id,trip_number,o_act_seg,o_act_seg_name,o_plc_seg,o_plc_seg_name,d_act_seg,d_act_seg_name,d_plc_seg,d_plc_seg_name,o_act,o_place_type,o_place_name,o_address,o_lon,o_lat,o_taz,d_act,d_place_type,d_place_name,d_address,d_lon,d_lat,d_taz,trip_dist,headquarters,hq_taz,orgn_to_hq_dist,o_dep_time,d_arr_time,next_trip_dep_time,travel_time,stop_duration,veh_type,cargo_pickup,cargo_delivery,travel_date,participation_type,expnsn_factor,estab_taz,industry_code,str_td
0,100012,Education/Other public services,2062,2589,1,B,Base,1,Residential,M,Maintenance/Other,5,Retail and Restaurant,1.0,11.0,BASE,2801 B ST # 55,-117.133702,32.717871,2284,11,6,PET SMART,1660 Camino De La Reina d,-117.149017,32.770912,2091,0,,0,0,10:00:00,10:20:00,11:10:00,0,0,LCV,NaN,NaN,2022-09-30,online,177.825038,2284,9,2022-09-30
1,100012,Education/Other public services,2062,2589,2,M,Maintenance/Other,5,Retail and Restaurant,B,Base,1,Residential,11.0,6.0,PET SMART,1660 Camino De La Reina d,-117.149017,32.770912,2091,1,11,BASE,2801 B ST # 55,-117.133702,32.717871,2284,0,,0,0,11:10:00,11:22:00,11:40:00,0,0,LCV,NaN,NaN,2022-09-30,online,177.825038,2284,9,2022-09-30
2,100012,Education/Other public services,2062,2589,3,B,Base,1,Residential,S,Service,4,Other,1.0,11.0,BASE,2801 B ST # 55,-117.133702,32.717871,2284,10,96,DOG PARK,2500 Balboa Dr,-117.158124,32.731546,1933,0,,0,0,11:40:00,12:00:00,14:00:00,0,0,LCV,NaN,NaN,2022-09-30,online,177.825038,2284,9,2022-09-30
3,100012,Education/Other public services,2062,2589,4,S,Service,4,Other,B,Base,1,Residential,10.0,96.0,DOG PARK,2500 Balboa Dr,-117.158124,32.731546,1933,1,11,BASE,2801 B ST # 55,-117.133702,32.717871,2284,0,,0,0,14:00:00,14:20:00,NaN,0,0,LCV,NaN,NaN,2022-09-30,online,177.825038,2284,9,2022-09-30
4,100012,Education/Other public services,2063,2590,1,B,Base,1,Residential,S,Service,4,Other,1.0,11.0,BASE,2801 B ST # 55,-117.133702,32.717871,2284,10,96,DOG PARK,Soto St,-117.237975,32.752893,828,0,,0,0,14:00:00,14:11:00,16:45:00,0,0,LCV,NaN,NaN,2022-09-30,online,177.825038,2284,9,2022-09-30

In [54]:
df_trips['o_dep_time'].describe()

count        10687
unique        1884
top       11:00:00
freq            73
Name: o_dep_time, dtype: object

In [55]:
if dataset == 'CV':
    df_trips['str_o_dt'] =  df_trips['o_dep_time'].astype(str)
    print(f"Max length of column str_o_dt: {max(df_trips['str_o_dt'].str.len())}")
    print(f"Min length of column str_o_dt: {min(df_trips['str_o_dt'].str.len())}\n")

    df_trips['str_d_at'] =  df_trips['d_arr_time'].astype(str)
    print(f"Max length of column str_d_at: {max(df_trips['str_d_at'].str.len())}")
    print(f"Min length of column str_d_at: {min(df_trips['str_d_at'].str.len())}")
    df_trips.loc[df_trips['str_d_at'].str.len()>8]
    df_trips['str_d_at'] =df_trips['str_d_at'].str[-8:]
    print(f"Max length of column str_d_at: {max(df_trips['str_d_at'].str.len())}, after cleaning")
    print(f"Min length of column str_d_at: {min(df_trips['str_d_at'].str.len())}, after cleaning\n")

    df_trips['str_nt_dt'] =  df_trips['next_trip_dep_time'].astype(str)
    print(f"Max length of column str_nt_dt: {max(df_trips['str_nt_dt'].str.len())}")
    print(f"Min length of column str_nt_dt: {min(df_trips['str_nt_dt'].str.len())}")
    df_trips.loc[df_trips['str_nt_dt'].str.len()<8].head(2)

Max length of column str_o_dt: 8
Min length of column str_o_dt: 8

Max length of column str_d_at: 19
Min length of column str_d_at: 8
Max length of column str_d_at: 8, after cleaning
Min length of column str_d_at: 8, after cleaning

Max length of column str_nt_dt: 8
Min length of column str_nt_dt: 3

In [56]:
if dataset == 'TNC':
    df_trips['str_o_dt'] =  df_trips['o_dep_time'].astype(str)
#     print('Before:\n', df_trips['str_o_dt'].loc[~df_trips['str_o_dt'].str.len().isin([8, 15])])
    df_trips['str_o_dt'] = df_trips['str_o_dt'].\
    apply(lambda x: x[11:] if x[:10]=='1900-01-01' else x)
#     print('\nAfter:\n', df_trips['str_o_dt'].loc[~df_trips['str_o_dt'].str.len().isin([8, 15])])
    df_trips['str_o_dt'].loc[df_trips['str_o_dt'].str.len()!=8]
    df_trips['str_o_dt'].loc[df_trips['str_o_dt'].str.len()==8]
    df_trips.loc[df_trips['str_o_dt'].str.len()!=8, 'str_o_dt'] = df_trips['str_o_dt'].str[:-7]
    print(f"\n'o_dt' data are now clean: " +
          f"{len(df_trips.loc[df_trips['str_o_dt'].str.len()==8]) == len(df_trips)}\n\n")
    
    df_trips['str_d_at'] =  df_trips['d_arr_time'].astype(str)
#     print('Before:\n', df_trips['str_d_at'].loc[~df_trips['str_d_at'].str.len().isin([8, 15])])
    df_trips['str_d_at'] = df_trips['str_d_at'].\
    apply(lambda x: x[11:] if x[:10]=='1900-01-01' else x)
#     print('\nAfter:\n', df_trips['str_d_at'].loc[~df_trips['str_d_at'].str.len().isin([8, 15])])
    df_trips['str_d_at'].loc[df_trips['str_d_at'].str.len()!=8]
    df_trips['str_d_at'].loc[df_trips['str_d_at'].str.len()==8]
    df_trips.loc[df_trips['str_d_at'].str.len()!=8, 'str_d_at'] = df_trips['str_d_at'].str[:-7]
    print(f"\n'd_at' data are now clean: " +
          f"{len(df_trips.loc[df_trips['str_d_at'].str.len()==8]) == len(df_trips)}")

    df_trips['str_nt_dt'] =  df_trips['next_trip_dep_time'].astype(str)
#     print('Before:\n', df_trips['str_nt_dt'].loc[~df_trips['str_nt_dt'].str.len().isin([3, 8, 15])])
    df_trips['str_nt_dt'] = df_trips['str_nt_dt'].\
    apply(lambda x: x[11:] if x[:10]=='1900-01-01' else x)
#     print('\nAfter:\n', df_trips['str_nt_dt'].loc[~df_trips['str_nt_dt'].str.len().isin([3, 8, 15])])
    df_trips['str_nt_dt'].loc[~df_trips['str_nt_dt'].str.len().isin([3, 8])]
    df_trips['str_nt_dt'].loc[df_trips['str_nt_dt'].str.len()==8]
    df_trips.loc[df_trips['str_nt_dt'].str.len()==15, 'str_nt_dt'] = df_trips['str_nt_dt'].str[:-7]
    actual_times = len(df_trips.loc[df_trips['str_nt_dt'].str.len()==8])
    nans = len(df_trips.loc[df_trips['str_nt_dt'].str.len()==3])    
    print(f"\n'nt_dt' data are now clean: " +
          f"{actual_times+nans==len(df_trips)}\n")
    print(f'Number of recorded times: {actual_times}')
    print(f'Number of NANs: {nans}')
    print(f'Total trips in the dataframe: {len(df_trips)}')

In [57]:
df_trips['o_dt'] = df_trips['str_td'] + ' ' + df_trips['str_o_dt']
df_trips['o_dt'] = pd.to_datetime(df_trips['o_dt'])
print(type(df_trips['o_dt']))
print(type(df_trips['o_dt'][0]))
df_trips.head()

<class 'pandas.core.series.Series'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

,company_id,industry_group,vehicle_id,driver_id,trip_number,o_act_seg,o_act_seg_name,o_plc_seg,o_plc_seg_name,d_act_seg,d_act_seg_name,d_plc_seg,d_plc_seg_name,o_act,o_place_type,o_place_name,o_address,o_lon,o_lat,o_taz,d_act,d_place_type,d_place_name,d_address,d_lon,d_lat,d_taz,trip_dist,headquarters,hq_taz,orgn_to_hq_dist,o_dep_time,d_arr_time,next_trip_dep_time,travel_time,stop_duration,veh_type,cargo_pickup,cargo_delivery,travel_date,participation_type,expnsn_factor,estab_taz,industry_code,str_td,str_o_dt,str_d_at,str_nt_dt,o_dt
0,100012,Education/Other public services,2062,2589,1,B,Base,1,Residential,M,Maintenance/Other,5,Retail and Restaurant,1.0,11.0,BASE,2801 B ST # 55,-117.133702,32.717871,2284,11,6,PET SMART,1660 Camino De La Reina d,-117.149017,32.770912,2091,0,,0,0,10:00:00,10:20:00,11:10:00,0,0,LCV,NaN,NaN,2022-09-30,online,177.825038,2284,9,2022-09-30,10:00:00,10:20:00,11:10:00,2022-09-30 10:00:00
1,100012,Education/Other public services,2062,2589,2,M,Maintenance/Other,5,Retail and Restaurant,B,Base,1,Residential,11.0,6.0,PET SMART,1660 Camino De La Reina d,-117.149017,32.770912,2091,1,11,BASE,2801 B ST # 55,-117.133702,32.717871,2284,0,,0,0,11:10:00,11:22:00,11:40:00,0,0,LCV,NaN,NaN,2022-09-30,online,177.825038,2284,9,2022-09-30,11:10:00,11:22:00,11:40:00,2022-09-30 11:10:00
2,100012,Education/Other public services,2062,2589,3,B,Base,1,Residential,S,Service,4,Other,1.0,11.0,BASE,2801 B ST # 55,-117.133702,32.717871,2284,10,96,DOG PARK,2500 Balboa Dr,-117.158124,32.731546,1933,0,,0,0,11:40:00,12:00:00,14:00:00,0,0,LCV,NaN,NaN,2022-09-30,online,177.825038,2284,9,2022-09-30,11:40:00,12:00:00,14:00:00,2022-09-30 11:40:00
3,100012,Education/Other public services,2062,2589,4,S,Service,4,Other,B,Base,1,Residential,10.0,96.0,DOG PARK,2500 Balboa Dr,-117.158124,32.731546,1933,1,11,BASE,2801 B ST # 55,-117.133702,32.717871,2284,0,,0,0,14:00:00,14:20:00,NaN,0,0,LCV,NaN,NaN,2022-09-30,online,177.825038,2284,9,2022-09-30,14:00:00,14:20:00,nan,2022-09-30 14:00:00
4,100012,Education/Other public services,2063,2590,1,B,Base,1,Residential,S,Service,4,Other,1.0,11.0,BASE,2801 B ST # 55,-117.133702,32.717871,2284,10,96,DOG PARK,Soto St,-117.237975,32.752893,828,0,,0,0,14:00:00,14:11:00,16:45:00,0,0,LCV,NaN,NaN,2022-09-30,online,177.825038,2284,9,2022-09-30,14:00:00,14:11:00,16:45:00,2022-09-30 14:00:00

In [58]:
df_trips['d_at'] = df_trips['str_td'] + ' ' + df_trips['str_d_at']
df_trips['d_at'] = pd.to_datetime(df_trips['d_at'])
print(type(df_trips['d_at']))
print(type(df_trips['d_at'][0]))
print(f"Number of NAs in this column: {df_trips['d_at'].isna().sum()}")
df_trips.head()

<class 'pandas.core.series.Series'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
Number of NAs in this column: 0

,company_id,industry_group,vehicle_id,driver_id,trip_number,o_act_seg,o_act_seg_name,o_plc_seg,o_plc_seg_name,d_act_seg,d_act_seg_name,d_plc_seg,d_plc_seg_name,o_act,o_place_type,o_place_name,o_address,o_lon,o_lat,o_taz,d_act,d_place_type,d_place_name,d_address,d_lon,d_lat,d_taz,trip_dist,headquarters,hq_taz,orgn_to_hq_dist,o_dep_time,d_arr_time,next_trip_dep_time,travel_time,stop_duration,veh_type,cargo_pickup,cargo_delivery,travel_date,participation_type,expnsn_factor,estab_taz,industry_code,str_td,str_o_dt,str_d_at,str_nt_dt,o_dt,d_at
0,100012,Education/Other public services,2062,2589,1,B,Base,1,Residential,M,Maintenance/Other,5,Retail and Restaurant,1.0,11.0,BASE,2801 B ST # 55,-117.133702,32.717871,2284,11,6,PET SMART,1660 Camino De La Reina d,-117.149017,32.770912,2091,0,,0,0,10:00:00,10:20:00,11:10:00,0,0,LCV,NaN,NaN,2022-09-30,online,177.825038,2284,9,2022-09-30,10:00:00,10:20:00,11:10:00,2022-09-30 10:00:00,2022-09-30 10:20:00
1,100012,Education/Other public services,2062,2589,2,M,Maintenance/Other,5,Retail and Restaurant,B,Base,1,Residential,11.0,6.0,PET SMART,1660 Camino De La Reina d,-117.149017,32.770912,2091,1,11,BASE,2801 B ST # 55,-117.133702,32.717871,2284,0,,0,0,11:10:00,11:22:00,11:40:00,0,0,LCV,NaN,NaN,2022-09-30,online,177.825038,2284,9,2022-09-30,11:10:00,11:22:00,11:40:00,2022-09-30 11:10:00,2022-09-30 11:22:00
2,100012,Education/Other public services,2062,2589,3,B,Base,1,Residential,S,Service,4,Other,1.0,11.0,BASE,2801 B ST # 55,-117.133702,32.717871,2284,10,96,DOG PARK,2500 Balboa Dr,-117.158124,32.731546,1933,0,,0,0,11:40:00,12:00:00,14:00:00,0,0,LCV,NaN,NaN,2022-09-30,online,177.825038,2284,9,2022-09-30,11:40:00,12:00:00,14:00:00,2022-09-30 11:40:00,2022-09-30 12:00:00
3,100012,Education/Other public services,2062,2589,4,S,Service,4,Other,B,Base,1,Residential,10.0,96.0,DOG PARK,2500 Balboa Dr,-117.158124,32.731546,1933,1,11,BASE,2801 B ST # 55,-117.133702,32.717871,2284,0,,0,0,14:00:00,14:20:00,NaN,0,0,LCV,NaN,NaN,2022-09-30,online,177.825038,2284,9,2022-09-30,14:00:00,14:20:00,nan,2022-09-30 14:00:00,2022-09-30 14:20:00
4,100012,Education/Other public services,2063,2590,1,B,Base,1,Residential,S,Service,4,Other,1.0,11.0,BASE,2801 B ST # 55,-117.133702,32.717871,2284,10,96,DOG PARK,Soto St,-117.237975,32.752893,828,0,,0,0,14:00:00,14:11:00,16:45:00,0,0,LCV,NaN,NaN,2022-09-30,online,177.825038,2284,9,2022-09-30,14:00:00,14:11:00,16:45:00,2022-09-30 14:00:00,2022-09-30 14:11:00

In [59]:
df_trips['nt_dt'] = df_trips['str_td'] + ' ' + df_trips['str_nt_dt']
df_trips['nt_dt'] = pd.to_datetime(df_trips['nt_dt'], errors='coerce')
print(type(df_trips['nt_dt']))
print(type(df_trips['nt_dt'][0]))
print(f"Number of NaTs in this column: {df_trips['nt_dt'].isna().sum()}")
df_trips.head()

<class 'pandas.core.series.Series'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
Number of NaTs in this column: 1574

,company_id,industry_group,vehicle_id,driver_id,trip_number,o_act_seg,o_act_seg_name,o_plc_seg,o_plc_seg_name,d_act_seg,d_act_seg_name,d_plc_seg,d_plc_seg_name,o_act,o_place_type,o_place_name,o_address,o_lon,o_lat,o_taz,d_act,d_place_type,d_place_name,d_address,d_lon,d_lat,d_taz,trip_dist,headquarters,hq_taz,orgn_to_hq_dist,o_dep_time,d_arr_time,next_trip_dep_time,travel_time,stop_duration,veh_type,cargo_pickup,cargo_delivery,travel_date,participation_type,expnsn_factor,estab_taz,industry_code,str_td,str_o_dt,str_d_at,str_nt_dt,o_dt,d_at,nt_dt
0,100012,Education/Other public services,2062,2589,1,B,Base,1,Residential,M,Maintenance/Other,5,Retail and Restaurant,1.0,11.0,BASE,2801 B ST # 55,-117.133702,32.717871,2284,11,6,PET SMART,1660 Camino De La Reina d,-117.149017,32.770912,2091,0,,0,0,10:00:00,10:20:00,11:10:00,0,0,LCV,NaN,NaN,2022-09-30,online,177.825038,2284,9,2022-09-30,10:00:00,10:20:00,11:10:00,2022-09-30 10:00:00,2022-09-30 10:20:00,2022-09-30 11:10:00
1,100012,Education/Other public services,2062,2589,2,M,Maintenance/Other,5,Retail and Restaurant,B,Base,1,Residential,11.0,6.0,PET SMART,1660 Camino De La Reina d,-117.149017,32.770912,2091,1,11,BASE,2801 B ST # 55,-117.133702,32.717871,2284,0,,0,0,11:10:00,11:22:00,11:40:00,0,0,LCV,NaN,NaN,2022-09-30,online,177.825038,2284,9,2022-09-30,11:10:00,11:22:00,11:40:00,2022-09-30 11:10:00,2022-09-30 11:22:00,2022-09-30 11:40:00
2,100012,Education/Other public services,2062,2589,3,B,Base,1,Residential,S,Service,4,Other,1.0,11.0,BASE,2801 B ST # 55,-117.133702,32.717871,2284,10,96,DOG PARK,2500 Balboa Dr,-117.158124,32.731546,1933,0,,0,0,11:40:00,12:00:00,14:00:00,0,0,LCV,NaN,NaN,2022-09-30,online,177.825038,2284,9,2022-09-30,11:40:00,12:00:00,14:00:00,2022-09-30 11:40:00,2022-09-30 12:00:00,2022-09-30 14:00:00
3,100012,Education/Other public services,2062,2589,4,S,Service,4,Other,B,Base,1,Residential,10.0,96.0,DOG PARK,2500 Balboa Dr,-117.158124,32.731546,1933,1,11,BASE,2801 B ST # 55,-117.133702,32.717871,2284,0,,0,0,14:00:00,14:20:00,NaN,0,0,LCV,NaN,NaN,2022-09-30,online,177.825038,2284,9,2022-09-30,14:00:00,14:20:00,nan,2022-09-30 14:00:00,2022-09-30 14:20:00,NaT
4,100012,Education/Other public services,2063,2590,1,B,Base,1,Residential,S,Service,4,Other,1.0,11.0,BASE,2801 B ST # 55,-117.133702,32.717871,2284,10,96,DOG PARK,Soto St,-117.237975,32.752893,828,0,,0,0,14:00:00,14:11:00,16:45:00,0,0,LCV,NaN,NaN,2022-09-30,online,177.825038,2284,9,2022-09-30,14:00:00,14:11:00,16:45:00,2022-09-30 14:00:00,2022-09-30 14:11:00,2022-09-30 16:45:00

In [60]:
# Some tests:
print(df_trips['d_at'][0] - df_trips['o_dt'][0])
print(df_trips['d_at'][0] > df_trips['o_dt'][0])
print(df_trips['nt_dt'][3] - df_trips['d_at'][3])
print(df_trips['nt_dt'][0] + pd.to_timedelta(1, unit='D'))

0 days 00:20:00
True
NaT
2022-10-01 11:10:00

In [61]:
# Ensure events are in chronological order.
print(len(df_trips.loc[df_trips['d_at']<df_trips['o_dt']]))
df_trips.loc[df_trips['d_at']<df_trips['o_dt'], 'd_at'] = df_trips['d_at'] + pd.to_timedelta(1, unit='days')
print(len(df_trips.loc[df_trips['d_at']<df_trips['o_dt']]), '\n')

print(len(df_trips.loc[df_trips['nt_dt']<df_trips['d_at']]))
df_trips.loc[df_trips['nt_dt']<df_trips['d_at'], 'nt_dt'] = df_trips['nt_dt'] + pd.to_timedelta(1, unit='days')
print(len(df_trips.loc[df_trips['nt_dt']<df_trips['d_at']]))

11
0

0
0

In [62]:
# Find travel time and stop duration in minutes.
# df_trips['travel_time'] = ((df_trips['d_at'] - df_trips['o_dt']).dt.seconds).astype(int)
# df_trips['stop_duration'] = ((df_trips['nt_dt'] - df_trips['d_at']).dt.seconds).round().astype('Int32') #, errors='ignore'
df_trips['travel_time'] = (((df_trips['d_at'] - df_trips['o_dt']).dt.seconds) / 60).astype(int)
df_trips['stop_duration'] = (((df_trips['nt_dt'] - df_trips['d_at']).dt.seconds) / 60).round().astype('Int32') #, errors='ignore'
# Note the capitalized 'Int32' in the line above - as opposed to 'int32'.
# print(f"Now, the datatype for the 'stop_duration' column is kind of weird: {df_trips['stop_duration'].dtypes}, rather than simply int32.")
# print('We need to live with this because we want to allow <NA> values in this column.')
df_trips.head()

,company_id,industry_group,vehicle_id,driver_id,trip_number,o_act_seg,o_act_seg_name,o_plc_seg,o_plc_seg_name,d_act_seg,d_act_seg_name,d_plc_seg,d_plc_seg_name,o_act,o_place_type,o_place_name,o_address,o_lon,o_lat,o_taz,d_act,d_place_type,d_place_name,d_address,d_lon,d_lat,d_taz,trip_dist,headquarters,hq_taz,orgn_to_hq_dist,o_dep_time,d_arr_time,next_trip_dep_time,travel_time,stop_duration,veh_type,cargo_pickup,cargo_delivery,travel_date,participation_type,expnsn_factor,estab_taz,industry_code,str_td,str_o_dt,str_d_at,str_nt_dt,o_dt,d_at,nt_dt
0,100012,Education/Other public services,2062,2589,1,B,Base,1,Residential,M,Maintenance/Other,5,Retail and Restaurant,1.0,11.0,BASE,2801 B ST # 55,-117.133702,32.717871,2284,11,6,PET SMART,1660 Camino De La Reina d,-117.149017,32.770912,2091,0,,0,0,10:00:00,10:20:00,11:10:00,20,50,LCV,NaN,NaN,2022-09-30,online,177.825038,2284,9,2022-09-30,10:00:00,10:20:00,11:10:00,2022-09-30 10:00:00,2022-09-30 10:20:00,2022-09-30 11:10:00
1,100012,Education/Other public services,2062,2589,2,M,Maintenance/Other,5,Retail and Restaurant,B,Base,1,Residential,11.0,6.0,PET SMART,1660 Camino De La Reina d,-117.149017,32.770912,2091,1,11,BASE,2801 B ST # 55,-117.133702,32.717871,2284,0,,0,0,11:10:00,11:22:00,11:40:00,12,18,LCV,NaN,NaN,2022-09-30,online,177.825038,2284,9,2022-09-30,11:10:00,11:22:00,11:40:00,2022-09-30 11:10:00,2022-09-30 11:22:00,2022-09-30 11:40:00
2,100012,Education/Other public services,2062,2589,3,B,Base,1,Residential,S,Service,4,Other,1.0,11.0,BASE,2801 B ST # 55,-117.133702,32.717871,2284,10,96,DOG PARK,2500 Balboa Dr,-117.158124,32.731546,1933,0,,0,0,11:40:00,12:00:00,14:00:00,20,120,LCV,NaN,NaN,2022-09-30,online,177.825038,2284,9,2022-09-30,11:40:00,12:00:00,14:00:00,2022-09-30 11:40:00,2022-09-30 12:00:00,2022-09-30 14:00:00
3,100012,Education/Other public services,2062,2589,4,S,Service,4,Other,B,Base,1,Residential,10.0,96.0,DOG PARK,2500 Balboa Dr,-117.158124,32.731546,1933,1,11,BASE,2801 B ST # 55,-117.133702,32.717871,2284,0,,0,0,14:00:00,14:20:00,NaN,20,NaN,LCV,NaN,NaN,2022-09-30,online,177.825038,2284,9,2022-09-30,14:00:00,14:20:00,nan,2022-09-30 14:00:00,2022-09-30 14:20:00,NaT
4,100012,Education/Other public services,2063,2590,1,B,Base,1,Residential,S,Service,4,Other,1.0,11.0,BASE,2801 B ST # 55,-117.133702,32.717871,2284,10,96,DOG PARK,Soto St,-117.237975,32.752893,828,0,,0,0,14:00:00,14:11:00,16:45:00,11,154,LCV,NaN,NaN,2022-09-30,online,177.825038,2284,9,2022-09-30,14:00:00,14:11:00,16:45:00,2022-09-30 14:00:00,2022-09-30 14:11:00,2022-09-30 16:45:00

In [63]:
# Throw away unnecessary time fields.
rmv_fields = ['o_dep_time', 'd_arr_time', 'next_trip_dep_time',
              'str_td', 'str_o_dt', 'str_d_at', 'str_nt_dt']
all_fields = df_trips.columns.to_list()
keep_cols = [f for f in all_fields if not f in rmv_fields]        

df_trips = df_trips[keep_cols]
df_trips.head()

,company_id,industry_group,vehicle_id,driver_id,trip_number,o_act_seg,o_act_seg_name,o_plc_seg,o_plc_seg_name,d_act_seg,d_act_seg_name,d_plc_seg,d_plc_seg_name,o_act,o_place_type,o_place_name,o_address,o_lon,o_lat,o_taz,d_act,d_place_type,d_place_name,d_address,d_lon,d_lat,d_taz,trip_dist,headquarters,hq_taz,orgn_to_hq_dist,travel_time,stop_duration,veh_type,cargo_pickup,cargo_delivery,travel_date,participation_type,expnsn_factor,estab_taz,industry_code,o_dt,d_at,nt_dt
0,100012,Education/Other public services,2062,2589,1,B,Base,1,Residential,M,Maintenance/Other,5,Retail and Restaurant,1.0,11.0,BASE,2801 B ST # 55,-117.133702,32.717871,2284,11,6,PET SMART,1660 Camino De La Reina d,-117.149017,32.770912,2091,0,,0,0,20,50,LCV,NaN,NaN,2022-09-30,online,177.825038,2284,9,2022-09-30 10:00:00,2022-09-30 10:20:00,2022-09-30 11:10:00
1,100012,Education/Other public services,2062,2589,2,M,Maintenance/Other,5,Retail and Restaurant,B,Base,1,Residential,11.0,6.0,PET SMART,1660 Camino De La Reina d,-117.149017,32.770912,2091,1,11,BASE,2801 B ST # 55,-117.133702,32.717871,2284,0,,0,0,12,18,LCV,NaN,NaN,2022-09-30,online,177.825038,2284,9,2022-09-30 11:10:00,2022-09-30 11:22:00,2022-09-30 11:40:00
2,100012,Education/Other public services,2062,2589,3,B,Base,1,Residential,S,Service,4,Other,1.0,11.0,BASE,2801 B ST # 55,-117.133702,32.717871,2284,10,96,DOG PARK,2500 Balboa Dr,-117.158124,32.731546,1933,0,,0,0,20,120,LCV,NaN,NaN,2022-09-30,online,177.825038,2284,9,2022-09-30 11:40:00,2022-09-30 12:00:00,2022-09-30 14:00:00
3,100012,Education/Other public services,2062,2589,4,S,Service,4,Other,B,Base,1,Residential,10.0,96.0,DOG PARK,2500 Balboa Dr,-117.158124,32.731546,1933,1,11,BASE,2801 B ST # 55,-117.133702,32.717871,2284,0,,0,0,20,NaN,LCV,NaN,NaN,2022-09-30,online,177.825038,2284,9,2022-09-30 14:00:00,2022-09-30 14:20:00,NaT
4,100012,Education/Other public services,2063,2590,1,B,Base,1,Residential,S,Service,4,Other,1.0,11.0,BASE,2801 B ST # 55,-117.133702,32.717871,2284,10,96,DOG PARK,Soto St,-117.237975,32.752893,828,0,,0,0,11,154,LCV,NaN,NaN,2022-09-30,online,177.825038,2284,9,2022-09-30 14:00:00,2022-09-30 14:11:00,2022-09-30 16:45:00

##### Mark the last trips

In [64]:
df_trips['last_trip'] = False
df_trips.loc[df_trips['trip_number'].shift(-1)==1, 'last_trip'] = True
df_trips.at[df_trips.index[-1], 'last_trip'] = True
df_trips.tail()
df_trips.head(50)

,company_id,industry_group,vehicle_id,driver_id,trip_number,o_act_seg,o_act_seg_name,o_plc_seg,o_plc_seg_name,d_act_seg,d_act_seg_name,d_plc_seg,d_plc_seg_name,o_act,o_place_type,o_place_name,o_address,o_lon,o_lat,o_taz,d_act,d_place_type,d_place_name,d_address,d_lon,d_lat,d_taz,trip_dist,headquarters,hq_taz,orgn_to_hq_dist,travel_time,stop_duration,veh_type,cargo_pickup,cargo_delivery,travel_date,participation_type,expnsn_factor,estab_taz,industry_code,o_dt,d_at,nt_dt,last_trip
0,100012,Education/Other public services,2062,2589,1,B,Base,1,Residential,M,Maintenance/Other,5,Retail and Restaurant,1.0,11.0,BASE,2801 B ST # 55,-117.133702,32.717871,2284,11,6,PET SMART,1660 Camino De La Reina d,-117.149017,32.770912,2091,0,,0,0,20,50,LCV,NaN,NaN,2022-09-30,online,177.825038,2284,9,2022-09-30 10:00:00,2022-09-30 10:20:00,2022-09-30 11:10:00,False
1,100012,Education/Other public services,2062,2589,2,M,Maintenance/Other,5,Retail and Restaurant,B,Base,1,Residential,11.0,6.0,PET SMART,1660 Camino De La Reina d,-117.149017,32.770912,2091,1,11,BASE,2801 B ST # 55,-117.133702,32.717871,2284,0,,0,0,12,18,LCV,NaN,NaN,2022-09-30,online,177.825038,2284,9,2022-09-30 11:10:00,2022-09-30 11:22:00,2022-09-30 11:40:00,False
2,100012,Education/Other public services,2062,2589,3,B,Base,1,Residential,S,Service,4,Other,1.0,11.0,BASE,2801 B ST # 55,-117.133702,32.717871,2284,10,96,DOG PARK,2500 Balboa Dr,-117.158124,32.731546,1933,0,,0,0,20,120,LCV,NaN,NaN,2022-09-30,online,177.825038,2284,9,2022-09-30 11:40:00,2022-09-30 12:00:00,2022-09-30 14:00:00,False
3,100012,Education/Other public services,2062,2589,4,S,Service,4,Other,B,Base,1,Residential,10.0,96.0,DOG PARK,2500 Balboa Dr,-117.158124,32.731546,1933,1,11,BASE,2801 B ST # 55,-117.133702,32.717871,2284,0,,0,0,20,NaN,LCV,NaN,NaN,2022-09-30,online,177.825038,2284,9,2022-09-30 14:00:00,2022-09-30 14:20:00,NaT,True
4,100012,Education/Other public services,2063,2590,1,B,Base,1,Residential,S,Service,4,Other,1.0,11.0,BASE,2801 B ST # 55,-117.133702,32.717871,2284,10,96,DOG PARK,Soto St,-117.237975,32.752893,828,0,,0,0,11,154,LCV,NaN,NaN,2022-09-30,online,177.825038,2284,9,2022-09-30 14:00:00,2022-09-30 14:11:00,2022-09-30 16:45:00,False
5,100012,Education/Other public services,2063,2590,2,S,Service,4,Other,M,Maintenance/Other,6,Gas,10.0,96.0,DOG PARK,Soto St,-117.237975,32.752893,828,2,16,FUEL STOP,4201 W Point Loma Blvd,-117.226801,32.752382,1010,0,,0,0,2,23,LCV,NaN,NaN,2022-09-30,online,177.825038,2284,9,2022-09-30 16:45:00,2022-09-30 16:47:00,2022-09-30 17:10:00,False
6,100012,Education/Other public services,2063,2590,3,M,Maintenance/Other,6,Gas,B,Base,1,Residential,2.0,16.0,FUEL STOP,4201 W Point Loma Blvd,-117.226801,32.752382,1010,1,11,BASE,2801 B ST # 55,-117.133702,32.717871,2284,0,,0,0,12,NaN,LCV,NaN,NaN,2022-09-30,online,177.825038,2284,9,2022-09-30 17:10:00,2022-09-30 17:22:00,NaT,True
7,100012,Education/Other public services,2064,2591,1,B,Base,1,Residential,S,Service,2,Office,1.0,11.0,BASE,2801 B ST # 55,-117.133702,32.717871,2284,10,1,PACIFIC COAST ANIMAL CONTROL,3812 Sierra Morena Ave,-117.314980,33.163175,193,0,,0,0,38,112,LCV,NaN,NaN,2022-09-30,online,177.825038,2284,9,2022-09-30 10:00:00,2022-09-30 10:38:00,2022-09-30 12:30:00,False
8,100012,Education/Other public services,2064,2591,2,S,Service,2,Office,B,Base,1,Residential,10.0,1.0,PACIFIC COAST ANIMAL CONTROL,3812 Sierra Morena Ave,-117.314980,33.163175,193,1,11,BASE,2801 B ST # 55,-117.133702,32.717871,2284,0,,0,0,68,22,LCV,NaN,NaN,2022-09-30,online,177.825038,2284,9,2022-09-30 12:30:00,2022-09-30 13:38:00,2022-09-30 14:00:00,False
9,100012,Education/Other public services,2064,2591,3,B,Base,1,Residential,S,Service,2,Office,1.0,11.0,BASE,2801 B ST # 55,-117.133702,32.717871,2284,10,8,VET,2675 B St,-117.136609,32.717661,2252,0,,0,0,1,19,LCV,NaN,NaN,2022-09-30,online,177.825038,2284,9,2022-09-30 14:00:00,2022-09-30 14:01:00,2022-09-30 14:20:00,False
10,100012,Education/Other public services,2064,2591,4,S,Service,2,Office,M,Maintenance/Other,6,Gas,10.0,8.0,VET,2675 B St,-117.136609,32.717661,2252,2,16,GAS,4201 W Point Loma Blvd,-117.226801,32.752382,1010,0,,0,0,15,10,LCV,NaN,NaN,2022-09-30,online,177.825038,2284,9,2022-09-30 14:20:00,2022-09-30 14:35:00,2022-09-30 14:45:00,False
11,100012,Education/Other public services,2064,2591,5,M,Maintenance/Other,6,Gas,B,Base,1,Residential,2.0,16.0,GAS,4201 W Point Loma Blvd,-117.226801,32.752382,1010,1,11,BASE,2801 B ST # 55,-117.133702,32.717871,2284,0,,0,0,18,NaN,LCV,NaN,NaN,2022-09-30,online,177.825038,2284,9,2022-09-30 14:45:00,2022-09-30 15:03:00,NaT,True
12,100021,Agriculture/Mining,1405,1974,1,H,Home,1,Residential,M,Maintenance/Other,5,Retail and Restaurant,14.0,11.0,-,5325 Los Robles Dr,-117.332635,33.130115,147,2,6,-,899 Palomar Airport Rd,-117.319583,33.121919,184,0,,0,0,2,23,LCV,NaN,NaN,2022-09-16,smartphone,14.882969,89,1,2022-09-16 09:07:36,2022-09-16 09:09:56,2022-09-16 09:33:01,False
13,100021,Agriculture/Mining,1405,1974,2,M,Maintenance/Other,5,Retail and Restaurant,M,Maintenance/Other,2,Office,2.0,6.0,-,899 Palomar Airport Rd,-117.319583,33.121919,184,1,1,-,655 Benet Rd,-117.357500,33.214681,77,0,,0,0,8,NaN,LCV,NaN,NaN,2022-09-16,smartphone,14.882969,89,1,2022-09-16 09:33:01,2022-09-16 09:42:00,NaT,True
14,100021,Agriculture/Mining,1406,1975,1,B,Base,2,Office,S,Service,1,Residential,1.0,1.0,BASE,600 AIRPORT RD,-117.356680,33.215580,89,8,11,HOUSE,5340 Los Robles Dr,-117.332543,33.130039,147,0,,0,0,5,7,LCV,NaN,NaN,2022-09-16,smartphone,14.882969,89,1,2022-09-16 08:55:00,2022-09-16 09:00:00,2022-09-16 09:07:00,False
15,100021,Agriculture/Mining,1406,1975,2,S,Service,1,Residential,M,Maintenance/Other,2,Office,8.0,11.0,HOUSE,5340 Los Robles Dr,-117.332543,33.130039,147,96,1,OFFICE,5999 Avenida Encinas,-117.325425,33.123029,158,0,,0,0,1,1,LCV,NaN,NaN,2022-09-16,smartphone,14.882969,89,1,2022-09-16 09:07:00,2022-09-16 09:08:00,2022-09-16 09:09:00,False
16,100021,Agriculture/Mining,1406,1975,3,M,Maintenance/Other,2,Office,M,Maintenance/Other,6,Gas,96.0,1.0,OFFICE,5999 Avenida Encinas,-117.325425,33.123029,158,2,16,GAS STATION,899 Palomar Airport Rd,-117.319366,33.121927,184,0,,0,0,2,23,LCV,NaN,NaN,2022-09-16,smartphone,14.882969,89,1,2022-09-16 09:09:00,2022-09-16 09:11:00,2022-09-16 09:34:00,False
17,100021,Agriculture/Mining,1406,1975,4,M,Maintenance/Other,6,Gas,S,Service,4,Other,2.0,16.0,GAS STATION,899 Palomar Airport Rd,-117.319366,33.121927,184,8,96,RESORT,655 Benet Rd,-117.357581,33.214627,77,0,,0,0,7,NaN,LCV,NaN,NaN,2022-09-16,smartphone,14.882969,89,1,2022-09-16 09:34:00,2022-09-16 09:41:00,NaT,True
18,100021,Agriculture/Mining,1407,1976,1,S,Service,1,Residential,H,Home,1,Residential,10.0,11.0,-,5335 Los Robles Dr,-117.332601,33.129919,147,14,11,HOME,5340 Los Robles Dr,-117.332450,33.130024,147,0,,0,0,5,7,LCV,NaN,NaN,2022-09-16,smartphone,14.882969,89,1,2022-09-16 08:55:22,2022-09-16 09:00:31,2022-09-16 09:07:55,False
19,100021,Agriculture/Mining,1407,1976,2,H,Home,1,Residential,M,Maintenance/Other,5,Retail and Restaurant,14.0,11.0,HOME,5340 Los Robles Dr,-117.332450,33.130024,147,2,6,GAS,899 Palomar Airport Rd,-117.319404,33.121967,184,0,,0,0,1,25,LCV,NaN,NaN,2022-09-16,smartphone,14.882969,89,1,2022-09-16 09:07:55,2022-09-16 09:09:53,2022-09-16 09:34:25,False
20,100021,Agriculture/Mining,1407,1976,3,M,Maintenance/Other,5,Retail and Restaurant,S,Service,6,Gas,2.0,6.0,GAS,899 Palomar Airport Rd,-117.319404,33.121967,184,10,16,SERVICE,655 Benet Rd,-117.357570,33.214686,77,0,,0,0,7,NaN,LCV,NaN,NaN,2022-09-16,smartphone,14.882969,89,1,2022-09-16 09:34:25,2022-09-16 09:41:25,NaT,True
21,100021,Agriculture/Mining,1408,1977,1,B,Base,2,Office,S,Service,1,Residential,1.0,1.0,BASE,600 AIRPORT RD,-117.356680,33.215580,89,10,11,RESIDENCE,5340 Los Robles Dr,-117.332589,33.130105,147,0,,0,0,6,7,LCV,NaN,NaN,2022-09-16,smartphone,14.882969,89,1,2022-09-16 08:54:00,2022-09-16 09:00:00,2022-09-16 09:07:00,False
22,100021,Agriculture/Mining,1408,1977,2,S,Service,1,Residential,M,Maintenance/Other,6,Gas,10.0,11.0,RESIDENCE,5340 Los Robles Dr,-117.332589,33.130105,147,2,16,GAS STATION,899 Palomar Airport Rd,-117.319575,33.121714,184,0,,0,0,2,1,LCV,NaN,NaN,2022-09-16,smartphone,14.882969,89,1,2022-09-16 09:07:00,2022-09-16 09:09:00,2022-09-16 09:10:00,False
23,100021,Agriculture/Mining,1408,1977,3,M,Maintenance/Other,6,Gas,S,Service,6,Gas,2.0,16.0,GAS STATION,899 Palomar Airport Rd,-117.319575,33.121714,184,10,16,SERVICE STATION,901 Palomar Airport Rd,-117.318844,33.121681,184,0,,0,0,1,23,LCV,NaN,NaN,2022-09-16,smartphone,14.882969,89,1,2022-09-16 09:10:00,2022-09-16 09:11:00,2022-09-16 09:34:00,False
24,100021,Agriculture/Mining,1408,1977,4,S,Service,6,Gas,S,Service,2,Office,10.0,16.0,SERVICE STATION,901 Palomar Airport Rd,-117.318844,33.121681,184,10,1,OFFICE,655 Benet Rd,-117.357563,33.214630,77,0,,0,0,7,NaN,LCV,NaN,NaN,2022-09-16,smartphone,14.882969,89,1,2022-09-16 09:34:00,2022-09-16 09:41:00,NaT,True
25,100021,Agriculture/Mining,1409,1978,1,B,Base,2,Office,S,Service,1,Residential,1.0,1.0,-,618 Airport Rd,-117.356419,33.215896,89,10,11,-,6082-5990 Carlsbad Blvd,-117.324495,33.116288,163,0,,0,0,27,2,LCV,NaN,NaN,2022-09-16,smartphone,14.882969,89,1,2022-09-16 08:30:00,2022-09-16 08:57:09,2022-09-16 08:58:57,False
26,100021,Agriculture/Mining,1409,1978,2,S,Service,1,Residential,H,Home,1,Residential,10.0,11.0,-,6082-5990 Carlsbad Blvd,-117.324495,33.116288,163,14,11,-,5340 Los Robles Dr,-117.332530,33.130039,147,0,,0,0,1,7,LCV,NaN,NaN,2022-09-16,smartphone,14.882969,89,1,2022-09-16 08:58:57,2022-09-16 09:00:45,2022-09-16 09:07:30,False
27,100021,Agriculture/Mining,1409,1978,3,H,Home,1,Residential,M,Maintenance/Other,6,Gas,14.0,11.0,-,5340 Los Robles Dr,-117.332530,33.130039,147,2,16,-,901 Palomar Airport Rd,-117.319016,33.121585,184,0,,0,0,3,25,LCV,NaN,NaN,2022-09-16,smartphone,14.882969,89,1,2022-09-16 09:07:30,2022-09-16 09:10:36,2022-09-16 09:35:54,False
28,100021,Agriculture/Mining,1409,1978,4,M,Maintenance/Other,6,Gas,M,Maintenance/Other,2,Office,2.0,16.0,-,901 Palomar Airport Rd,-117.319016,33.121585,184,1,1,BASE,655 Benet Rd,-117.357584,33.214596,77,0,,0,0,5,NaN,LCV,NaN,NaN,2022-09-16,smartphone,14.882969,89,1,2022-09-16 09:35:54,2022-09-16 09:41:35,NaT,True
29,100021,Agriculture/Mining,1410,1979,1,B,Base,2,Office,S,Service,1,Residential,1.0,1.0,BASE,600 AIRPORT RD,-117.356680,33.215580,89,8,11,SERVICE,5340 Los Robles Dr,-117.332519,33.130054,147,0,,0,0,5,8,LCV,NaN,NaN,2022-09-16,smartphone,14.882969,89,1,2022-09-16 08:55:00,2022-09-16 09:00:00,2022-09-16 09:08:00,False
30,100021,Agriculture/Mining,1410,1979,2,S,Service,1,Residential,M,Maintenance/Other,6,Gas,8.0,11.0,SERVICE,5340 Los Robles Dr,-117.332519,33.130054,147,2,16,GAS,901 Palomar Airport Rd,-117.318803,33.121711,184,0,,0,0,2,24,LCV,NaN,NaN,2022-09-16,smartphone,14.882969,89,1,2022-09-16 09:08:00,2022-09-16 09:10:00,2022-09-16 09:34:00,False
31,100021,Agriculture/Mining,1410,1979,3,M,Maintenance/Other,6,Gas,H,Home,1,Residential,2.0,16.0,GAS,901 Palomar Airport Rd,-117.318803,33.121711,184,14,11,HOME,659 Benet Rd,-117.358618,33.213799,77,0,,0,0,7,NaN,LCV,NaN,NaN,2022-09-16,smartphone,14.882969,89,1,2022-09-16 09:34:00,2022-09-16 09:41:00,NaT,True
32,100023,Retail,1129,1538,1,B,Base,2,Office,D,Goods_Delivery,6,Gas,1.0,1.0,BASE,3213 MISSION AVE,-117.347692,33.213584,114,5,16,DELIVERY,575 Airport Rd,-117.354225,33.216004,89,0,,0,0,3,21,MUT,NaN,4,2022-08-23,smartphone,98.594069,114,4,2022-08-23 12:15:00,2022-08-23 12:18:00,2022-08-23 12:39:00,False
33,100023,Retail,1129,1538,2,D,Goods_Delivery,6,Gas,M,Maintenance/Other,7,"Industrial, Agriculture, or Construction",5.0,16.0,DELIVERY,575 Airport Rd,-117.354225,33.216004,89,96,7,TRUCK LOT,3224 Hoover Ave,-117.102273,32.653163,2639,0,,0,0,42,NaN,MUT,NaN,NaN,2022-08-23,smartphone,98.594069,114,4,2022-08-23 12:39:00,2022-08-23 13:21:00,NaT,True
34,100023,Retail,1130,1539,1,B,Base,2,Office,M,Maintenance/Other,6,Gas,1.0,1.0,BASE,3213 MISSION AVE,-117.347692,33.213584,114,3,16,GAS STATION,575 Airport Rd,-117.354260,33.215974,89,0,,0,0,5,4,MUT,NaN,NaN,2022-08-23,smartphone,98.594069,114,4,2022-08-23 12:15:00,2022-08-23 12:20:00,2022-08-23 12:24:00,False
35,100023,Retail,1130,1539,2,M,Maintenance/Other,6,Gas,M,Maintenance/Other,3,Warehouse,3.0,16.0,GAS STATION,575 Airport Rd,-117.354260,33.215974,89,1,14,NORTH BASE PARKING,3202 Hoover Ave,-117.102139,32.653921,2639,0,,0,0,41,NaN,MUT,NaN,NaN,2022-08-23,smartphone,98.594069,114,4,2022-08-23 12:24:00,2022-08-23 13:05:00,NaT,True
36,100023,Retail,1131,1540,1,B,Base,2,Office,D,Goods_Delivery,6,Gas,1.0,1.0,BASE,3213 MISSION AVE,-117.347692,33.213584,114,5,16,GAS STATION - DELIVERY,575 Airport Rd,-117.354228,33.216057,89,0,,0,0,3,6,MUT,NaN,4,2022-08-23,smartphone,98.594069,114,4,2022-08-23 12:15:00,2022-08-23 12:18:00,2022-08-23 12:24:00,False
37,100023,Retail,1131,1540,2,D,Goods_Delivery,6,Gas,M,Maintenance/Other,3,Warehouse,5.0,16.0,GAS STATION - DELIVERY,575 Airport Rd,-117.354228,33.216057,89,1,14,TRUCK LOT PARKING,3224 Hoover Ave,-117.102225,32.653130,2639,0,,0,0,41,NaN,MUT,NaN,NaN,2022-08-23,smartphone,98.594069,114,4,2022-08-23 12:24:00,2022-08-23 13:05:00,NaT,True
38,100039,Agriculture/Mining,2007,2465,1,B,Base,2,Office,M,Maintenance/Other,5,Retail and Restaurant,1.0,1.0,BASE,18740 HIGHLAND VALLEY RD,-116.924594,33.021100,4542,11,6,ALBERTSONS,1459 Main St,-116.877108,33.039427,4663,0,,0,0,6,24,LCV,NaN,NaN,2022-10-11,online,9.375000,4542,1,2022-10-11 10:30:00,2022-10-11 10:36:00,2022-10-11 11:00:00,False
39,100039,Agriculture/Mining,2007,2465,2,M,Maintenance/Other,5,Retail and Restaurant,B,Base,2,Office,11.0,6.0,ALBERTSONS,1459 Main St,-116.877108,33.039427,4663,1,1,BASE,18740 HIGHLAND VALLEY RD,-116.924594,33.021100,4542,0,,0,0,6,NaN,LCV,NaN,NaN,2022-10-11,online,9.375000,4542,1,2022-10-11 11:00:00,2022-10-11 11:06:00,NaT,True
40,100050,Agriculture/Mining,1412,2160,1,B,Base,2,Office,M,Maintenance/Other,6,Gas,1.0,1.0,SAGER FAMILY FARM,2457 BAJA CERRO CIR,-117.229457,32.816355,1032,2,16,COSTCO,4605 Morena Blvd,-117.223713,32.819961,1057,0,,0,0,10,10,LCV,NaN,NaN,2022-09-15,online,14.882969,1032,1,2022-09-15 09:00:00,2022-09-15 09:10:00,2022-09-15 09:20:00,False
41,100050,Agriculture/Mining,1412,2160,2,M,Maintenance/Other,6,Gas,S,Service,2,Office,2.0,16.0,COSTCO,4605 Morena Blvd,-117.223713,32.819961,1057,10,1,OFFICE,1302 Garnet Ave,-117.246071,32.798865,755,0,,0,0,10,25,LCV,NaN,NaN,2022-09-15,online,14.882969,1032,1,2022-09-15 09:20:00,2022-09-15 09:30:00,2022-09-15 09:55:00,False
42,100050,Agriculture/Mining,1412,2160,3,S,Service,2,Office,B,Base,1,Residential,10.0,1.0,OFFICE,1302 Garnet Ave,-117.246071,32.798865,755,1,11,BASE,2457 BAJA CERRO CIR,-117.229457,32.816355,1032,0,,0,0,15,NaN,LCV,NaN,NaN,2022-09-15,online,14.882969,1032,1,2022-09-15 09:55:00,2022-09-15 10:10:00,NaT,True
43,100078,Agriculture/Mining,165,324,1,B,Base,2,Office,S,Service,4,Other,1.0,1.0,VINEYARD,26502 HIGHWAY 78,-116.757572,33.065429,4809,10,96,VINEYARD CHECK,26479 Julian Rd,-116.757708,33.065480,4809,0,,0,0,1,6,LCV,NaN,NaN,2022-07-20,smartphone,14.882969,4809,1,2022-07-20 10:14:00,2022-07-20 10:15:00,2022-07-20 10:21:00,False
44,100078,Agriculture/Mining,165,324,2,S,Service,4,Other,P,Goods_Pickup,5,Retail and Restaurant,10.0,96.0,VINEYARD CHECK,26479 Julian Rd,-116.757708,33.065480,4809,6,6,LAWNMOWERS PLUS,289 S Pacific St,-117.197087,33.141696,1437,0,,0,0,51,16,LCV,14.0,NaN,2022-07-20,smartphone,14.882969,4809,1,2022-07-20 10:21:00,2022-07-20 11:12:00,2022-07-20 11:28:00,False
45,100078,Agriculture/Mining,165,324,3,P,Goods_Pickup,5,Retail and Restaurant,S,Service,5,Retail and Restaurant,6.0,6.0,LAWNMOWERS PLUS,289 S Pacific St,-117.197087,33.141696,1437,10,6,LITTLE OAKS,6084 Corte Del Cedro STE 105,-117.271409,33.125189,468,0,,0,0,20,16,LCV,NaN,NaN,2022-07-20,smartphone,14.882969,4809,1,2022-07-20 11:28:00,2022-07-20 11:48:00,2022-07-20 12:04:00,False
46,100078,Agriculture/Mining,165,324,4,S,Service,5,Retail and Restaurant,S,Service,2,Office,10.0,6.0,LITTLE OAKS,6084 Corte Del Cedro STE 105,-117.271409,33.125189,468,10,1,WELLS FARGO,14815 Pomerado Rd,-117.061615,32.980390,3418,0,,0,0,39,7,LCV,NaN,NaN,2022-07-20,smartphone,14.882969,4809,1,2022-07-20 12:04:00,2022-07-20 12:43:00,2022-07-20 12:50:00,False
47,100078,Agriculture/Mining,165,324,5,S,Service,2,Office,P,Goods_Pickup,5,Retail and Restaurant,10.0,1.0,WELLS FARGO,14815 Pomerado Rd,-117.061615,32.980390,3418,6,6,HOME DEPOT,12175 Tech Center Dr,-117.034051,32.937163,3701,0,,0,0,16,78,LCV,1.0,NaN,2022-07-20,smartphone,14.882969,4809,1,2022-07-20 12:50:00,2022-07-20 13:06:00,2022-07-20 14:24:00,False
48,100078,Agriculture/Mining,165,324,6,P,Goods_Pickup,5,Retail and Restaurant,S,Service,2,Office,6.0,6.0,HOME DEPOT,12175 Tech Center Dr,-117.034051,32.937163,3701,10,1,CHASE,1467 Montecito Rd,-116.876582,33.038187,4663,0,,0,0,22,3,LCV,NaN,NaN,2022-07-20,smartphone,14.882969,4809,1,2022-07-20 14:24:00,2022-07-20 14:46:00,2022-07-20 14:49:00,False
49,100078,Agriculture/Mining,165,324,7,S,Service,2,Office,B,Base,7,"Industrial, Agriculture, or Construction",10.0,1.0,CHASE,1467 Montecito Rd,-116.876582,33.038187,4663,13,20,BASE,26556 CA-78,-116.757679,33.068329,4809,0,,0,0,23,NaN,LCV,NaN,1,2022-07-20,smartphone,14.882969,4809,1,2022-07-20 14:49:00,2022-07-20 15:12:00,NaT,True

##### Find the trip distance

In [65]:
df_trips['tod'] = ""

In [66]:
# Indicate at what time of day the trip has started.
def find_tod(timestamp):
    if timestamp.time() < dt.time(3):
        return 'EV' # Late: 7PM to 3AM
    elif timestamp.time() < dt.time(6):
        return 'EA' # Early: 3AM to 6AM
    elif timestamp.time() < dt.time(9):
        return 'AM' # AM Peak: 6AM to 9AM
    elif timestamp.time() < dt.time(15, 30):
        return 'MD' # Midday: 9AM to 3:30PM
    elif timestamp.time() < dt.time(19):
        return 'PM' # PM Peak: 3:30PM to 7pm
    elif timestamp.time() >= dt.time(19):
        return 'EV' # Late: 7PM to 3AM

df_trips['tod'] = df_trips['o_dt'].apply(find_tod) 
# df_trips[['o_dt', 'tod']].loc[(df_trips['o_dt'].dt.time>=dt.time(0)) & (df_trips['o_dt'].dt.time<dt.time(3))].head(10)
# df_trips[['o_dt', 'tod']].loc[(df_trips['o_dt'].dt.time>=dt.time(3)) & (df_trips['o_dt'].dt.time<dt.time(6))].head(10)
# df_trips[['o_dt', 'tod']].loc[(df_trips['o_dt'].dt.time>=dt.time(6)) & (df_trips['o_dt'].dt.time<dt.time(9))].head(10)
# df_trips[['o_dt', 'tod']].loc[(df_trips['o_dt'].dt.time>=dt.time(9)) & (df_trips['o_dt'].dt.time<dt.time(15, 30))].head(10)
# df_trips[['o_dt', 'tod']].loc[(df_trips['o_dt'].dt.time>=dt.time(15,30)) & (df_trips['o_dt'].dt.time<dt.time(19))].head(10)
df_trips[['o_dt', 'tod']].loc[(df_trips['o_dt'].dt.time>=dt.time(19)) & (df_trips['o_dt'].dt.time<dt.time(23, 59, 59, 999999))].head(10)

                   o_dt tod
238 2022-09-15 19:10:00  EV
239 2022-09-15 20:03:00  EV
266 2022-09-02 19:15:44  EV
267 2022-09-02 19:24:42  EV
760 2022-07-19 20:26:00  EV
761 2022-07-19 20:42:00  EV
772 2022-08-30 22:10:00  EV
773 2022-08-30 22:30:00  EV
774 2022-08-30 22:35:00  EV
775 2022-08-30 22:55:00  EV

In [67]:
print(f'Example: Distance from TAZ 5 to TAZ 19 in AM peak for medium trucks is: {dist_dfs[1][1].at[4,18]/10:} miles')

Example: Distance from TAZ 5 to TAZ 19 in AM peak for medium trucks is: 103.2 miles

In [68]:
dic_v = {'LCV': 0, 'SUT': 1, 'MUT': 2}
dic_tod = {'EA': 0, 'AM': 1, 'MD':2, 'PM':3, 'EV':4}

def find_dist(o_taz, d_taz, vs, tod): # vs is vehicle size and tod is time of day.
    if o_taz==-1 or d_taz==-1: return None
    return dist_dfs[tod][vs].at[o_taz-1, d_taz-1] / 10

df_trips['trip_dist'] = df_trips.apply(lambda x: find_dist(x['o_taz'], x['d_taz'],
                                                           dic_v[x['veh_type']],
                                                           dic_tod[x['tod']]), axis=1)
    
df_trips.head()

,company_id,industry_group,vehicle_id,driver_id,trip_number,o_act_seg,o_act_seg_name,o_plc_seg,o_plc_seg_name,d_act_seg,d_act_seg_name,d_plc_seg,d_plc_seg_name,o_act,o_place_type,o_place_name,o_address,o_lon,o_lat,o_taz,d_act,d_place_type,d_place_name,d_address,d_lon,d_lat,d_taz,trip_dist,headquarters,hq_taz,orgn_to_hq_dist,travel_time,stop_duration,veh_type,cargo_pickup,cargo_delivery,travel_date,participation_type,expnsn_factor,estab_taz,industry_code,o_dt,d_at,nt_dt,last_trip,tod
0,100012,Education/Other public services,2062,2589,1,B,Base,1,Residential,M,Maintenance/Other,5,Retail and Restaurant,1.0,11.0,BASE,2801 B ST # 55,-117.133702,32.717871,2284,11,6,PET SMART,1660 Camino De La Reina d,-117.149017,32.770912,2091,5.6,,0,0,20,50,LCV,NaN,NaN,2022-09-30,online,177.825038,2284,9,2022-09-30 10:00:00,2022-09-30 10:20:00,2022-09-30 11:10:00,False,MD
1,100012,Education/Other public services,2062,2589,2,M,Maintenance/Other,5,Retail and Restaurant,B,Base,1,Residential,11.0,6.0,PET SMART,1660 Camino De La Reina d,-117.149017,32.770912,2091,1,11,BASE,2801 B ST # 55,-117.133702,32.717871,2284,6.9,,0,0,12,18,LCV,NaN,NaN,2022-09-30,online,177.825038,2284,9,2022-09-30 11:10:00,2022-09-30 11:22:00,2022-09-30 11:40:00,False,MD
2,100012,Education/Other public services,2062,2589,3,B,Base,1,Residential,S,Service,4,Other,1.0,11.0,BASE,2801 B ST # 55,-117.133702,32.717871,2284,10,96,DOG PARK,2500 Balboa Dr,-117.158124,32.731546,1933,2.8,,0,0,20,120,LCV,NaN,NaN,2022-09-30,online,177.825038,2284,9,2022-09-30 11:40:00,2022-09-30 12:00:00,2022-09-30 14:00:00,False,MD
3,100012,Education/Other public services,2062,2589,4,S,Service,4,Other,B,Base,1,Residential,10.0,96.0,DOG PARK,2500 Balboa Dr,-117.158124,32.731546,1933,1,11,BASE,2801 B ST # 55,-117.133702,32.717871,2284,3.2,,0,0,20,NaN,LCV,NaN,NaN,2022-09-30,online,177.825038,2284,9,2022-09-30 14:00:00,2022-09-30 14:20:00,NaT,True,MD
4,100012,Education/Other public services,2063,2590,1,B,Base,1,Residential,S,Service,4,Other,1.0,11.0,BASE,2801 B ST # 55,-117.133702,32.717871,2284,10,96,DOG PARK,Soto St,-117.237975,32.752893,828,8.1,,0,0,11,154,LCV,NaN,NaN,2022-09-30,online,177.825038,2284,9,2022-09-30 14:00:00,2022-09-30 14:11:00,2022-09-30 16:45:00,False,MD

In [69]:
df_trips[['o_taz','d_taz','veh_type','tod']].head()

   o_taz  d_taz veh_type tod
0   2284   2091      LCV  MD
1   2091   2284      LCV  MD
2   2284   1933      LCV  MD
3   1933   2284      LCV  MD
4   2284    828      LCV  MD

##### Find the trip generalized travel time from the establishment base to the trip destination

In [70]:
print(f'Example: Generalized travel time from TAZ 3901 to TAZ 4233 in mid-day for heavy trucks is: {g_tt_dfs[2][2].iloc[3900, 4232]} minutes.')

Example: Generalized travel time from TAZ 3901 to TAZ 4233 in mid-day for heavy trucks is: 16.15 minutes.

In [71]:
dic_v = {'LCV': 0, 'SUT': 1, 'MUT': 2}
for i, row in df_trips.iterrows():    
    if row['estab_taz'] == -1 or row['d_taz'] == -1: continue
    df_trips.at[i, 'toll_in_cents_from_base'] = toll_dfs[2][dic_v[row['veh_type']]].at[row['estab_taz']-1, row['d_taz']-1]
    df_trips.at[i, 'gen_tt_from_base'] = g_tt_dfs[2][dic_v[row['veh_type']]].at[row['estab_taz']-1, row['d_taz']-1]

In [72]:
out_file = f'Generalized TT for {dataset}.xlsx'
out_path = os.path.join(project_path, out_data_dir, out_file)
df_trips.to_excel(out_path, engine='openpyxl')

##### Calculate average generalized travel time by industry by destination activity

In [73]:
print(len(df_trips.loc[df_trips['gen_tt_from_base'].isnull()]))
df_trips.loc[df_trips['gen_tt_from_base'].isnull()].head(2)

322

,company_id,industry_group,vehicle_id,driver_id,trip_number,o_act_seg,o_act_seg_name,o_plc_seg,o_plc_seg_name,d_act_seg,d_act_seg_name,d_plc_seg,d_plc_seg_name,o_act,o_place_type,o_place_name,o_address,o_lon,o_lat,o_taz,d_act,d_place_type,d_place_name,d_address,d_lon,d_lat,d_taz,trip_dist,headquarters,hq_taz,orgn_to_hq_dist,travel_time,stop_duration,veh_type,cargo_pickup,cargo_delivery,travel_date,participation_type,expnsn_factor,estab_taz,industry_code,o_dt,d_at,nt_dt,last_trip,tod,toll_in_cents_from_base,gen_tt_from_base
192,100279,Agriculture/Mining,337,659,2,M,Maintenance/Other,6,Gas,P,Goods_Pickup,3,Warehouse,3.0,16.0,ARCO GAS,810 Tamarack Ave,-117.337783,33.152044,127,6,14,ROXFORD PRODUCE INTERNATIONAL,13287 Ralston Ave,-118.473418,34.312105,-1,NaN,,0,0,129,59,LCV,1.0,NaN,2022-08-02,smartphone,9.375,279,1,2022-08-02 04:42:00,2022-08-02 06:51:00,2022-08-02 07:50:00,False,EA,NaN,NaN
193,100279,Agriculture/Mining,337,659,3,P,Goods_Pickup,3,Warehouse,M,Maintenance/Other,6,Gas,6.0,14.0,ROXFORD PRODUCE INTERNATIONAL,13287 Ralston Ave,-118.473418,34.312105,-1,2,16,GAS STATION,15948 Roxford St,-118.478316,34.303948,-1,NaN,,0,0,4,7,LCV,NaN,NaN,2022-08-02,smartphone,9.375,279,1,2022-08-02 07:50:00,2022-08-02 07:54:00,2022-08-02 08:01:00,False,AM,NaN,NaN

In [74]:
cols = ['industry_group', 'd_act_seg', 'd_plc_seg_name', 'veh_type', 'expnsn_factor', 'gen_tt_from_base']
df_gtt = df_trips[cols].copy()
df_gtt = df_gtt.loc[~df_gtt['gen_tt_from_base'].isnull()]
df_gtt = df_gtt.loc[df_gtt['d_act_seg'].isin(['P', 'D', 'S'])]
df_gtt.rename(columns={'d_act_seg': 'purpose'}, inplace=True)
df_gtt['purpose'] = df_gtt['purpose'].apply(lambda x: 'Service' if x=='S' else 'Goods')
# df_gtt.insert(4, 'count', 1)
df_gtt.insert(3, 'customer', 'Business')
df_gtt.loc[df_gtt['d_plc_seg_name']=='Residential', 'customer'] = 'Resident'
df_gtt.drop(columns='d_plc_seg_name', inplace=True)
df_gtt.head(2)

,industry_group,purpose,customer,veh_type,expnsn_factor,gen_tt_from_base
2,Education/Other public services,Service,Business,LCV,177.825038,8.77
4,Education/Other public services,Service,Business,LCV,177.825038,11.99

###### Unweighted generalized travel time

In [75]:
df_gtt_unw1 = df_gtt.groupby(['industry_group', 'purpose', 'customer', 'veh_type']).size().rename('sample_size').reset_index()
df_gtt_unw1.head()

       industry_group  purpose  customer veh_type  sample_size
0  Agriculture/Mining    Goods  Business      LCV           15
1  Agriculture/Mining    Goods  Business      MUT            2
2  Agriculture/Mining    Goods  Resident      LCV            5
3  Agriculture/Mining  Service  Business      LCV           52
4  Agriculture/Mining  Service  Business      MUT            7

In [76]:
df_gtt_unw2 = df_gtt.groupby(['industry_group', 'purpose', 'customer', 'veh_type'])['gen_tt_from_base']\
.mean().reset_index()
df_gtt_unw2.head()

       industry_group  purpose  customer veh_type  gen_tt_from_base
0  Agriculture/Mining    Goods  Business      LCV         25.017333
1  Agriculture/Mining    Goods  Business      MUT         28.535000
2  Agriculture/Mining    Goods  Resident      LCV         23.902000
3  Agriculture/Mining  Service  Business      LCV         29.152308
4  Agriculture/Mining  Service  Business      MUT         20.868571

In [77]:
df_gtt_unw = pd.merge(df_gtt_unw1, df_gtt_unw2, on=['industry_group', 'purpose', 'customer', 'veh_type']).dropna()
df_gtt_unw['product'] = df_gtt_unw['sample_size'] * df_gtt_unw['gen_tt_from_base']
df_gtt_unw.head()

,industry_group,purpose,customer,veh_type,sample_size,gen_tt_from_base,product
0,Agriculture/Mining,Goods,Business,LCV,15,25.017333,375.26
1,Agriculture/Mining,Goods,Business,MUT,2,28.535000,57.07
2,Agriculture/Mining,Goods,Resident,LCV,5,23.902000,119.51
3,Agriculture/Mining,Service,Business,LCV,52,29.152308,1515.92
4,Agriculture/Mining,Service,Business,MUT,7,20.868571,146.08

In [78]:
s = df_gtt_unw.groupby(['industry_group', 'purpose', 'customer'])['sample_size'].sum()
df_avg_gtt_unw = ((df_gtt_unw.groupby(['industry_group', 'purpose', 'customer'])['product'].sum()/s)\
                  .rename('avg_gen_tt_unweighted')).reset_index()
df_avg_gtt_unw = s.reset_index().merge(df_avg_gtt_unw, on=['industry_group', 'purpose', 'customer'] )
df_avg_gtt_unw.head()

       industry_group  purpose  customer  sample_size  avg_gen_tt_unweighted
0  Agriculture/Mining    Goods  Business           17              25.431176
1  Agriculture/Mining    Goods  Resident            5              23.902000
2  Agriculture/Mining  Service  Business           83              35.046867
3  Agriculture/Mining  Service  Resident           41              31.684878
4       Construction     Goods  Business           71              23.832817

In [79]:
out_file = f'Generalized TT for {dataset} Segments, Unweighted.xlsx'
out_path = os.path.join(project_path, out_data_dir, out_file)
df_avg_gtt_unw.to_excel(out_path, engine='openpyxl')

###### Weighted generalized travel time

In [80]:
df_gtt2 = df_gtt.copy()
df_gtt2['expanded_tt'] = df_gtt2.expnsn_factor * df_gtt2.gen_tt_from_base
df_gtt2.head(1)

,industry_group,purpose,customer,veh_type,expnsn_factor,gen_tt_from_base,expanded_tt
2,Education/Other public services,Service,Business,LCV,177.825038,8.77,1559.525583

In [81]:
df_gtt2_wei0 = df_gtt2.groupby(['industry_group', 'purpose', 'customer', 'veh_type']).size().rename('sample_size').reset_index()
df_gtt2_wei0.head()

       industry_group  purpose  customer veh_type  sample_size
0  Agriculture/Mining    Goods  Business      LCV           15
1  Agriculture/Mining    Goods  Business      MUT            2
2  Agriculture/Mining    Goods  Resident      LCV            5
3  Agriculture/Mining  Service  Business      LCV           52
4  Agriculture/Mining  Service  Business      MUT            7

In [82]:
df_gtt2_wei1 = df_gtt2.groupby(['industry_group', 'purpose', 'customer', 'veh_type'])['expnsn_factor']\
.sum().rename('pop_size').reset_index()
df_gtt2_wei1.head()

       industry_group  purpose  customer veh_type     pop_size
0  Agriculture/Mining    Goods  Business      LCV   151.640938
1  Agriculture/Mining    Goods  Business      MUT   713.092329
2  Agriculture/Mining    Goods  Resident      LCV    63.398907
3  Agriculture/Mining  Service  Business      LCV   564.611566
4  Agriculture/Mining  Service  Business      MUT  2495.823153

In [83]:
df_gtt2_wei2 = df_gtt2.groupby(['industry_group', 'purpose', 'customer', 'veh_type'])['expanded_tt']\
.sum().reset_index()
df_gtt2_wei2.head()

       industry_group  purpose  customer veh_type   expanded_tt
0  Agriculture/Mining    Goods  Business      LCV   4013.614474
1  Agriculture/Mining    Goods  Business      MUT  20348.089620
2  Agriculture/Mining    Goods  Resident      LCV   1418.056897
3  Agriculture/Mining  Service  Business      LCV  15901.484740
4  Agriculture/Mining  Service  Business      MUT  52084.263740

In [84]:
df_gtt2_wei = pd.merge(df_gtt2_wei0, df_gtt2_wei1, on=['industry_group', 'purpose', 'customer', 'veh_type'])
df_gtt2_wei = pd.merge(df_gtt2_wei, df_gtt2_wei2, on=['industry_group', 'purpose', 'customer', 'veh_type']).dropna()
# df_gtt2_wei['product'] = df_gtt2_wei['pop_size'] * df_gtt2_wei['expanded_tt']
df_gtt2_wei.head()

,industry_group,purpose,customer,veh_type,sample_size,pop_size,expanded_tt
0,Agriculture/Mining,Goods,Business,LCV,15,151.640938,4013.614474
1,Agriculture/Mining,Goods,Business,MUT,2,713.092329,20348.089620
2,Agriculture/Mining,Goods,Resident,LCV,5,63.398907,1418.056897
3,Agriculture/Mining,Service,Business,LCV,52,564.611566,15901.484740
4,Agriculture/Mining,Service,Business,MUT,7,2495.823153,52084.263740

In [85]:
sz= df_gtt2_wei.groupby(['industry_group', 'purpose', 'customer'])['sample_size'].sum()
s = df_gtt2_wei.groupby(['industry_group', 'purpose', 'customer'])['pop_size'].sum()
df_avg_gtt2_wei = ((df_gtt2_wei.groupby(['industry_group', 'purpose', 'customer'])['expanded_tt'].sum()/s)\
                  .rename('avg_gen_tt_weighted')).reset_index()
s = sz.reset_index().merge(s, on=['industry_group', 'purpose', 'customer'] )
df_avg_gtt2_wei = s.reset_index().merge(df_avg_gtt2_wei, on=['industry_group', 'purpose', 'customer'] )
df_avg_gtt2_wei.head()

,index,industry_group,purpose,customer,sample_size,pop_size,avg_gen_tt_weighted
0,0,Agriculture/Mining,Goods,Business,17,864.733267,28.172507
1,1,Agriculture/Mining,Goods,Resident,5,63.398907,22.367214
2,2,Agriculture/Mining,Service,Business,83,3371.647834,24.959439
3,3,Agriculture/Mining,Service,Resident,41,1912.676007,27.081218
4,4,Construction,Goods,Business,71,13647.715972,25.655633

In [86]:
out_file = f'Generalized TT for {dataset} Segments, Weighted.xlsx'
out_path = os.path.join(project_path, out_data_dir, out_file)
df_avg_gtt2_wei.to_excel(out_path, engine='openpyxl')

#### Create Summaries from the Trip Dataframe

In [87]:
# Unweighted:
AvgStop1 = df_trips[df_trips['stop_duration']>0].groupby(['d_act_seg_name', 'industry_group']).size().rename('count')
AvgStop2 = df_trips[df_trips['stop_duration']>0].groupby(['d_act_seg_name', 'industry_group'])['stop_duration']\
.mean().rename('stop_duration_minutes').round()

# Weighted:
df_trips.loc[df_trips['stop_duration']>0, 'dur_by_weight'] = df_trips['stop_duration'] * df_trips['expnsn_factor']
AvgStop1w = df_trips[df_trips['stop_duration']>0].groupby(['d_act_seg_name', 'industry_group'])['expnsn_factor'].sum().rename('weighted_count')
AvgStop2w = (df_trips[df_trips['stop_duration']>0].groupby(['d_act_seg_name', 'industry_group'])['dur_by_weight'].sum()/\
            df_trips[df_trips['stop_duration']>0].groupby(['d_act_seg_name', 'industry_group'])['expnsn_factor'].sum()).\
            rename('stop_duration_minutes').round()

In [88]:
# df_trips[df_trips['stop_duration']>0][['stop_duration','expnsn_factor']].sort_values(['expnsn_factor'], ascending=True)

In [89]:
AvgStop = pd.concat([AvgStop1, AvgStop2], axis=1)
AvgStop_w = pd.concat([AvgStop1w, AvgStop2w], axis=1)
AvgStop
AvgStop_w

                                                                      weighted_count  \
d_act_seg_name    industry_group
Base              Agriculture/Mining                                       41.092213
                  Construction                                           9212.959715
                  Education/Other public services                       22624.591639
                  Industrial/Utilities                                   1409.956655
                  Info/Finance/Insurance/Real Estate/Professional...    10798.237452
                  Leisure/Accommodations and Food                        2099.181795
                  Manufacturing                                          3753.003469
                  Medical/Health Services                               17565.315462
                  Retail                                                 4457.208138
                  Transportation                                         3044.081924
                  Wholesale                                              2056.656379
Goods_Delivery    Agriculture/Mining                                      937.267876
                  Construction                                          14471.344954
                  Education/Other public services                        1731.687903
                  Industrial/Utilities                                    727.300182
                  Info/Finance/Insurance/Real Estate/Professional...     1237.479642
                  Leisure/Accommodations and Food                        1534.148238
                  Manufacturing                                         27670.428115
                  Medical/Health Services                              219148.462972
                  Retail                                                10322.424056
                  Transportation                                        35988.013518
                  Wholesale                                             16465.204974
Goods_Pickup      Agriculture/Mining                                       39.140938
                  Construction                                           4765.481593
                  Education/Other public services                        2087.337979
                  Info/Finance/Insurance/Real Estate/Professional...     7683.308320
                  Leisure/Accommodations and Food                         137.742969
                  Manufacturing                                         10195.380932
                  Medical/Health Services                                6467.488856
                  Retail                                                 1250.818955
                  Transportation                                         2844.424115
                  Wholesale                                              2206.314399
Home              Agriculture/Mining                                       39.140938
                  Construction                                           2644.248805
                  Education/Other public services                        6291.512737
                  Industrial/Utilities                                    385.343598
                  Info/Finance/Insurance/Real Estate/Professional...     1797.777390
                  Leisure/Accommodations and Food                         137.742969
                  Manufacturing                                           525.449968
                  Medical/Health Services                                 200.692446
                  Retail                                                  930.183991
                  Transportation                                          971.357064
                  Wholesale                                               383.044463
Maintenance/Other Agriculture/Mining                                     1218.474388
                  Construction                                          43730.544220
                  Education/Other public services                      106296.750916
                  Industrial/Utilities                                   2401.014477
                  Info/Finance/Insurance/Real Estate/Professional...    61197.125320
                  Leisure/Accommodations and Food                        7153.335920
                  Manufacturing                                         23193.872361
                  Medical/Health Services                               72232.463373
                  Retail                                                24546.902844
                  Transportation                                        11919.434814
                  Wholesale                                             14915.137339
Service           Agriculture/Mining                                     5226.707721
                  Construction                                          61626.214702
                  Education/Other public services                      286161.281740
                  Industrial/Utilities                                   9685.711999
                  Info/Finance/Insurance/Real Estate/Professional...    92128.357594
                  Leisure/Accommodations and Food                       13246.874904
                  Manufacturing                                         26316.597393
                  Medical/Health Services                               36723.621171
                  Retail                                                26914.248201
                  Transportation                                        28345.101139
                  Wholesale                                             22206.799844

                                                                      stop_duration_minutes
d_act_seg_name    industry_group
Base              Agriculture/Mining                                                   56.0
                  Construction                                                        119.0
                  Education/Other public services                                      78.0
                  Industrial/Utilities                                                 44.0
                  Info/Finance/Insurance/Real Estate/Professional...                  147.0
                  Leisure/Accommodations and Food                                     119.0
                  Manufacturing                                                        68.0
                  Medical/Health Services                                              67.0
                  Retail                                                              103.0
                  Transportation                                                      112.0
                  Wholesale                                                            91.0
Goods_Delivery    Agriculture/Mining                                                   44.0
                  Construction                                                         42.0
                  Education/Other public services                                     121.0
                  Industrial/Utilities                                                 71.0
                  Info/Finance/Insurance/Real Estate/Professional...                   34.0
                  Leisure/Accommodations and Food                                      39.0
                  Manufacturing                                                        34.0
                  Medical/Health Services                                               9.0
                  Retail                                                               19.0
                  Transportation                                                        8.0
                  Wholesale                                                            23.0
Goods_Pickup      Agriculture/Mining                                                   50.0
                  Construction                                                         77.0
                  Education/Other public services                                      94.0
                  Info/Finance/Insurance/Real Estate/Professional...                   15.0
                  Leisure/Accommodations and Food                                      17.0
                  Manufacturing                                                        41.0
                  Medical/Health Services                                              26.0
                  Retail                                                               51.0
                  Transportation                                                       35.0
                  Wholesale                                                            74.0
Home              Agriculture/Mining                                                   37.0
                  Construction                                                         91.0
                  Education/Other public services                                      28.0
                  Industrial/Utilities                                                 18.0
                  Info/Finance/Insurance/Real Estate/Professional...                   88.0
                  Leisure/Accommodations and Food                                       4.0
                  Manufacturing                                                        26.0
                  Medical/Health Services                                              28.0
                  Retail                                                               87.0
                  Transportation                                                       81.0
                  Wholesale                                                           138.0
Maintenance/Other Agriculture/Mining                                                   17.0
                  Construction                                                         19.0
                  Education/Other public services                                      21.0
                  Industrial/Utilities                                                 44.0
                  Info/Finance/Insurance/Real Estate/Professional...                   29.0
                  Leisure/Accommodations and Food                                      33.0
                  Manufacturing                                                        34.0
                  Medical/Health Services                                               7.0
                  Retail                                                               34.0
                  Transportation                                                       22.0
                  Wholesale                                                            19.0
Service           Agriculture/Mining                                                   36.0
                  Construction                                                         73.0
                  Education/Other public services                                      31.0
                  Industrial/Utilities                                                 39.0
                  Info/Finance/Insurance/Real Estate/Professional...                   79.0
                  Leisure/Accommodations and Food                                      68.0
                  Manufacturing                                                        34.0
                  Medical/Health Services                                              36.0
                  Retail                                                               34.0
                  Transportation                                                       32.0
                  Wholesale                                                            33.0

In [90]:
i = 'industry_group'  
pvt_ind_act = pd.pivot_table(df_trips, values='company_id', index=i,
                             columns='d_act_seg_name', aggfunc='count').fillna(0) #, sort=True) For sort, default is True. 
pvt_ind_act_w = pd.pivot_table(df_trips, values='expnsn_factor', index=i,
                             columns='d_act_seg_name', aggfunc='sum').fillna(0).round() #, sort=True) For sort, default is True.    
pvt_ind_act
pvt_ind_act_w

d_act_seg_name,Base,Goods_Delivery,Goods_Pickup,Home,Maintenance/Other,Service
industry_group,,,,,,
Agriculture/Mining,1747.0,937.0,39.0,125.0,1696.0,5284.0
Construction,26097.0,15008.0,4765.0,9517.0,49580.0,63845.0
Education/Other public services,52820.0,1732.0,2087.0,14433.0,121087.0,291525.0
Industrial/Utilities,2805.0,727.0,0.0,618.0,3572.0,10159.0
Info/Finance/Insurance/Real Estate/Professional services,33407.0,1237.0,7683.0,11172.0,69878.0,95130.0
Leisure/Accommodations and Food,6707.0,1534.0,138.0,1786.0,7899.0,13541.0
Manufacturing,10781.0,27815.0,10195.0,1872.0,27584.0,28093.0
Medical/Health Services,31772.0,223656.0,6467.0,2865.0,82002.0,38332.0
Retail,13105.0,10322.0,1251.0,3748.0,25794.0,27169.0
Transportation,7719.0,36612.0,2844.0,2834.0,13812.0,29061.0
Wholesale,9238.0,16567.0,2206.0,1164.0,16433.0,23404.0

In [91]:
pvt_act_plc = pd.pivot_table(df_trips, values='company_id', index='d_act_seg_name',
                             columns='d_plc_seg_name', aggfunc='count').fillna(0) #, sort=True) For sort, default is True.
pvt_act_plc_w = pd.pivot_table(df_trips, values='expnsn_factor', index='d_act_seg_name',
                             columns='d_plc_seg_name', aggfunc='sum').fillna(0).round() #, sort=True) For sort, default is True.
pvt_act_plc
# pvt_act_plc_w

d_plc_seg_name,Gas,"Industrial, Agriculture, or Construction",Office,Other,Residential,Retail and Restaurant,Truck Terminal or Parking,Warehouse
d_act_seg_name,,,,,,,,
Base,2.0,115.0,657.0,22.0,75.0,132.0,11.0,353.0
Goods_Delivery,39.0,105.0,249.0,37.0,1192.0,158.0,4.0,176.0
Goods_Pickup,1.0,81.0,36.0,16.0,12.0,37.0,8.0,46.0
Home,0.0,0.0,1.0,1.0,378.0,1.0,0.0,11.0
Maintenance/Other,491.0,60.0,260.0,817.0,117.0,675.0,29.0,97.0
Service,31.0,382.0,1321.0,342.0,1361.0,358.0,4.0,386.0

In [92]:
out_file = dataset + f'_StopDuration_{current_date}.xlsx'
out_path = os.path.join(project_path, out_data_dir)
if not os.path.exists(out_path):
   os.makedirs(out_path)
out_path = os.path.join(project_path, out_data_dir, out_file)
xl_writer = pd.ExcelWriter(out_path, engine='openpyxl')

In [93]:
sn1 = 'StopDur_byAct&Ind'
sn2 = 'StopDur_byAct&Ind_w'
sn3 = 'Ind-DesAct'
sn4 = 'Ind-DesAct_w'
sn5 = 'DesAct-DesPlc'
sn6 = 'DesAct-DesPlc_w'
AvgStop.to_excel(xl_writer, sheet_name=sn1) # , index_label='index'
AvgStop_w.to_excel(xl_writer, sheet_name=sn2) # , index_label='index'
# pvt_ind_act.to_excel(xl_writer, sheet_name=sn3) # , index_label='index'
# pvt_ind_act_w.to_excel(xl_writer, sheet_name=sn4) # , index_label='index'
# pvt_act_plc.to_excel(xl_writer, sheet_name=sn5) # , index_label='index'
# pvt_act_plc_w.to_excel(xl_writer, sheet_name=sn6) # , index_label='index'
xl_writer.close()

try:
    df_trips.drop(columns='dur_by_weight', inplace=True)
except:
    pass

#### Start Creating the Routes

In [94]:
cols = ['route_id', 'industry_group', 'veh_type',        
        'trip_count', 'g_stops', 's_stops', 'm_stops', 'b_stops', 'h_stops',        
        'primary_purp', 'customer_type',
        'start_tod', 'end_tod', 'route_dur_hr', 'cumlv_dur', 'durations_match',
        'start_activity', 'end_activity',
        'start_plc_seg', 'end_plc_seg',
        'act_seg_seq', 'plc_seg_seq',
        'headquarters', 'hq_taz',
        'tot_distance',
        'company_id', 'vehicle_id', 'driver_id',
        'participation_type', 'expnsn_factor', 'estab_taz', 'trips']
# g_stops = goods stops, s for services, m for maintenance/other, b for base, h for home. (These are super activities.)
# Primary purpose: Goods, Services, Maintenance/Other
# Customer type: Residential, Non-residential, Mixed
# start_tod = starting time of day, it is the first departure; end_tod = ending time of day, it is the last arrival.
# route_dur_hr = Duration of the route based on its start and end times.
# cumlv_dur = Duration of the route based on trip and stay durations.
# durations_match = True if route durations from the two methods match; else False.
# start_activity or end_activity: Starting/ending activity at O/D
# start_plc_seg or end_plc_seg: Starting/ending place (Base, Home, Warehouse/DC (distribution center)/Transport Node, Other)
# headquarters: Primary point of return. Most of the time it is the base.
# hq_taz: TAZ of the primary point of return.

if dataset=='TNC': cols.insert(-1, 'company_name')
    
df_routes = pd.DataFrame(columns = cols)

In [95]:
# Iterate through the trip dataframe.
for i, row in df_trips.iterrows():
    
    # If this trip is the first trip of the route, initialize a route for it.
    if row['trip_number'] == 1:
        df_temp_rt = pd.DataFrame(columns=cols, index=[0])
        
        # Generate a route ID.
        date = str(df_trips.at[i, 'travel_date'])[:10]
        date = date.replace('-', '')
        date = int(date) * 10000
        df_temp_rt['route_id'] = date + row['vehicle_id']
        
        # Copy common attributes from the trip row to the temporary route dataframe.
        for c in df_temp_rt.columns.to_list():
            if c in df_trips.columns.to_list():
                df_temp_rt[c] = row[c]
        
        # Initialize route variables.
        trips = []
        activities = [row['o_act_seg']]
        places = [row['o_plc_seg']]
        
        # Set route variables that are known.
        df_temp_rt['start_activity'] = row['o_act_seg']
        df_temp_rt['start_plc_seg'] = dic_pt2[row['o_plc_seg']]
        df_temp_rt['start_tod'] = row['o_dt']
    
    # Initialize a trip and store the current row values into its attributes.
    t = Trip()    
    t.index = i
    for attr in list(vars(t).keys()):
        if attr == 'index': continue
        #  print(row[str(attr)])
        #  print(getattr(t, attr))
        setattr(t, attr, row[attr])
    
    trips.append(t)
    # Add trip info to the route variables.    
    activities.append(row['d_act_seg'])
    places.append(row['d_plc_seg'])
    
    # Finalize the route if this is the last trip of the route.
    if row['last_trip']:
        df_temp_rt.at[0, 'act_seg_seq'] = activities
        df_temp_rt.at[0, 'plc_seg_seq'] = places
        df_temp_rt.at[0, 'trips'] = trips
                
        # Set route variables that are known.        
        df_temp_rt['end_activity'] = row['d_act_seg']
        df_temp_rt['end_plc_seg'] = dic_pt2[row['d_plc_seg']]
        df_temp_rt['end_tod'] = row['d_at']
        
        # Attach the completed route to the route dataframe.
        df_routes = pd.concat([df_routes, df_temp_rt], axis=0, ignore_index=True)
        
#     if i == 300: break
df_routes.tail()

,route_id,industry_group,veh_type,trip_count,g_stops,s_stops,m_stops,b_stops,h_stops,primary_purp,customer_type,start_tod,end_tod,route_dur_hr,cumlv_dur,durations_match,start_activity,end_activity,start_plc_seg,end_plc_seg,act_seg_seq,plc_seg_seq,headquarters,hq_taz,tot_distance,company_id,vehicle_id,driver_id,participation_type,expnsn_factor,estab_taz,trips
1569,202210111855,Construction,MUT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-10-11 08:04:00,2022-10-11 18:31:00,NaN,NaN,NaN,B,B,Office,Warehouse,"[B, M, P, D, D, B, S, B, M, B]","[2, 6, 7, 2, 2, 2, 1, 3, 1, 3]",,0,NaN,600154,1855,2394,smartphone,247.696367,3366,"[<__main__.Trip object at 0x0000029280B72748>,..."
1570,202210111856,Construction,MUT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-10-11 08:03:00,2022-10-11 11:43:00,NaN,NaN,NaN,M,M,Residential,Truck Terminal or Parking,"[M, M, P, D, M]","[1, 6, 7, 7, 8]",,0,NaN,600154,1856,2395,smartphone,247.696367,3366,"[<__main__.Trip object at 0x0000029280B57B08>,..."
1571,202210111857,Construction,MUT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-10-11 08:03:00,2022-10-11 16:57:00,NaN,NaN,NaN,B,B,Office,Warehouse,"[B, M, P, D, D, D, B, S, S, B]","[2, 6, 7, 2, 5, 5, 2, 3, 3, 3]",,0,NaN,600154,1857,2396,smartphone,247.696367,3366,"[<__main__.Trip object at 0x0000029280B68B48>,..."
1572,202210111858,Construction,MUT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-10-11 08:03:00,2022-10-11 11:45:00,NaN,NaN,NaN,B,D,Office,Truck Terminal or Parking,"[B, M, P, S, D]","[2, 6, 7, 2, 8]",,0,NaN,600154,1858,2397,smartphone,247.696367,3366,"[<__main__.Trip object at 0x0000029280B68788>,..."
1573,202210111859,Construction,MUT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-10-11 08:03:00,2022-10-11 12:03:00,NaN,NaN,NaN,B,B,Office,Truck Terminal or Parking,"[B, M, P, D, S, D, B]","[2, 6, 7, 7, 4, 7, 8]",,0,NaN,600154,1859,2398,smartphone,247.696367,3366,"[<__main__.Trip object at 0x0000029280B68C88>,..."

In [96]:
for i, row in df_routes.iterrows():
    # Identify number of stops by type of stop.        
    df_routes.at[i, 'trip_count'] = len(row['trips'])
    counts = collections.Counter(row['act_seg_seq'][1:])
    df_routes.at[i, 'g_stops'] = counts['P'] + counts['D']
    df_routes.at[i, 's_stops'] = counts['S']
    df_routes.at[i, 'm_stops'] = counts['M']
    df_routes.at[i, 'b_stops'] = counts['B']
    df_routes.at[i, 'h_stops'] = counts['H']
    
    # Identify the primary purpose of the route.
    if 'P' in row['act_seg_seq'][1:]:
        purp = 'Goods'
    elif 'D' in row['act_seg_seq'][1:]:
        purp = 'Goods'        
    elif 'S' in row['act_seg_seq'][1:]:
        purp = 'Service'
    else:
        purp = 'Maintenance/Other'
    df_routes.at[i, 'primary_purp'] = purp    
    
    # Find total distance traveled on the route.
    dist = 0
    for t in row['trips']:
        dist += t.trip_dist
    df_routes.at[i, 'tot_distance'] = dist
    
df_routes.head()

,route_id,industry_group,veh_type,trip_count,g_stops,s_stops,m_stops,b_stops,h_stops,primary_purp,customer_type,start_tod,end_tod,route_dur_hr,cumlv_dur,durations_match,start_activity,end_activity,start_plc_seg,end_plc_seg,act_seg_seq,plc_seg_seq,headquarters,hq_taz,tot_distance,company_id,vehicle_id,driver_id,participation_type,expnsn_factor,estab_taz,trips
0,202209302062,Education/Other public services,LCV,4,0,1,1,2,0,Service,NaN,2022-09-30 10:00:00,2022-09-30 14:20:00,NaN,NaN,NaN,B,B,Residential,Residential,"[B, M, B, S, B]","[1, 5, 1, 4, 1]",,0,18.5,100012,2062,2589,online,177.825038,2284,"[<__main__.Trip object at 0x000002934A83CA88>,..."
1,202209302063,Education/Other public services,LCV,3,0,1,1,1,0,Service,NaN,2022-09-30 14:00:00,2022-09-30 17:22:00,NaN,NaN,NaN,B,B,Residential,Residential,"[B, S, M, B]","[1, 4, 6, 1]",,0,16.9,100012,2063,2590,online,177.825038,2284,"[<__main__.Trip object at 0x000002930D7AB088>,..."
2,202209302064,Education/Other public services,LCV,5,0,2,1,2,0,Service,NaN,2022-09-30 10:00:00,2022-09-30 15:03:00,NaN,NaN,NaN,B,B,Residential,Residential,"[B, S, B, S, M, B]","[1, 2, 1, 2, 6, 1]",,0,90,100012,2064,2591,online,177.825038,2284,"[<__main__.Trip object at 0x000002930D7B87C8>,..."
3,202209161405,Agriculture/Mining,LCV,2,0,0,2,0,0,Maintenance/Other,NaN,2022-09-16 09:07:36,2022-09-16 09:42:00,NaN,NaN,NaN,H,M,Residential,Office,"[H, M, M]","[1, 5, 2]",,0,9.1,100021,1405,1974,smartphone,14.882969,89,"[<__main__.Trip object at 0x00000292855E5448>,..."
4,202209161406,Agriculture/Mining,LCV,4,0,2,2,0,0,Service,NaN,2022-09-16 08:55:00,2022-09-16 09:41:00,NaN,NaN,NaN,B,S,Office,Other,"[B, S, M, M, S]","[2, 1, 2, 6, 4]",,0,19.2,100021,1406,1975,smartphone,14.882969,89,"[<__main__.Trip object at 0x0000029281E9D848>,..."

In [97]:
for i, t in enumerate(df_routes.at[0, 'trips']):    
    print(f'\nTrip #{i+1}:')
    for e in zip(list(vars(t).keys()), list(vars(t).values())):
        print(e)

Trip #1:
('index', 0)
('o_act', 1.0)
('o_place_type', 11.0)
('o_place_name', 'BASE')
('o_address', '2801 B ST # 55')
('o_lon', -117.133702)
('o_lat', 32.717871)
('o_taz', 2284)
('d_act', 11)
('d_place_type', 6)
('d_place_name', 'PET SMART')
('d_address', '1660 Camino De La Reina d')
('d_lon', -117.149017)
('d_lat', 32.770912)
('d_taz', 2091)
('trip_dist', 5.6)
('o_dt', Timestamp('2022-09-30 10:00:00'))
('d_at', Timestamp('2022-09-30 10:20:00'))
('nt_dt', Timestamp('2022-09-30 11:10:00'))
('travel_time', 20)
('stop_duration', 50)
('cargo_pickup', nan)
('cargo_delivery', nan)
('travel_date', Timestamp('2022-09-30 00:00:00'))
('last_trip', False)

Trip #2:
('index', 1)
('o_act', 11.0)
('o_place_type', 6.0)
('o_place_name', 'PET SMART')
('o_address', '1660 Camino De La Reina d')
('o_lon', -117.149017)
('o_lat', 32.770912)
('o_taz', 2091)
('d_act', 1)
('d_place_type', 11)
('d_place_name', 'BASE')
('d_address', '2801 B ST # 55')
('d_lon', -117.133702)
('d_lat', 32.717871)
('d_taz', 2284)
('trip_dist', 6.9)
('o_dt', Timestamp('2022-09-30 11:10:00'))
('d_at', Timestamp('2022-09-30 11:22:00'))
('nt_dt', Timestamp('2022-09-30 11:40:00'))
('travel_time', 12)
('stop_duration', 18)
('cargo_pickup', nan)
('cargo_delivery', nan)
('travel_date', Timestamp('2022-09-30 00:00:00'))
('last_trip', False)

Trip #3:
('index', 2)
('o_act', 1.0)
('o_place_type', 11.0)
('o_place_name', 'BASE')
('o_address', '2801 B ST # 55')
('o_lon', -117.133702)
('o_lat', 32.717871)
('o_taz', 2284)
('d_act', 10)
('d_place_type', 96)
('d_place_name', 'DOG PARK')
('d_address', '2500 Balboa Dr')
('d_lon', -117.158124)
('d_lat', 32.731546)
('d_taz', 1933)
('trip_dist', 2.8)
('o_dt', Timestamp('2022-09-30 11:40:00'))
('d_at', Timestamp('2022-09-30 12:00:00'))
('nt_dt', Timestamp('2022-09-30 14:00:00'))
('travel_time', 20)
('stop_duration', 120)
('cargo_pickup', nan)
('cargo_delivery', nan)
('travel_date', Timestamp('2022-09-30 00:00:00'))
('last_trip', False)

Trip #4:
('index', 3)
('o_act', 10.0)
('o_place_type', 96.0)
('o_place_name', 'DOG PARK')
('o_address', '2500 Balboa Dr')
('o_lon', -117.158124)
('o_lat', 32.731546)
('o_taz', 1933)
('d_act', 1)
('d_place_type', 11)
('d_place_name', 'BASE')
('d_address', '2801 B ST # 55')
('d_lon', -117.133702)
('d_lat', 32.717871)
('d_taz', 2284)
('trip_dist', 3.2)
('o_dt', Timestamp('2022-09-30 14:00:00'))
('d_at', Timestamp('2022-09-30 14:20:00'))
('nt_dt', NaT)
('travel_time', 20)
('stop_duration', nan)
('cargo_pickup', nan)
('cargo_delivery', nan)
('travel_date', Timestamp('2022-09-30 00:00:00'))
('last_trip', True)

In [98]:
# Determine customer type.

# Customer Types at Stops (only applies to routes with Goods and/or Service purposes):
# a. Residential Only (households, including multi-family buildings)
# b. Non-residential Only (commercial, public/government)
# c. Mixed Residential and Non-residential
dic_cstmr_typ = {
    'ro' : 'Residential Only',
    'nro': 'Non-Residential Only',
    'm'  : 'Mixed Residential and Non-residential',
    'nc' : 'No Customer'
}

# plc_seg_code: plc_seg_name
# 1: Residential
# 2: Office
# 3: Warehouse
# 4: Other   A closer look at the trip table indicated most of these places are non-residential.
# 5: Retail and Restaurant
# 6: Gas
# 7: Industrial, Agriculture, or Construction
# 8: Truck Terminal or Parking

lst_res = [1]
lst_non_res = [2, 3, 4, 5, 6, 7, 8]

# Logic: if no relevant place is visited: No Customer;
#        else if every visited place is res: Residential Only;
#        else if there's at least one residential place that has been visited: Mixed;
#        else: Non-Residential Only.

def identify_customer(lrvp):  # lrvp is the list of relevant, visited places.    
    if not lrvp: return 'nc'  # if input list is empty, no customer has been served, or no
                              # good has been delivered or picked up.
    result = 'ro'
    for plc in lrvp:
        if plc not in lst_res:
            result = ''
    if result == 'ro': return result
    result = 'm'
    for plc in lrvp:
        if plc not in lst_non_res:
            return result
    result = 'nro'
    return result
    

for i, route in df_routes.iterrows():
    acts = route['act_seg_seq']
    plcs = route['plc_seg_seq']
    plcs_cleaned = []
    for j, act in enumerate(acts):
        if act in ['S', 'P', 'D']: plcs_cleaned.append(plcs[j])
    cstmr = identify_customer(plcs_cleaned)
    df_routes.at[i, 'customer_type'] = dic_cstmr_typ[cstmr]

In [99]:
df_routes[['act_seg_seq', 'plc_seg_seq', 'customer_type']]

,act_seg_seq,plc_seg_seq,customer_type
0,"[B, M, B, S, B]","[1, 5, 1, 4, 1]",Non-Residential Only
1,"[B, S, M, B]","[1, 4, 6, 1]",Non-Residential Only
2,"[B, S, B, S, M, B]","[1, 2, 1, 2, 6, 1]",Non-Residential Only
3,"[H, M, M]","[1, 5, 2]",No Customer
4,"[B, S, M, M, S]","[2, 1, 2, 6, 4]",Mixed Residential and Non-residential
5,"[S, H, M, S]","[1, 1, 5, 6]",Mixed Residential and Non-residential
6,"[B, S, M, S, S]","[2, 1, 6, 6, 2]",Mixed Residential and Non-residential
7,"[B, S, H, M, M]","[2, 1, 1, 6, 2]",Residential Only
8,"[B, S, M, H]","[2, 1, 6, 1]",Residential Only
9,"[B, D, M]","[2, 6, 7]",Non-Residential Only
10,"[B, M, M]","[2, 6, 3]",No Customer
11,"[B, D, M]","[2, 6, 3]",Non-Residential Only
12,"[B, M, B]","[2, 5, 2]",No Customer
13,"[B, M, S, B]","[2, 6, 2, 1]",Non-Residential Only
14,"[B, S, P, S, S, P, S, B]","[2, 4, 5, 5, 2, 5, 2, 7]",Non-Residential Only
15,"[B, M, B]","[7, 5, 7]",No Customer
16,"[B, D, B]","[2, 4, 7]",Non-Residential Only
17,"[H, B]","[1, 7]",No Customer
18,"[B, S, S, S, S, S, S, S, M]","[2, 1, 2, 3, 1, 1, 3, 2, 4]",Mixed Residential and Non-residential
19,"[H, S, S, S, S, S, S, S, S]","[1, 1, 1, 1, 1, 1, 6, 1, 1]",Mixed Residential and Non-residential
20,"[H, S, S, S, B]","[1, 2, 3, 1, 2]",Mixed Residential and Non-residential
21,"[H, S, S, S, S, M, H]","[3, 4, 4, 4, 4, 6, 1]",Non-Residential Only
22,"[B, S, S, B]","[2, 4, 3, 2]",Non-Residential Only
23,"[B, S, B]","[2, 1, 1]",Residential Only
24,"[B, S, S, B]","[1, 1, 2, 1]",Mixed Residential and Non-residential
25,"[B, D, D, D, B]","[2, 1, 1, 1, 5]",Residential Only
26,"[B, M, M, M, M, B]","[1, 5, 5, 6, 5, 1]",No Customer
27,"[B, M, B]","[5, 5, 1]",No Customer
28,"[B, S, B]","[5, 2, 1]",Non-Residential Only
29,"[B, S, S, S, B, B]","[5, 1, 1, 1, 5, 5]",Residential Only
30,"[B, S, S, S, S, S, S, S, S, S, S, S, S, B]","[2, 1, 2, 2, 2, 2, 1, 2, 1, 2, 2, 2, 2, 2]",Mixed Residential and Non-residential
31,"[B, M, M, M, S, S, S, S, S, S, S, S, B]","[2, 5, 2, 5, 2, 1, 5, 2, 1, 5, 2, 5, 2]",Mixed Residential and Non-residential
32,"[B, M, M, B]","[1, 5, 6, 7]",No Customer
33,"[B, M, M, M, S, B]","[2, 5, 6, 5, 5, 7]",Non-Residential Only
34,"[B, S, M, M, S, H]","[2, 2, 5, 6, 2, 1]",Non-Residential Only
35,"[B, S, S, H, S, M, S, M, S, H]","[1, 2, 2, 1, 2, 2, 1, 2, 2, 1]",Mixed Residential and Non-residential
36,"[B, M, S, S, S, H]","[5, 3, 3, 3, 2, 1]",Non-Residential Only
37,"[B, D, S, D, D, M, M, M]","[1, 3, 1, 7, 7, 6, 5, 2]",Mixed Residential and Non-residential
38,"[B, S, S, S, S, D, D, M, S, D, M]","[2, 1, 3, 2, 7, 3, 7, 5, 2, 5, 2]",Mixed Residential and Non-residential
39,"[B, M, D, D, S, S, M]","[1, 6, 7, 7, 3, 2, 2]",Non-Residential Only
40,"[B, S, M, B]","[2, 2, 6, 2]",Non-Residential Only
41,"[B, S, S, M, B, S, B]","[1, 7, 2, 5, 2, 7, 2]",Non-Residential Only
42,"[B, M, P, M, M, B]","[5, 6, 3, 6, 4, 2]",Non-Residential Only
43,"[B, D, D, D, M, B]","[5, 5, 5, 5, 6, 3]",Non-Residential Only
44,"[B, S, B]","[2, 2, 3]",Non-Residential Only
45,"[S, M, S, S, S, S, S, S, M]","[7, 6, 1, 2, 2, 1, 1, 1, 6]",Mixed Residential and Non-residential
46,"[H, S, M, H]","[1, 1, 5, 1]",Residential Only
47,"[B, S, S, S, M]","[5, 2, 3, 1, 2]",Mixed Residential and Non-residential
48,"[S, B, S, S, M]","[5, 2, 3, 1, 2]",Mixed Residential and Non-residential
49,"[B, S, S, M, M]","[5, 2, 3, 6, 2]",Non-Residential Only
50,"[B, S, H]","[1, 3, 1]",Non-Residential Only
51,"[B, S, B]","[5, 3, 7]",Non-Residential Only
52,"[B, D, D, H]","[6, 1, 1, 1]",Residential Only
53,"[B, S, M, B]","[1, 7, 7, 5]",Non-Residential Only
54,"[B, S, D, S, B]","[1, 5, 2, 1, 1]",Mixed Residential and Non-residential
55,"[B, D, D, D, D, M, B]","[5, 5, 5, 5, 2, 6, 3]",Non-Residential Only
56,"[B, D, D, S, B]","[1, 3, 2, 2, 5]",Non-Residential Only
57,"[B, S, M, M, B]","[5, 2, 5, 6, 5]",Non-Residential Only
58,"[M, M, S, S, S, B, S, S, S, S, S, S, S, S, M]","[5, 5, 1, 2, 2, 2, 5, 2, 2, 5, 5, 5, 5, 5, 2]",Mixed Residential and Non-residential
59,"[B, M, S, S, M, H]","[2, 6, 2, 2, 4, 1]",Non-Residential Only
60,"[B, M, S, M]","[2, 6, 2, 1]",Non-Residential Only
61,"[B, S, S, M, S, B]","[2, 1, 1, 5, 2, 5]",Mixed Residential and Non-residential
62,"[B, M, S, S, B]","[2, 2, 1, 1, 2]",Residential Only
63,"[B, S, M, S, B]","[2, 5, 6, 5, 2]",Non-Residential Only
64,"[H, S, H, S, M, H, S, S, M, H]","[1, 2, 1, 2, 5, 1, 1, 1, 5, 1]",Mixed Residential and Non-residential
65,"[B, S, M, M, S, B]","[2, 2, 6, 5, 2, 2]",Non-Residential Only
66,"[H, M, S, M, S, S, M, S, M, S]","[1, 4, 2, 6, 2, 2, 5, 1, 6, 2]",Mixed Residential and Non-residential
67,"[B, S, S, B]","[5, 2, 2, 1]",Non-Residential Only
68,"[B, S, S, B, S, S, S, S, B, M, S, B]","[2, 2, 2, 1, 1, 1, 4, 1, 1, 6, 2, 1]",Mixed Residential and Non-residential
69,"[B, S, B, S, B]","[2, 7, 1, 1, 1]",Mixed Residential and Non-residential
70,"[B, M, D, D, D, D, D, D, D, D, D, M]","[2, 6, 1, 1, 1, 1, 1, 1, 1, 2, 1, 5]",Mixed Residential and Non-residential
71,"[B, M, D, D, D, D, D, D, D, D, D, D, D, D, D, ...","[2, 6, 5, 1, 1, 1, 1, 1, 2, 5, 5, 1, 1, 2, 4, ...",Mixed Residential and Non-residential
72,"[B, D, D, D, D, D, M]","[2, 2, 1, 5, 1, 1, 5]",Mixed Residential and Non-residential
73,"[B, D, D, D, D, D, D, D, D, D, D, D, D, D, D, ...","[2, 1, 1, 1, 1, 1, 1, 2, 1, 2, 1, 1, 1, 1, 1, ...",Mixed Residential and Non-residential
74,"[H, S, H, B]","[1, 1, 1, 2]",Residential Only
75,"[B, S, S, S, B]","[2, 2, 2, 2, 2]",Non-Residential Only
76,"[B, S, S, S, B]","[2, 7, 2, 2, 2]",Non-Residential Only
77,"[B, S, S, S, M, B]","[2, 2, 2, 3, 5, 3]",Non-Residential Only
78,"[B, S, B, S, B, S, B, H]","[3, 3, 2, 3, 3, 3, 3, 1]",Non-Residential Only
79,"[B, S, S, B]","[5, 5, 2, 5]",Non-Residential Only
80,"[B, M, S, B]","[1, 6, 2, 1]",Non-Residential Only
81,"[B, S, M, M, B]","[2, 5, 5, 6, 2]",Non-Residential Only
82,"[B, M, B]","[2, 5, 2]",No Customer
83,"[B, M, M]","[2, 2, 2]",No Customer
84,"[B, S, B]","[2, 2, 2]",Non-Residential Only
85,"[B, M, S, B, S, B]","[3, 6, 1, 3, 4, 3]",Mixed Residential and Non-residential
86,"[B, S, B, S, S, B]","[1, 2, 3, 4, 4, 3]",Non-Residential Only
87,"[B, S, S, M, M, B]","[1, 2, 2, 5, 6, 1]",Non-Residential Only
88,"[S, M, B]","[2, 6, 3]",Non-Residential Only
89,"[B, S, M, S, B, S, B]","[7, 4, 6, 2, 7, 2, 7]",Non-Residential Only
90,"[B, S, S, S, M, B, S, S, S, S, B]","[2, 2, 3, 2, 5, 2, 3, 2, 2, 2, 2]",Non-Residential Only
91,"[H, B, M, S, B, M, M, M, B]","[1, 2, 4, 2, 2, 4, 4, 4, 2]",Non-Residential Only
92,"[B, M, S, M, S, S, B]","[2, 6, 2, 4, 2, 2, 2]",Non-Residential Only
93,"[B, M, S, S, S, S, B]","[2, 6, 2, 2, 2, 2, 2]",Non-Residential Only
94,"[B, M, S, S, B]","[3, 6, 1, 1, 3]",Residential Only
95,"[B, P, D, M, B]","[2, 3, 3, 6, 3]",Non-Residential Only
96,"[H, M, S, S, B, M, B, M, M, B, S, H]","[1, 6, 2, 2, 2, 3, 2, 6, 4, 3, 2, 1]",Non-Residential Only
97,"[B, S, M, M, S, S, B]","[2, 2, 5, 5, 2, 4, 3]",Non-Residential Only
98,"[B, S, M, H]","[2, 2, 6, 1]",Non-Residential Only
99,"[B, S, S, S, B]","[2, 2, 2, 7, 2]",Non-Residential Only
100,"[H, S, S, M, S, M, S, S, M, M, M]","[1, 7, 4, 7, 2, 4, 2, 7, 7, 7, 1]",Non-Residential Only
101,"[B, S, S, H]","[2, 3, 1, 1]",Mixed Residential and Non-residential
102,"[B, M, S, S, B]","[2, 6, 2, 5, 2]",Non-Residential Only
103,"[B, S, M, B, S, H]","[2, 2, 5, 2, 2, 1]",Non-Residential Only
104,"[B, S, B]","[7, 4, 7]",Non-Residential Only
105,"[B, S, B]","[7, 2, 7]",Non-Residential Only
106,"[B, M, M, M, B]","[7, 5, 6, 5, 7]",No Customer
107,"[B, S, B]","[2, 7, 7]",Non-Residential Only
108,"[B, S, S, S, S, S, S, S, M, S, S, M, S, S, S, ...","[2, 1, 1, 3, 2, 3, 2, 2, 5, 1, 2, 5, 5, 2, 2, ...",Mixed Residential and Non-residential
109,"[B, M, S, S, S, S, S, S, S, S, S, S, M, S]","[2, 6, 3, 2, 3, 2, 2, 3, 3, 3, 7, 3, 5, 7]",Non-Residential Only
110,"[B, M, S, S, S]","[2, 6, 1, 2, 3]",Mixed Residential and Non-residential
111,"[B, S, S, S, B]","[2, 3, 3, 3, 3]",Non-Residential Only
112,"[B, S, S, M]","[2, 5, 2, 2]",Non-Residential Only
113,"[B, S, B, S, M, B]","[2, 2, 5, 2, 5, 5]",Non-Residential Only
114,"[B, M, M, D, S, S, S, D, D, S, M, M]","[2, 4, 3, 7, 3, 8, 7, 7, 3, 3, 6, 3]",Non-Residential Only
115,"[B, S, B, H]","[3, 5, 3, 1]",Non-Residential Only
116,"[S, M, S, S, S, S, S, S, M, S, S, M, S, M, M, ...","[1, 6, 2, 1, 5, 3, 3, 1, 5, 2, 3, 5, 1, 6, 6, ...",Mixed Residential and Non-residential
117,"[S, M, S, P, D, D, M, M]","[1, 1, 2, 7, 2, 5, 5, 2]",Mixed Residential and Non-residential
118,"[B, M, S, B]","[2, 6, 2, 2]",Non-Residential Only
119,"[M, B, S, M, B]","[1, 2, 2, 1, 2]",Non-Residential Only
120,"[B, S, B]","[2, 5, 2]",Non-Residential Only
121,"[B, M, S, B]","[2, 6, 2, 2]",Non-Residential Only
122,"[B, S, B]","[2, 3, 3]",Non-Residential Only
123,"[B, M, S, B, M, H]","[2, 6, 4, 3, 5, 1]",Non-Residential Only
124,"[B, S, S, S, M, B]","[2, 2, 2, 2, 6, 3]",Non-Residential Only
125,"[B, S, B]","[2, 7, 2]",Non-Residential Only
126,"[B, S, B]","[2, 2, 3]",Non-Residential Only
127,"[B, S, S, B]","[2, 1, 4, 2]",Mixed Residential and Non-residential
128,"[B, M, S, S, S, S, M, B]","[2, 4, 1, 1, 1, 1, 6, 3]",Residential Only
129,"[B, S, S, S, S, S, B, S, M, M, M, M, B]","[2, 1, 2, 2, 2, 1, 2, 1, 2, 6, 5, 6, 2]",Mixed Residential and Non-residential
130,"[B, M, S, S, S, M, S, S, S, S, S, M, M, B]","[2, 5, 1, 1, 1, 5, 1, 1, 1, 1, 7, 5, 3, 3]",Mixed Residential and Non-residential
131,"[B, S, S, B]","[2, 1, 1, 2]",Residential Only
132,"[B, D, M, P, B]","[2, 2, 2, 5, 2]",Non-Residential Only
133,"[B, S, S, B]","[3, 3, 2, 3]",Non-Residential Only
134,"[B, M, B, D, B]","[3, 5, 3, 3, 3]",Non-Residential Only
135,"[B, D, B, M, M, B]","[3, 7, 7, 6, 5, 7]",Non-Residential Only
136,"[B, S, S, S, S, B]","[2, 2, 2, 2, 2, 2]",Non-Residential Only
137,"[B, S, M]","[2, 2, 5]",Non-Residential Only
138,"[B, S, B, S, S, M, S, S, B]","[2, 2, 2, 2, 2, 1, 2, 2, 2]",Non-Residential Only
139,"[B, S, S, S, S, S, B]","[2, 7, 2, 5, 1, 3, 7]",Mixed Residential and Non-residential
140,"[B, S, S, S, H, M, M, B]","[2, 3, 3, 3, 1, 5, 4, 3]",Non-Residential Only
141,"[B, M, S, S, B, M, B, S, B]","[2, 6, 3, 3, 3, 6, 3, 2, 3]",Non-Residential Only
142,"[H, B, S]","[1, 2, 2]",Non-Residential Only
143,"[B, S, B, H]","[3, 2, 2, 1]",Non-Residential Only
144,"[H, B, S, S, M]","[1, 5, 1, 2, 1]",Mixed Residential and Non-residential
145,"[H, M, S, S, M, S, S, S, S, S, S, S, M, S, M, H]","[1, 6, 2, 2, 6, 5, 5, 1, 2, 1, 7, 1, 6, 1, 5, 1]",Mixed Residential and Non-residential
146,"[B, S]","[2, 1]",Residential Only
147,"[B, S, M, S, M, B]","[3, 5, 6, 3, 5, 3]",Non-Residential Only
148,"[B, S, B]","[3, 3, 3]",Non-Residential Only
149,"[B, D, B]","[2, 7, 3]",Non-Residential Only
150,"[B, S, S, S, M]","[2, 2, 3, 3, 3]",Non-Residential Only
151,"[B, M, S, S, M, S, S, S, S, S, H, S, H]","[2, 5, 2, 2, 5, 2, 5, 4, 2, 4, 1, 3, 1]",Non-Residential Only
152,"[B, D, D, M, D, D, M, H]","[2, 2, 2, 4, 2, 2, 5, 1]",Non-Residential Only
153,"[B, S, B]","[2, 2, 2]",Non-Residential Only
154,"[B, S, S, M, B]","[2, 2, 1, 6, 2]",Mixed Residential and Non-residential
155,"[B, S, B, H]","[2, 4, 2, 1]",Non-Residential Only
156,"[B, M, S, B]","[2, 1, 2, 3]",Non-Residential Only
157,"[B, D, D, D, D, D, D, D, D, M, D, D, B]","[2, 2, 2, 3, 2, 3, 5, 3, 2, 5, 3, 3, 3]",Non-Residential Only
158,"[B, D, M, D, D, D, D, S, S, B]","[2, 7, 6, 7, 7, 7, 7, 3, 7, 7]",Non-Residential Only
159,"[B, D, P, D, B]","[2, 7, 7, 7, 7]",Non-Residential Only
160,"[B, M, D, M, P, D, P, D, B]","[2, 2, 7, 8, 7, 7, 7, 7, 7]",Non-Residential Only
161,"[B, M, B]","[2, 6, 7]",No Customer
162,"[B, D, P, D, B, M, B]","[2, 7, 7, 7, 7, 6, 7]",Non-Residential Only
163,"[B, M, D, D, D, P, D, B, D, M, B]","[2, 2, 7, 7, 7, 7, 7, 7, 7, 6, 7]",Non-Residential Only
164,"[B, D, B, D, B, D, B]","[2, 1, 3, 1, 3, 1, 3]",Residential Only
165,"[B, P, M, B]","[2, 8, 6, 3]",Non-Residential Only
166,"[B, D, D, B]","[2, 1, 1, 3]",Residential Only
167,"[B, S, S, S, M, B]","[7, 1, 1, 3, 2, 7]",Mixed Residential and Non-residential
168,"[B, M, S, M, M, H]","[2, 6, 1, 5, 3, 1]",Residential Only
169,"[B, P, B, M, B]","[7, 7, 7, 6, 7]",Non-Residential Only
170,"[B, S, M, S, B, S, B]","[2, 7, 7, 3, 7, 3, 7]",Non-Residential Only
171,"[B, M, S, M, M, S, M]","[2, 6, 5, 5, 3, 1, 3]",Mixed Residential and Non-residential
172,"[B, M, M]","[2, 1, 3]",No Customer
173,"[B, M, S, M, M, H, M, S, M]","[2, 6, 1, 6, 5, 1, 7, 1, 7]",Residential Only
174,"[B, D, B, S, S, B]","[2, 2, 2, 2, 2, 7]",Non-Residential Only
175,"[B, D, M, M, M, S, M]","[2, 2, 4, 4, 3, 5, 3]",Non-Residential Only
176,"[S, B, S, B, D, P, P, B]","[7, 7, 3, 7, 7, 7, 7, 7]",Non-Residential Only
177,"[H, M, S, M, M, H]","[1, 7, 2, 6, 7, 1]",Non-Residential Only
178,"[B, S, S, B]","[3, 2, 2, 3]",Non-Residential Only
179,"[B, M, D, M, B, D, D, M, B]","[2, 6, 5, 4, 3, 3, 3, 5, 3]",Non-Residential Only
180,"[H, M, M, S, M, M, M, M, H]","[1, 2, 5, 2, 3, 2, 2, 2, 1]",Non-Residential Only
181,"[B, S, M]","[2, 1, 2]",Residential Only
182,"[B, D, P, D, D, D, D, M, P, D, D, M, P, B]","[2, 1, 3, 1, 1, 1, 1, 5, 3, 7, 7, 6, 5, 5]",Mixed Residential and Non-residential
183,"[B, M, P, D, D, P, B, D, B, D, D, B, D, B]","[2, 6, 5, 7, 1, 5, 5, 1, 5, 1, 7, 5, 1, 5]",Mixed Residential and Non-residential
184,"[B, S, B, M, M, B]","[2, 2, 2, 6, 5, 2]",Non-Residential Only
185,"[B, S, M, S, B]","[2, 2, 5, 2, 2]",Non-Residential Only
186,"[B, S, M, M, B]","[2, 4, 5, 6, 2]",Non-Residential Only
187,"[B, S, B]","[2, 7, 2]",Non-Residential Only
188,"[B, M, M, S, M, B]","[2, 6, 5, 2, 5, 2]",Non-Residential Only
189,"[B, S, S, S, B]","[2, 6, 6, 6, 2]",Non-Residential Only
190,"[B, S, S, S, B]","[2, 2, 2, 1, 2]",Mixed Residential and Non-residential
191,"[B, S, S, M, B]","[2, 2, 2, 5, 2]",Non-Residential Only
192,"[B, S, S, S]","[2, 3, 1, 3]",Mixed Residential and Non-residential
193,"[B, P, B, M, D, D, M, D, M, M, M, M, M]","[2, 4, 3, 4, 1, 1, 4, 2, 4, 4, 4, 2, 7]",Mixed Residential and Non-residential
194,"[M, S, M, M, M, M, M, M, M, P, P, M]","[4, 2, 4, 4, 7, 5, 5, 7, 4, 7, 7, 7]",Non-Residential Only
195,"[S, P, D, M, D, M]","[2, 7, 4, 7, 4, 7]",Non-Residential Only
196,"[B, S, S, S, S, D, S, D, D, S, S, M, S, M]","[2, 3, 3, 3, 3, 1, 1, 1, 1, 1, 3, 2, 2, 3]",Mixed Residential and Non-residential
197,"[B, P, M, D, M, D, D, P, D, M, D, M]","[2, 7, 7, 1, 4, 7, 7, 7, 1, 4, 1, 7]",Mixed Residential and Non-residential
198,"[B, M, P, S, D, D, S, S, S]","[2, 2, 7, 3, 7, 1, 7, 7, 7]",Mixed Residential and Non-residential
199,"[B, M, P, P, D, D, D, M, D, D, D, M, M]","[2, 2, 7, 7, 1, 1, 1, 5, 1, 1, 2, 7, 7]",Mixed Residential and Non-residential
200,"[S, P, M, M, D, M, M, D, D, M]","[2, 7, 7, 4, 7, 7, 6, 1, 1, 7]",Mixed Residential and Non-residential
201,"[B, M]","[2, 7]",No Customer
202,"[B, P, D, S, D, D, P, D, P, D, D, D, D, D, P, ...","[2, 4, 7, 7, 7, 7, 7, 7, 7, 7, 4, 7, 7, 7, 7, ...",Non-Residential Only
203,"[B, M, D, M, D, D, D, D, M, M]","[4, 4, 7, 7, 7, 4, 7, 4, 7, 7]",Non-Residential Only
204,"[B, P, D, D, S, S, D, P, P, S, S]","[2, 4, 7, 7, 7, 7, 1, 7, 7, 7, 7]",Mixed Residential and Non-residential
205,"[B, S, S, M, S, M, B]","[7, 3, 3, 6, 3, 5, 3]",Non-Residential Only
206,"[B, S, B]","[3, 3, 3]",Non-Residential Only
207,"[B, S, M]","[2, 2, 3]",Non-Residential Only
208,"[M, M, M, S, S, S, S, S, M, S, S, S]","[6, 6, 5, 7, 1, 1, 1, 5, 3, 1, 1, 5]",Mixed Residential and Non-residential
209,"[B, M, S, S]","[2, 5, 2, 2]",Non-Residential Only
210,"[B, S, M]","[2, 2, 2]",Non-Residential Only
211,"[B, M, S]","[2, 6, 2]",Non-Residential Only
212,"[S, S, S, S, S, S, S, S, S, S, S, S, S, S, S, ...","[2, 2, 1, 1, 2, 2, 1, 1, 1, 3, 1, 1, 1, 5, 1, ...",Mixed Residential and Non-residential
213,"[B, S, M, S, S, S, S, S, H]","[2, 2, 5, 3, 7, 7, 7, 7, 1]",Non-Residential Only
214,"[S, S, S, S, S, S, S, M]","[2, 1, 1, 3, 1, 1, 3, 3]",Mixed Residential and Non-residential
215,"[B, S, B, S, B]","[2, 1, 2, 7, 3]",Mixed Residential and Non-residential
216,"[B, S, B, S, B, S, S, S, S, S, B, S, S, B]","[2, 1, 2, 7, 2, 1, 7, 7, 7, 7, 2, 7, 7, 2]",Mixed Residential and Non-residential
217,"[B, M, S, S, B, S, S, B]","[2, 1, 1, 3, 2, 7, 7, 2]",Mixed Residential and Non-residential
218,"[B, M, D, B, S, B]","[2, 3, 7, 2, 7, 2]",Non-Residential Only
219,"[B, S, B, S, S, S, S, S, S, B]","[2, 7, 2, 2, 7, 7, 7, 2, 7, 2]",Non-Residential Only
220,"[B, S, S, B]","[2, 7, 1, 2]",Mixed Residential and Non-residential
221,"[B, S, S, B, S, S, S, M, B, S, B, S, S, B]","[2, 7, 7, 2, 7, 7, 7, 4, 2, 7, 2, 7, 7, 2]",Non-Residential Only
222,"[B, S, S, S, S, S]","[2, 7, 7, 7, 7, 7]",Non-Residential Only
223,"[B, S, S, S, S, S, S, S, S, S, B, S, S, S, S, ...","[2, 1, 7, 7, 7, 1, 7, 1, 1, 1, 2, 7, 1, 7, 1, ...",Mixed Residential and Non-residential
224,"[B, M, M, M, S, M, S, B, S, B]","[2, 4, 4, 4, 7, 4, 1, 2, 7, 2]",Mixed Residential and Non-residential
225,"[B, S, S, S, S, S, S, S, S, S, S, B, S, S, S, ...","[2, 1, 1, 1, 7, 7, 7, 7, 7, 1, 7, 2, 7, 7, 7, ...",Mixed Residential and Non-residential
226,"[B, S, B]","[2, 7, 2]",Non-Residential Only
227,"[B, M, B, S, S, S, S, S, S, S, S, S, S, S, S, ...","[2, 6, 2, 7, 7, 1, 7, 7, 7, 7, 7, 7, 7, 7, 7, ...",Mixed Residential and Non-residential
228,"[B, M, S, S, S, S, B, S, S, S, S, S, S, S, S, B]","[2, 4, 1, 1, 1, 1, 2, 7, 7, 7, 7, 7, 1, 7, 1, 2]",Mixed Residential and Non-residential
229,"[B, S, S, S, S, S, S, S, S, S, S, S, S, S, S, B]","[2, 1, 1, 1, 1, 1, 1, 7, 1, 1, 7, 1, 1, 7, 1, 2]",Mixed Residential and Non-residential
230,"[B, S, S, S, S, S, S, S, S, B, S, S, S, S, M, B]","[2, 7, 1, 7, 7, 7, 1, 1, 7, 2, 1, 7, 7, 1, 6, 2]",Mixed Residential and Non-residential
231,"[B, S, S, S, S, S, S, S, S, M]","[2, 7, 7, 7, 7, 7, 7, 7, 1, 7]",Mixed Residential and Non-residential
232,"[B, S, B, S, B]","[2, 7, 2, 7, 2]",Non-Residential Only
233,"[B, S, S, S, M, S, S, S, S, S, B, S, B]","[2, 7, 1, 7, 4, 7, 7, 7, 7, 7, 2, 7, 2]",Mixed Residential and Non-residential
234,"[B, S, S, S, S, B]","[2, 3, 6, 7, 7, 3]",Non-Residential Only
235,"[B, S, M, B]","[2, 2, 4, 2]",Non-Residential Only
236,"[B, S, B, S, S, S, S, B]","[2, 1, 2, 1, 1, 1, 1, 7]",Residential Only
237,"[B, M, S, B, S, S, S, S, S, S, M, S, S, S, B]","[2, 5, 7, 7, 7, 7, 7, 7, 7, 7, 5, 7, 7, 7, 2]",Non-Residential Only
238,"[B, S, B, S, B, S, B]","[2, 1, 2, 7, 2, 2, 2]",Mixed Residential and Non-residential
239,"[B, S, S, S, B]","[2, 7, 1, 7, 2]",Mixed Residential and Non-residential
240,"[B, S, S, B]","[2, 2, 2, 2]",Non-Residential Only
241,"[B, S, S, S, S, S, S, S, S, B]","[2, 1, 1, 7, 1, 1, 1, 1, 1, 7]",Mixed Residential and Non-residential
242,"[B, S]","[2, 1]",Residential Only
243,"[B, S, S, S, B, S, B]","[2, 1, 1, 1, 2, 1, 2]",Residential Only
244,"[B, S, S, B, S, S, B]","[2, 1, 2, 7, 5, 1, 7]",Mixed Residential and Non-residential
245,"[B, S, S, S, S, S, B]","[2, 1, 1, 1, 1, 1, 1]",Residential Only
246,"[M, M, M, S, M, S, M]","[2, 6, 6, 4, 1, 4, 1]",Non-Residential Only
247,"[M, S, M, S, M, B]","[2, 4, 4, 4, 2, 2]",Non-Residential Only
248,"[B, S, M, B]","[2, 2, 5, 2]",Non-Residential Only
249,"[B, S, B, S, M, B]","[2, 4, 2, 1, 6, 2]",Mixed Residential and Non-residential
250,"[B, S, S, B]","[4, 3, 1, 2]",Mixed Residential and Non-residential
251,"[B, M, S, B, M, M, M, S, B, S, B]","[2, 6, 2, 2, 5, 5, 4, 2, 2, 1, 2]",Mixed Residential and Non-residential
252,"[B, S, M, S, S, S, S, S, S, S, S, S, S, S, S, ...","[2, 1, 6, 1, 1, 1, 1, 1, 1, 7, 1, 1, 1, 1, 2, ...",Mixed Residential and Non-residential
253,"[B, B, S, S, M, M, B, S, S, S, S, B, M, H]","[2, 2, 1, 7, 5, 5, 2, 4, 4, 1, 4, 2, 5, 1]",Mixed Residential and Non-residential
254,"[B, S, S, S, S, S, S, S, S, S, M, B]","[2, 1, 1, 1, 1, 1, 1, 7, 1, 1, 5, 2]",Mixed Residential and Non-residential
255,"[B, S, B]","[2, 4, 2]",Non-Residential Only
256,"[B, M, M, M, M, M, M, B]","[2, 4, 6, 4, 6, 4, 4, 2]",No Customer
257,"[B, S, S, S, S, S, S, S, S, S, S, S, S, S, S, ...","[2, 7, 1, 1, 1, 1, 1, 7, 1, 1, 1, 1, 1, 1, 1, ...",Mixed Residential and Non-residential
258,"[B, S, B, S, S, B, S, S, S, B]","[2, 7, 7, 4, 4, 7, 4, 4, 4, 7]",Non-Residential Only
259,"[B, S, B, M, M, S, S, B]","[2, 4, 7, 5, 5, 4, 7, 7]",Non-Residential Only
260,"[H, B, H]","[1, 7, 1]",No Customer

In [100]:
# Check how many of the routes go outside of the SANDAG TAZs.
a = len(df_routes)
b = len(df_routes.loc[pd.isnull(df_routes['tot_distance'])])
print(f'{b} routes out of {a:,} routes have trips that either start or end in an external TAZ.')
print("'tot_distance' field of these routes has been marked as 'NA'.")

114 routes out of 1,574 routes have trips that either start or end in an external TAZ.
'tot_distance' field of these routes has been marked as 'NA'.

In [101]:
# Determine what is the point of return of the route. It's either base or home.
for i, row in df_routes.iterrows():
    counts_act = collections.Counter(row['act_seg_seq'])
#     counts_plc = collections.Counter(row['plc_seg_seq'])
    if counts_act['B'] >= counts_act['H'] and counts_act['B'] > 0:
        df_routes.at[i, 'headquarters'] = 'B'
    elif counts_act['H'] > counts_act['B']:
        df_routes.at[i, 'headquarters'] = 'H'
#     elif counts_plc[3] >= counts_plc[8] and counts_plc[3] > 0:
#         df_routes.at[i, 'headquarters'] = 'Warehouse'
#     elif counts_plc[8] > counts_act[3]:
#         df_routes.at[i, 'headquarters'] = 'Truck Terminal'
    else:
        df_routes.at[i, 'headquarters'] = 'Unknown'
df_routes.groupby('headquarters').size().reset_index(name='count')

  headquarters  count
0            B   1362
1            H    137
2      Unknown     75

In [102]:
df_routes.loc[df_routes['headquarters']=='Unknown'].head()

,route_id,industry_group,veh_type,trip_count,g_stops,s_stops,m_stops,b_stops,h_stops,primary_purp,customer_type,start_tod,end_tod,route_dur_hr,cumlv_dur,durations_match,start_activity,end_activity,start_plc_seg,end_plc_seg,act_seg_seq,plc_seg_seq,headquarters,hq_taz,tot_distance,company_id,vehicle_id,driver_id,participation_type,expnsn_factor,estab_taz,trips
45,202208110767,Agriculture/Mining,LCV,8,0,6,2,0,0,Service,Mixed Residential and Non-residential,2022-08-11 10:26:00,2022-08-11 12:44:00,NaN,NaN,NaN,S,M,"Industrial, Agriculture, or Construction",Gas,"[S, M, S, S, S, S, S, S, M]","[7, 6, 1, 2, 2, 1, 1, 1, 6]",Unknown,0,60.3,100298,767,961,smartphone,14.882969,953,"[<__main__.Trip object at 0x0000029281E982C8>,..."
117,202209191616,Manufacturing,LCV,7,3,1,3,0,0,Goods,Mixed Residential and Non-residential,2022-09-19 15:00:00,2022-09-19 18:45:00,NaN,NaN,NaN,S,M,Residential,Office,"[S, M, S, P, D, D, M, M]","[1, 1, 2, 7, 2, 5, 5, 2]",Unknown,0,18.3,102839,1616,2018,online,46.608727,267,"[<__main__.Trip object at 0x0000029280633E88>,..."
194,202208110821,Manufacturing,MUT,11,2,1,8,0,0,Goods,Non-Residential Only,2022-08-11 05:39:00,2022-08-11 14:44:00,NaN,NaN,NaN,M,M,Other,"Industrial, Agriculture, or Construction","[M, S, M, M, M, M, M, M, M, P, P, M]","[4, 2, 4, 4, 7, 5, 5, 7, 4, 7, 7, 7]",Unknown,0,125.1,103903,821,1056,smartphone,356.546165,3895,"[<__main__.Trip object at 0x0000029280790088>,..."
195,202208110822,Manufacturing,MUT,5,3,0,2,0,0,Goods,Non-Residential Only,2022-08-11 03:52:00,2022-08-11 14:51:00,NaN,NaN,NaN,S,M,Office,"Industrial, Agriculture, or Construction","[S, P, D, M, D, M]","[2, 7, 4, 7, 4, 7]",Unknown,0,NaN,103903,822,1057,smartphone,356.546165,3895,"[<__main__.Trip object at 0x0000029280784CC8>,..."
200,202208110827,Manufacturing,SUT,9,4,0,5,0,0,Goods,Mixed Residential and Non-residential,2022-08-11 03:46:00,2022-08-11 13:25:00,NaN,NaN,NaN,S,M,Office,"Industrial, Agriculture, or Construction","[S, P, M, M, D, M, M, D, D, M]","[2, 7, 7, 4, 7, 7, 6, 1, 1, 7]",Unknown,0,193.1,103903,827,1062,smartphone,144.077505,3895,"[<__main__.Trip object at 0x00000292807BB208>,..."

In [103]:
def find_hq_taz(hq, lst_act, lst_trips):
    if hq in 'BH':
        pos = lst_act.index(hq)
        if pos == 0:
            return lst_trips[0].o_taz
        else:            
            return lst_trips[pos-1].d_taz
    else:
        return -1
    
df_routes['hq_taz'] = df_routes.apply(lambda x: find_hq_taz(x.headquarters, x.act_seg_seq, x.trips), axis=1)
df_routes.head()

,route_id,industry_group,veh_type,trip_count,g_stops,s_stops,m_stops,b_stops,h_stops,primary_purp,customer_type,start_tod,end_tod,route_dur_hr,cumlv_dur,durations_match,start_activity,end_activity,start_plc_seg,end_plc_seg,act_seg_seq,plc_seg_seq,headquarters,hq_taz,tot_distance,company_id,vehicle_id,driver_id,participation_type,expnsn_factor,estab_taz,trips
0,202209302062,Education/Other public services,LCV,4,0,1,1,2,0,Service,Non-Residential Only,2022-09-30 10:00:00,2022-09-30 14:20:00,NaN,NaN,NaN,B,B,Residential,Residential,"[B, M, B, S, B]","[1, 5, 1, 4, 1]",B,2284,18.5,100012,2062,2589,online,177.825038,2284,"[<__main__.Trip object at 0x000002934A83CA88>,..."
1,202209302063,Education/Other public services,LCV,3,0,1,1,1,0,Service,Non-Residential Only,2022-09-30 14:00:00,2022-09-30 17:22:00,NaN,NaN,NaN,B,B,Residential,Residential,"[B, S, M, B]","[1, 4, 6, 1]",B,2284,16.9,100012,2063,2590,online,177.825038,2284,"[<__main__.Trip object at 0x000002930D7AB088>,..."
2,202209302064,Education/Other public services,LCV,5,0,2,1,2,0,Service,Non-Residential Only,2022-09-30 10:00:00,2022-09-30 15:03:00,NaN,NaN,NaN,B,B,Residential,Residential,"[B, S, B, S, M, B]","[1, 2, 1, 2, 6, 1]",B,2284,90,100012,2064,2591,online,177.825038,2284,"[<__main__.Trip object at 0x000002930D7B87C8>,..."
3,202209161405,Agriculture/Mining,LCV,2,0,0,2,0,0,Maintenance/Other,No Customer,2022-09-16 09:07:36,2022-09-16 09:42:00,NaN,NaN,NaN,H,M,Residential,Office,"[H, M, M]","[1, 5, 2]",H,147,9.1,100021,1405,1974,smartphone,14.882969,89,"[<__main__.Trip object at 0x00000292855E5448>,..."
4,202209161406,Agriculture/Mining,LCV,4,0,2,2,0,0,Service,Mixed Residential and Non-residential,2022-09-16 08:55:00,2022-09-16 09:41:00,NaN,NaN,NaN,B,S,Office,Other,"[B, S, M, M, S]","[2, 1, 2, 6, 4]",B,89,19.2,100021,1406,1975,smartphone,14.882969,89,"[<__main__.Trip object at 0x0000029281E9D848>,..."

##### Now that headquarters of routes are known, go back to df_trips and update distance to headquarters for each trip.

In [104]:
# Create a dictionary that gets route_id and returns hq_taz.
dic_rid_hq_taz = dict(zip(df_routes.route_id, df_routes.hq_taz))

# Specify hq_taz of trips in the trips dataframe.
def omit_dashes(s):
    return s.replace('-', '')

df_trips['route_id'] = df_trips['travel_date'].astype(str).str[:10].apply(omit_dashes).astype('int64') * 10000
df_trips['route_id'] += df_trips.vehicle_id
df_trips.hq_taz = df_trips.route_id.map(dic_rid_hq_taz)

df_trips[['travel_date', 'vehicle_id', 'route_id', 'hq_taz']].head()

  travel_date  vehicle_id      route_id  hq_taz
0  2022-09-30        2062  202209302062    2284
1  2022-09-30        2062  202209302062    2284
2  2022-09-30        2062  202209302062    2284
3  2022-09-30        2062  202209302062    2284
4  2022-09-30        2063  202209302063    2284

In [105]:
# Add route primary purposes to trips
dic_rte_purp = dict(zip(df_routes.route_id, df_routes.primary_purp))
df_trips['route_purpose'] = df_trips.route_id.map(dic_rte_purp)

In [106]:
# Add route primary customer type to trips
dic_rte_cust = dict(zip(df_routes.route_id, df_routes.customer_type)) 
df_trips['route_customers'] = df_trips.route_id.map(dic_rte_cust)

In [107]:
# Update distance to headquarters.
df_trips['orgn_to_hq_dist'] = df_trips.apply(lambda x: find_dist(x['o_taz'], x['hq_taz'],
                                                           dic_v[x['veh_type']],
                                                           dic_tod[x['tod']]), axis=1)

In [108]:
df_trips.head()

,company_id,industry_group,vehicle_id,driver_id,trip_number,o_act_seg,o_act_seg_name,o_plc_seg,o_plc_seg_name,d_act_seg,d_act_seg_name,d_plc_seg,d_plc_seg_name,o_act,o_place_type,o_place_name,o_address,o_lon,o_lat,o_taz,d_act,d_place_type,d_place_name,d_address,d_lon,d_lat,d_taz,trip_dist,headquarters,hq_taz,orgn_to_hq_dist,travel_time,stop_duration,veh_type,cargo_pickup,cargo_delivery,travel_date,participation_type,expnsn_factor,estab_taz,industry_code,o_dt,d_at,nt_dt,last_trip,tod,toll_in_cents_from_base,gen_tt_from_base,route_id,route_purpose,route_customers
0,100012,Education/Other public services,2062,2589,1,B,Base,1,Residential,M,Maintenance/Other,5,Retail and Restaurant,1.0,11.0,BASE,2801 B ST # 55,-117.133702,32.717871,2284,11,6,PET SMART,1660 Camino De La Reina d,-117.149017,32.770912,2091,5.6,,2284,0.1,20,50,LCV,NaN,NaN,2022-09-30,online,177.825038,2284,9,2022-09-30 10:00:00,2022-09-30 10:20:00,2022-09-30 11:10:00,False,MD,0.0,15.26,202209302062,Service,Non-Residential Only
1,100012,Education/Other public services,2062,2589,2,M,Maintenance/Other,5,Retail and Restaurant,B,Base,1,Residential,11.0,6.0,PET SMART,1660 Camino De La Reina d,-117.149017,32.770912,2091,1,11,BASE,2801 B ST # 55,-117.133702,32.717871,2284,6.9,,2284,6.9,12,18,LCV,NaN,NaN,2022-09-30,online,177.825038,2284,9,2022-09-30 11:10:00,2022-09-30 11:22:00,2022-09-30 11:40:00,False,MD,0.0,0.55,202209302062,Service,Non-Residential Only
2,100012,Education/Other public services,2062,2589,3,B,Base,1,Residential,S,Service,4,Other,1.0,11.0,BASE,2801 B ST # 55,-117.133702,32.717871,2284,10,96,DOG PARK,2500 Balboa Dr,-117.158124,32.731546,1933,2.8,,2284,0.1,20,120,LCV,NaN,NaN,2022-09-30,online,177.825038,2284,9,2022-09-30 11:40:00,2022-09-30 12:00:00,2022-09-30 14:00:00,False,MD,0.0,8.77,202209302062,Service,Non-Residential Only
3,100012,Education/Other public services,2062,2589,4,S,Service,4,Other,B,Base,1,Residential,10.0,96.0,DOG PARK,2500 Balboa Dr,-117.158124,32.731546,1933,1,11,BASE,2801 B ST # 55,-117.133702,32.717871,2284,3.2,,2284,3.2,20,NaN,LCV,NaN,NaN,2022-09-30,online,177.825038,2284,9,2022-09-30 14:00:00,2022-09-30 14:20:00,NaT,True,MD,0.0,0.55,202209302062,Service,Non-Residential Only
4,100012,Education/Other public services,2063,2590,1,B,Base,1,Residential,S,Service,4,Other,1.0,11.0,BASE,2801 B ST # 55,-117.133702,32.717871,2284,10,96,DOG PARK,Soto St,-117.237975,32.752893,828,8.1,,2284,0.1,11,154,LCV,NaN,NaN,2022-09-30,online,177.825038,2284,9,2022-09-30 14:00:00,2022-09-30 14:11:00,2022-09-30 16:45:00,False,MD,0.0,11.99,202209302063,Service,Non-Residential Only

In [109]:
print(df_trips.groupby(['route_purpose']).size().to_string(), "\n")
print(df_trips.groupby(['route_customers']).size().to_string())

route_purpose
Goods                3366
Maintenance/Other     455
Service              6866

route_customers
Mixed Residential and Non-residential    4858
No Customer                               412
Non-Residential Only                     4145
Residential Only                         1272

####  Run a Few Checks for Quality Control of the Route Dataframe

In [110]:
# Find the route start to end duration in minutes.
df_routes['route_dur_min'] = ((df_routes['end_tod'] - df_routes['start_tod'])
                             .dt.total_seconds()/60).round()

# Find the route duration in minutes based on its trips and stays durations.
for i, route in df_routes.iterrows():
    duration = 0
    trips = route['trips']
    for j, t in enumerate(trips):
        if j != len(trips)-1:
            duration += (t.travel_time + t.stop_duration)
        else:
            duration += t.travel_time
    duration = round(duration)
    df_routes.at[i, 'cumlv_dur'] = duration
    
    # Specify if route durations from the two methods are off by more than tolerance minutes.
    tol = 15
    if abs(duration - route['route_dur_min']) >= tol:
        df_routes.at[i, 'durations_match'] = False
    else:
        df_routes.at[i, 'durations_match'] = True

misses = len(df_routes.loc[df_routes['durations_match'] == False])
matches = len(df_routes.loc[df_routes['durations_match'] != False])
print(f"Number of routes with duration matches = {matches}; misses = {misses} (tolerance = {tol} minutes)")

Number of routes with duration matches = 1572; misses = 2 (tolerance = 15 minutes)

In [111]:
df_routes.loc[df_routes['durations_match'] == False].head()

,route_id,industry_group,veh_type,trip_count,g_stops,s_stops,m_stops,b_stops,h_stops,primary_purp,customer_type,start_tod,end_tod,route_dur_hr,cumlv_dur,durations_match,start_activity,end_activity,start_plc_seg,end_plc_seg,act_seg_seq,plc_seg_seq,headquarters,hq_taz,tot_distance,company_id,vehicle_id,driver_id,participation_type,expnsn_factor,estab_taz,trips,route_dur_min
116,202209151550,Manufacturing,LCV,31,0,22,8,0,1,Service,Mixed Residential and Non-residential,2022-09-15 08:05:16,2022-09-15 17:51:49,NaN,571,False,S,H,Residential,Retail and Restaurant,"[S, M, S, S, S, S, S, S, M, S, S, M, S, M, M, ...","[1, 6, 2, 1, 5, 3, 3, 1, 5, 2, 3, 5, 1, 6, 6, ...",H,190,264.9,102839,1550,1987,smartphone,46.608727,267,"[<__main__.Trip object at 0x0000029280628308>,...",587.0
958,202209201598,Construction,MUT,20,0,16,4,0,0,Service,Mixed Residential and Non-residential,2022-09-20 08:10:30,2022-09-20 14:05:19,NaN,340,False,M,S,Gas,Retail and Restaurant,"[M, S, S, S, S, S, S, M, S, S, M, S, M, S, S, ...","[6, 5, 5, 4, 5, 5, 5, 3, 5, 5, 3, 1, 3, 2, 2, ...",Unknown,-1,140.8,127819,1598,2042,smartphone,247.696367,2848,"[<__main__.Trip object at 0x0000029280C9D108>,...",355.0

In [112]:
# Determine if the route has extended beyond the first day. This does not require that the duration of a route is more
# than 24 hours, rather if the first departure is in one calendar day while the last arrival is in another day, the
# route will be flagged as Multi-Day.
try:
    df_routes.insert(13, 'multiday_route', False)
except:
    pass
df_routes['multiday_route'] = df_routes['start_tod'].dt.date < df_routes['end_tod'].dt.date

In [113]:
df_routes.loc[df_routes['multiday_route']==True].head()

,route_id,industry_group,veh_type,trip_count,g_stops,s_stops,m_stops,b_stops,h_stops,primary_purp,customer_type,start_tod,end_tod,multiday_route,route_dur_hr,cumlv_dur,durations_match,start_activity,end_activity,start_plc_seg,end_plc_seg,act_seg_seq,plc_seg_seq,headquarters,hq_taz,tot_distance,company_id,vehicle_id,driver_id,participation_type,expnsn_factor,estab_taz,trips,route_dur_min
370,202209221571,Retail,SUT,22,0,11,9,2,0,Service,Mixed Residential and Non-residential,2022-09-22 08:03:10,2022-09-23 00:15:00,True,NaN,971,True,H,M,Residential,Office,"[H, M, M, M, B, S, B, S, M, M, S, S, S, S, S, ...","[1, 4, 4, 4, 2, 2, 2, 3, 4, 4, 3, 3, 1, 5, 2, ...",B,3870,85,116019,1571,2115,online,364.202354,3870,"[<__main__.Trip object at 0x000002928117C0C8>,...",972.0
427,202206280030,Wholesale,LCV,3,0,1,1,1,0,Service,Residential Only,2022-06-28 07:18:07,2022-06-29 00:00:59,True,NaN,1001,True,B,M,Residential,Residential,"[B, S, B, M]","[1, 1, 1, 1]",B,3262,8.1,117585,30,51,smartphone,50.460422,3262,"[<__main__.Trip object at 0x0000029281140788>,...",1003.0
525,202207200117,Wholesale,LCV,5,2,1,0,2,0,Goods,Non-Residential Only,2022-07-20 10:32:41,2022-07-21 00:23:59,True,NaN,830,True,B,B,Office,Office,"[B, D, B, P, S, B]","[2, 4, 2, 7, 4, 2]",B,2255,114.3,119620,117,207,smartphone,50.460422,2255,"[<__main__.Trip object at 0x000002928112BF88>,...",831.0
862,202208251242,Construction,LCV,4,0,2,1,0,1,Service,Non-Residential Only,2022-08-25 16:43:00,2022-08-26 00:17:59,True,NaN,455,True,B,H,Office,Residential,"[B, S, M, S, H]","[2, 2, 6, 2, 1]",B,2344,13.1,126973,1242,1644,online,116.750222,2344,"[<__main__.Trip object at 0x0000029280F1F308>,...",455.0
899,202208090664,Transportation,LCV,2,0,2,0,0,0,Service,Non-Residential Only,2022-08-09 08:41:37,2022-08-10 09:19:07,True,NaN,1476,True,M,S,Office,Office,"[M, S, S]","[2, 2, 2]",Unknown,-1,23.6,127188,664,978,smartphone,63.910364,1974,"[<__main__.Trip object at 0x0000029280D9CA88>,...",1478.0

In [114]:
# Add a column that indicates if the route has any warning.
df_routes['has_warning'] = 0

In [115]:
# Identify routes that vehicle goes from Base to Base, or it goes from Home to Home.
for i, route in df_routes.iterrows():
    flag = False
    acts = route['act_seg_seq']
    act = acts[0]
    for next_act in acts[1:]:
        if (act=='H' and next_act=='H') or (act=='B' and next_act=='B'):
            flag = True
            break
        act = next_act
    df_routes.at[i, 'warn_BB_or_HH'] = flag*1
df_routes['warn_BB_or_HH'] = df_routes['warn_BB_or_HH'].astype('int8')

In [116]:
# Add warning columns.    
    
# Activity at the route origin is to deliver/pickup goods:
df_routes['warn_o_act_G'] = df_routes['act_seg_seq'].apply(lambda l: 1 if l[0]=='G' else 0)

# Activity at the route origin is to provide services:
df_routes['warn_o_act_S'] = df_routes['act_seg_seq'].apply(lambda l: 1 if l[0]=='S' else 0)

# Activity at the route destination is either to provide service or deliver/pickup goods:
df_routes['warn_d_act_SG'] = df_routes['act_seg_seq'].apply(lambda l: 1 if l[-1] in ['G', 'S'] else 0)

# Route trips extend beyond 12AM of the first day:
df_routes['warn_next_day'] = df_routes['multiday_route'].astype(int)

# Route duration time calculated from start and end of the tour doesn't match with the one that is calculated by
# summing trip travel times and stop durations:
df_routes['warn_duration'] = 1 - df_routes['durations_match'].astype(int)

# Neither Base nor Home appears in the route activities, including the route origin:
df_routes['warn_no_BH_stops'] = df_routes['act_seg_seq'].apply(lambda l: 0 if ('B' in l or 'H' in l) else 1)

# Neither Goods nor Services appears in the route activities, including the route origin:
df_routes['warn_no_GS_stops'] = df_routes['act_seg_seq'].apply(lambda l: 0 if ('G' in l or 'S' in l) else 1)

# None of Goods, Services, or Maintenance appears in the route activities, including the route origin:
df_routes['warn_no_GSM_stops'] = df_routes['act_seg_seq'].apply(lambda l: 0 if ('G' in l or 'S' in l or 'M' in l) else 1)
df_routes.head()

,route_id,industry_group,veh_type,trip_count,g_stops,s_stops,m_stops,b_stops,h_stops,primary_purp,customer_type,start_tod,end_tod,multiday_route,route_dur_hr,cumlv_dur,durations_match,start_activity,end_activity,start_plc_seg,end_plc_seg,act_seg_seq,plc_seg_seq,headquarters,hq_taz,tot_distance,company_id,vehicle_id,driver_id,participation_type,expnsn_factor,estab_taz,trips,route_dur_min,has_warning,warn_BB_or_HH,warn_o_act_G,warn_o_act_S,warn_d_act_SG,warn_next_day,warn_duration,warn_no_BH_stops,warn_no_GS_stops,warn_no_GSM_stops
0,202209302062,Education/Other public services,LCV,4,0,1,1,2,0,Service,Non-Residential Only,2022-09-30 10:00:00,2022-09-30 14:20:00,False,NaN,260,True,B,B,Residential,Residential,"[B, M, B, S, B]","[1, 5, 1, 4, 1]",B,2284,18.5,100012,2062,2589,online,177.825038,2284,"[<__main__.Trip object at 0x000002934A83CA88>,...",260.0,0,0,0,0,0,0,0,0,0,0
1,202209302063,Education/Other public services,LCV,3,0,1,1,1,0,Service,Non-Residential Only,2022-09-30 14:00:00,2022-09-30 17:22:00,False,NaN,202,True,B,B,Residential,Residential,"[B, S, M, B]","[1, 4, 6, 1]",B,2284,16.9,100012,2063,2590,online,177.825038,2284,"[<__main__.Trip object at 0x000002930D7AB088>,...",202.0,0,0,0,0,0,0,0,0,0,0
2,202209302064,Education/Other public services,LCV,5,0,2,1,2,0,Service,Non-Residential Only,2022-09-30 10:00:00,2022-09-30 15:03:00,False,NaN,303,True,B,B,Residential,Residential,"[B, S, B, S, M, B]","[1, 2, 1, 2, 6, 1]",B,2284,90,100012,2064,2591,online,177.825038,2284,"[<__main__.Trip object at 0x000002930D7B87C8>,...",303.0,0,0,0,0,0,0,0,0,0,0
3,202209161405,Agriculture/Mining,LCV,2,0,0,2,0,0,Maintenance/Other,No Customer,2022-09-16 09:07:36,2022-09-16 09:42:00,False,NaN,33,True,H,M,Residential,Office,"[H, M, M]","[1, 5, 2]",H,147,9.1,100021,1405,1974,smartphone,14.882969,89,"[<__main__.Trip object at 0x00000292855E5448>,...",34.0,0,0,0,0,0,0,0,0,1,0
4,202209161406,Agriculture/Mining,LCV,4,0,2,2,0,0,Service,Mixed Residential and Non-residential,2022-09-16 08:55:00,2022-09-16 09:41:00,False,NaN,46,True,B,S,Office,Other,"[B, S, M, M, S]","[2, 1, 2, 6, 4]",B,89,19.2,100021,1406,1975,smartphone,14.882969,89,"[<__main__.Trip object at 0x0000029281E9D848>,...",46.0,0,0,0,0,1,0,0,0,0,0

In [117]:
# Fill the has_warning column.
warn_cols = [c for c in df_routes.columns if 'warn' in c]
df_routes['has_warning'] = df_routes[warn_cols].max(axis=1)
# df_routes.head(20)

#### Explore the Route Dataframe

##### OPTIONAL: Create a cumulative distribution function for route durations.

durs = pd.Series(np.ceil(df_routes['route_dur_min']*4)/4)
print(durs.count())
durs.head()

counts = collections.Counter(durs)
# print(counts, '\n')
# print(dict(counts))

df_durations = pd.DataFrame({'hr_bin': dict(counts).keys(), 'counts': dict(counts).values()})
df_durations.sort_values('hr_bin', inplace=True)
df_durations.reset_index(drop=True, inplace=True)
df_durations.head(8)

s = df_durations['counts'].sum()
df_durations['perc'] = (100 * df_durations['counts'] / s)
df_durations['cum_perc'] = df_durations['perc'].cumsum()
df_durations

plt.plot(df_durations['hr_bin'], df_durations['cum_perc'])
plt.xlabel('Route Duration (hours)')
plt.ylabel('Cumulative Percentage')
plt.title('CDF of Route Duration')
plt.show()

##### OPTIONAL: Create a graph for starting/ending activity combinations.
Note: Starting activity is the activity at the origin of the first trip, not at its destination.

strt_end = pd.Series(df_routes['start_activity'] + df_routes['end_activity'])
strt_end.head(4)

counts = collections.Counter(strt_end)
df_se = pd.DataFrame({'strt_end': dict(counts).keys(), 'counts': dict(counts).values()})
df_se.sort_values('counts', ascending=False, inplace=True)
df_se.reset_index(drop=True, inplace=True)
df_se.head(8)

s = df_se['counts'].sum()
df_se['perc'] = (100 * df_se['counts'] / s).round(1)
df_se.head(3)

ax = df_se.plot.bar(x='strt_end', y='perc', width=0.8)
plt.xlabel('OD Activity Combination')
plt.ylabel('Percentage of Routes')
plt.title('Activity Combinations at origin and destination of the Routes')

# Add value annotations on top of each bar.
for p in ax.patches:
    ax.annotate(str(p.get_height()), (p.get_x() + p.get_width() / 2, p.get_height()), ha='center', va='bottom')

# plt.figure(figsize=(200, 12))

plt.show()

df_se.sort_values('counts', ascending=True, inplace=True)
highlight_color = '#1b9e77' # Green
non_highlight_color = '#768493' # Gray
# non_highlight_color = '#d95f02' # Orange

df_se['color'] = df_se['perc'].apply(lambda x: highlight_color if x > 4 else non_highlight_color)

fig, ax = plt.subplots(figsize=(8, 8))
bars = plt.barh(df_se['strt_end'], df_se['perc'],
                height=0.7, color=df_se['color']) # height indicates thickness of bars.

# Remove the top, bottom and right edges of the chart.
ax.spines[['right', 'top', 'bottom']].set_visible(False) 

# Remove the numbers on the axis.
ax.xaxis.set_visible(False)

# Add data labels.
# ax.bar_label(bars)

# Control the label format of matplotlib’s bar_label function.
ax.bar_label(bars, color='black', fontsize=11, label_type='edge',
             fmt='{:4.1f}%', padding=+4) # padding=-45, fmt='%.1f%%', fontweight='bold'

# Add the title.
ax.set_title('Activity Combinations at origin and destination of the Routes', fontsize=12,
              fontweight='bold', pad=10)


# # Add a text annotation to show the basis of highlighting.
# ax.yaxis.set_tick_params(labelsize=14)
# ax.axvline(x=4, zorder=0, color='grey', ls='--', lw=1.5)
# ax.text(x=4, y=1, s='4 percent threshold', ha='left', 
#         fontsize=11, bbox=dict(facecolor='white', edgecolor='grey', ls='--'))

plt.show()

#### Report Out the Trip Dataframe

In [118]:
print(f'There are {len(df_trips):,} trips in the dataframe.')

There are 10,687 trips in the dataframe.

In [119]:
df_trips.head()

,company_id,industry_group,vehicle_id,driver_id,trip_number,o_act_seg,o_act_seg_name,o_plc_seg,o_plc_seg_name,d_act_seg,d_act_seg_name,d_plc_seg,d_plc_seg_name,o_act,o_place_type,o_place_name,o_address,o_lon,o_lat,o_taz,d_act,d_place_type,d_place_name,d_address,d_lon,d_lat,d_taz,trip_dist,headquarters,hq_taz,orgn_to_hq_dist,travel_time,stop_duration,veh_type,cargo_pickup,cargo_delivery,travel_date,participation_type,expnsn_factor,estab_taz,industry_code,o_dt,d_at,nt_dt,last_trip,tod,toll_in_cents_from_base,gen_tt_from_base,route_id,route_purpose,route_customers
0,100012,Education/Other public services,2062,2589,1,B,Base,1,Residential,M,Maintenance/Other,5,Retail and Restaurant,1.0,11.0,BASE,2801 B ST # 55,-117.133702,32.717871,2284,11,6,PET SMART,1660 Camino De La Reina d,-117.149017,32.770912,2091,5.6,,2284,0.1,20,50,LCV,NaN,NaN,2022-09-30,online,177.825038,2284,9,2022-09-30 10:00:00,2022-09-30 10:20:00,2022-09-30 11:10:00,False,MD,0.0,15.26,202209302062,Service,Non-Residential Only
1,100012,Education/Other public services,2062,2589,2,M,Maintenance/Other,5,Retail and Restaurant,B,Base,1,Residential,11.0,6.0,PET SMART,1660 Camino De La Reina d,-117.149017,32.770912,2091,1,11,BASE,2801 B ST # 55,-117.133702,32.717871,2284,6.9,,2284,6.9,12,18,LCV,NaN,NaN,2022-09-30,online,177.825038,2284,9,2022-09-30 11:10:00,2022-09-30 11:22:00,2022-09-30 11:40:00,False,MD,0.0,0.55,202209302062,Service,Non-Residential Only
2,100012,Education/Other public services,2062,2589,3,B,Base,1,Residential,S,Service,4,Other,1.0,11.0,BASE,2801 B ST # 55,-117.133702,32.717871,2284,10,96,DOG PARK,2500 Balboa Dr,-117.158124,32.731546,1933,2.8,,2284,0.1,20,120,LCV,NaN,NaN,2022-09-30,online,177.825038,2284,9,2022-09-30 11:40:00,2022-09-30 12:00:00,2022-09-30 14:00:00,False,MD,0.0,8.77,202209302062,Service,Non-Residential Only
3,100012,Education/Other public services,2062,2589,4,S,Service,4,Other,B,Base,1,Residential,10.0,96.0,DOG PARK,2500 Balboa Dr,-117.158124,32.731546,1933,1,11,BASE,2801 B ST # 55,-117.133702,32.717871,2284,3.2,,2284,3.2,20,NaN,LCV,NaN,NaN,2022-09-30,online,177.825038,2284,9,2022-09-30 14:00:00,2022-09-30 14:20:00,NaT,True,MD,0.0,0.55,202209302062,Service,Non-Residential Only
4,100012,Education/Other public services,2063,2590,1,B,Base,1,Residential,S,Service,4,Other,1.0,11.0,BASE,2801 B ST # 55,-117.133702,32.717871,2284,10,96,DOG PARK,Soto St,-117.237975,32.752893,828,8.1,,2284,0.1,11,154,LCV,NaN,NaN,2022-09-30,online,177.825038,2284,9,2022-09-30 14:00:00,2022-09-30 14:11:00,2022-09-30 16:45:00,False,MD,0.0,11.99,202209302063,Service,Non-Residential Only

In [120]:
# Rearrange to have time-related fields next to each other.
cols = ['industry_group', 'trip_number', 'last_trip',
        'travel_date', 'o_dt', 'tod', 'd_at', 'nt_dt', 'travel_time', 'stop_duration', 
        'o_act_seg', 'o_act_seg_name', 'o_plc_seg', 'o_plc_seg_name',
        'd_act_seg', 'd_act_seg_name', 'd_plc_seg', 'd_plc_seg_name',                
        'o_act', 'o_place_type', 'o_taz',
        'd_act', 'd_place_type', 'd_taz',
        'trip_dist',
        'veh_type', 
        'route_id', 'company_id', 'estab_taz', 'vehicle_id', 'driver_id',
        'expnsn_factor', 'participation_type', 'route_purpose', 'route_customers']

if dataset=='TNC':    
    cols.insert(-5, 'company_name')

df_trips = df_trips[cols]
df_trips.head(1)

,industry_group,trip_number,last_trip,travel_date,o_dt,tod,d_at,nt_dt,travel_time,stop_duration,o_act_seg,o_act_seg_name,o_plc_seg,o_plc_seg_name,d_act_seg,d_act_seg_name,d_plc_seg,d_plc_seg_name,o_act,o_place_type,o_taz,d_act,d_place_type,d_taz,trip_dist,veh_type,route_id,company_id,estab_taz,vehicle_id,driver_id,expnsn_factor,participation_type,route_purpose,route_customers
0,Education/Other public services,1,False,2022-09-30,2022-09-30 10:00:00,MD,2022-09-30 10:20:00,2022-09-30 11:10:00,20,50,B,Base,1,Residential,M,Maintenance/Other,5,Retail and Restaurant,1.0,11.0,2284,11,6,2091,5.6,LCV,202209302062,100012,2284,2062,2589,177.825038,online,Service,Non-Residential Only

df_trips.drop(columns=['headquarters', 'hq_taz'], inplace=True)
df_trips.rename(columns={'orgn_to_hq_dist': 'dist_to_base_mile'}, inplace=True)

In [121]:
out_file = dataset + f'_Trips_{current_date}.xlsx'
out_path = os.path.join(project_path, out_data_dir, out_file)
df_trips.to_excel(out_path, sheet_name='Trip Dataframe', index_label='index')

#### Report Out the Route Dataframe

In [122]:
drop_cols = ['multiday_route', 'cumlv_dur', 'durations_match', 'trips', 'headquarters', 'hq_taz']
df_routes.drop(columns=drop_cols, inplace=True)
df_routes.head(2)

,route_id,industry_group,veh_type,trip_count,g_stops,s_stops,m_stops,b_stops,h_stops,primary_purp,customer_type,start_tod,end_tod,route_dur_hr,start_activity,end_activity,start_plc_seg,end_plc_seg,act_seg_seq,plc_seg_seq,tot_distance,company_id,vehicle_id,driver_id,participation_type,expnsn_factor,estab_taz,route_dur_min,has_warning,warn_BB_or_HH,warn_o_act_G,warn_o_act_S,warn_d_act_SG,warn_next_day,warn_duration,warn_no_BH_stops,warn_no_GS_stops,warn_no_GSM_stops
0,202209302062,Education/Other public services,LCV,4,0,1,1,2,0,Service,Non-Residential Only,2022-09-30 10:00:00,2022-09-30 14:20:00,NaN,B,B,Residential,Residential,"[B, M, B, S, B]","[1, 5, 1, 4, 1]",18.5,100012,2062,2589,online,177.825038,2284,260.0,0,0,0,0,0,0,0,0,0,0
1,202209302063,Education/Other public services,LCV,3,0,1,1,1,0,Service,Non-Residential Only,2022-09-30 14:00:00,2022-09-30 17:22:00,NaN,B,B,Residential,Residential,"[B, S, M, B]","[1, 4, 6, 1]",16.9,100012,2063,2590,online,177.825038,2284,202.0,0,0,0,0,0,0,0,0,0,0

In [123]:
out_file = dataset + f'_Routes_{current_date}.xlsx'
out_path = os.path.join(project_path, out_data_dir, out_file)
df_routes.to_excel(out_path, sheet_name='Routes', index=False) #  index_label='index'