In [20]:
import pandas as pd
import os

cvs_fp = r'C:\Users\iya\Dev\CVM\CVS\2022'
cvs_tour_fn = r'sandag_cvs_tour.xlsx'
tnc_tour_fn = r'sandag_tnc_tour.xlsx'
cvs_df_fn = r'cv_20221102_sandag_draftfinal.xlsx'
db_fn = r'SANDAG 2022 CV DataBase & Dictionaires_03_03_2023.xlsx'

pd.options.display.float_format = '{:20,.2f}'.format

establishment_data = pd.read_excel(os.path.join(cvs_fp, db_fn), sheet_name='Establishment Data')
trip_data = pd.read_excel(os.path.join(cvs_fp, db_fn), sheet_name='Trip Data')
tour_data = pd.read_excel(os.path.join(cvs_fp, cvs_tour_fn), sheet_name='sandag_cvs_tour')
veh_data = pd.read_excel(os.path.join(cvs_fp, db_fn), sheet_name='Vehicle Data')

In [21]:
tour_data['com_veh_dri_tri'] = tour_data[
    ['company_id', 'vehicle_id', 'driver_id', 'trip_number']
    ].astype(str).agg('-'.join, axis=1)

trip_data['com_veh_dri_tri'] = trip_data[
    ['company_id', 'vehicle_id', 'driver_id', 'trip_number']
    ].astype(str).agg('-'.join, axis=1)

In [22]:
def custom_lambda(x):
    vals = tour_data[tour_data.com_veh_dri_tri == x]['TRAVEL_DISTANCE'].values
    if len(vals) == 1: return vals[0]
    elif len(vals) == 2: 
        if vals[1] != vals[1]:
            if vals[0] == vals[0]: return vals[0]
            else: print(x)
        else: print(x)
    else: print(x)

trip_data['trip_dis'] = trip_data.com_veh_dri_tri.apply(
    lambda x: custom_lambda(x)
    )

173100-133-188-0
173100-133-188-0
173100-133-188-1
173100-133-188-1
173100-133-188-2
173100-133-188-2

In [23]:
trip_data.trip_dis.isnull().values

array([ True, False, False, ..., False, False, False])

In [24]:
tour_data[tour_data.com_veh_dri_tri == '100012-2062-2589-0'].TRAVEL_DISTANCE

0   NaN
Name: TRAVEL_DISTANCE, dtype: float64

In [25]:
tour_data.columns

Index(['company_id', 'driver_id', 'trip_number', 'vehicle_id',
       'STOP_BASE_NOTBASE', 'TOUR_NUM', 'STOP_SEQ', 'trip_load_status',
       'trip_load_weight', 'activity_type', 'activity_type_other', 'placetype',
       'placetype_other', 'location_placename', 'location_address',
       'location_city', 'location_state', 'location_zip', 'cargo_pickup',
       'cargo_other_pickup', 'cargo_delivery', 'cargo_other_delivery',
       'cargo_pu_weight', 'cargo_do_weight', 'travel_date', 'arrival_time',
       'departure_time', 'used_other_vehicle', 'participation_type',
       'Lower.Estimate.Weight.Factor', 'Most.Likely.Estimate.Weight.Factor',
       'Upper.Estimate.Weight.Factor', 'TRAVEL_DISTANCE', 'TRAVEL_MINUTES',
       'stop_num', 'VehClass', 'StopPurpose', 'ActivityName', 'SORT_ORIG',
       'sort_clo', 'StopDuration', 'VehClassLMH', 'IndName', 'DistBin',
       'TimeBin', 'DistRound', 'TimeRound', 'OBJECTID', 'TAZ', 'Shape_Leng',
       'Shape_Area', 'geometry', 'TOUR_STOP_TAZID', 'IntExtStop',
       'IntExtPrevStop', 'ODSegment', 'ODGroup', 'DEPART_HOUR', 'DEPART_TOD',
       'ARRIVE_HOUR', 'ARRIVE_TOD', 'ARRIVE_TIME', 'TOUR_START', 'TOUR_STOPS',
       'TOUR_END', 'STOP_NOT_RETURN', 'First_Sched_Stop', 'com_veh_dri_tri'],
      dtype='object')

In [26]:
tour_data

,company_id,driver_id,trip_number,vehicle_id,STOP_BASE_NOTBASE,TOUR_NUM,STOP_SEQ,trip_load_status,trip_load_weight,activity_type,...,DEPART_TOD,ARRIVE_HOUR,ARRIVE_TOD,ARRIVE_TIME,TOUR_START,TOUR_STOPS,TOUR_END,STOP_NOT_RETURN,First_Sched_Stop,com_veh_dri_tri
0,100012,2589,0,2062,1,1,1,4.00,NaN,1,...,Midday\n9:00am-3:29pm,NaN,NaN,NaN,True,2,False,False,2.00,100012-2062-2589-0
1,100012,2589,1,2062,2,1,2,NaN,NaN,11,...,Midday\n9:00am-3:29pm,10.00,Midday\n9:00am-3:29pm,NaN,False,2,False,True,2.00,100012-2062-2589-1
2,100012,2589,2,2062,1,1,3,NaN,NaN,1,...,Midday\n9:00am-3:29pm,11.00,Midday\n9:00am-3:29pm,NaN,False,2,True,False,2.00,100012-2062-2589-2
3,100012,2589,2,2062,1,2,1,NaN,NaN,1,...,Midday\n9:00am-3:29pm,11.00,NaN,NaN,True,2,False,False,2.00,100012-2062-2589-2
4,100012,2589,3,2062,2,2,2,NaN,NaN,10,...,Midday\n9:00am-3:29pm,12.00,Midday\n9:00am-3:29pm,NaN,False,2,False,True,2.00,100012-2062-2589-3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12895,600154,2398,2,1859,2,1,3,NaN,NaN,6,...,Midday\n9:00am-3:29pm,8.00,AM Peak\n6:00am-8:59am,NaN,False,6,False,True,3.00,600154-1859-2398-2
12896,600154,2398,3,1859,2,1,4,NaN,NaN,5,...,Midday\n9:00am-3:29pm,9.00,Midday\n9:00am-3:29pm,NaN,False,6,False,True,3.00,600154-1859-2398-3
12897,600154,2398,4,1859,2,1,5,NaN,NaN,10,...,Midday\n9:00am-3:29pm,10.00,Midday\n9:00am-3:29pm,NaN,False,6,False,True,3.00,600154-1859-2398-4
12898,600154,2398,5,1859,2,1,6,NaN,NaN,5,...,Midday\n9:00am-3:29pm,11.00,Midday\n9:00am-3:29pm,NaN,False,6,False,True,3.00,600154-1859-2398-5
12899,600154,2398,6,1859,1,1,7,NaN,NaN,1,...,NaN,12.00,Midday\n9:00am-3:29pm,NaN,False,6,True,False,3.00,600154-1859-2398-6

In [14]:
trip_data_ = trip_data[trip_data.arrival_time.notna()]

In [27]:
trip = trip_data_.merge(establishment_data[
    ['company_id', 'base_location_Industry Group']
    ], on='company_id', how='left')
gc = trip[
    ['base_location_Industry Group', 'Most Likely Estimate Weight Factor']
    ].groupby('base_location_Industry Group').sum()
gc

                              Most Likely Estimate Weight Factor
base_location_Industry Group
1                                                       9,828.80
2                                                     106,340.04
3                                                      17,881.25
4                                                      81,389.15
5                                                      69,012.34
6                                                     168,813.25
7                                                      92,882.11
8                                                     218,507.87
9                                                     483,683.83
10                                                    385,094.30
11                                                     31,605.02

In [28]:
tour_id = []
counter = 0
start, end = tour_data['TOUR_START'], tour_data['TOUR_END']

started, ended, prev = False, False, (None, None)
for se in list(zip(start, end)):
    if se == (True, False): 
        started, ended = True, False
        counter += 1
    elif se == (False, True):
        started, ended = False, True
    # if ended and not started: counter += 1
    tour_id.append(counter)

In [30]:
tour_data = tour_data.merge(establishment_data[
    ['company_id', 'base_location_Industry Group']
    ], on='company_id', how='left')

In [41]:
tour_data['tour_id'] = tour_id

light, med, hvy = list(range(1, 4)), list(range(5, 8)), [4, 8]
def classing(num):
    if num in light: return 'light'
    elif num in med: return 'med'
    else: return 'hvy'
tour_data['VehClass_name'] = tour_data.VehClass.apply(lambda x: classing(x))

In [44]:
tour_data_ = tour_data[tour_data.VehClass_name == 'hvy']

tour_data_[['tour_id','Most.Likely.Estimate.Weight.Factor']].groupby('tour_id').max().reset_index()['Most.Likely.Estimate.Weight.Factor'].sum()

48878.16900914829

In [50]:
tour_data_[['tour_id','Most.Likely.Estimate.Weight.Factor']].drop_duplicates()['Most.Likely.Estimate.Weight.Factor'].sum()

48878.16900914829

In [11]:
employees = establishment_data[['base_location_Industry Group', 'no_of_emp_work', 'employees_fulltime_count']]
employees = employees['employees_fulltime_count'].sum()
employees

46272

In [12]:
2213/46272

0.04782589903181189

In [15]:
len(trip_data_)/2213

4.829191143244465

In [16]:
10687/2213

4.829191143244465

In [17]:
trip_data_

,company_id,vehicle_id,driver_id,trip_number,trip_load_status,trip_load_weight,activity_type,activity_type_other,placetype,placetype_other,...,travel_date,arrival_time,departure_time,used_other_vehicle,participation_type,vehicle_id.1,Lower Estimate Weight Factor,Most Likely Estimate Weight Factor,Upper Estimate Weight Factor,com_veh_dri_tri
1,100012,2062,2589,1,NaN,NaN,11,NaN,6,NaN,...,2022-09-30,10:20:00,11:10:00,2,online,2062,109.69,177.83,198.18,100012-2062-2589-1
2,100012,2062,2589,2,NaN,NaN,1,NaN,11,NaN,...,2022-09-30,11:22:00,11:40:00,2,online,2062,109.69,177.83,198.18,100012-2062-2589-2
3,100012,2062,2589,3,NaN,NaN,10,NaN,96,DOG PARK,...,2022-09-30,12:00:00,14:00:00,2,online,2062,109.69,177.83,198.18,100012-2062-2589-3
4,100012,2062,2589,4,NaN,NaN,1,NaN,11,NaN,...,2022-09-30,14:20:00,NaN,2,online,2062,109.69,177.83,198.18,100012-2062-2589-4
6,100012,2063,2590,1,NaN,NaN,10,NaN,96,DOG PARK,...,2022-09-30,14:11:00,16:45:00,2,online,2063,109.69,177.83,198.18,100012-2063-2590-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12256,600154,1859,2398,2,NaN,NaN,6,NaN,20,NaN,...,2022-10-11,08:46:00,09:11:00,2,smartphone,1859,178.85,247.70,254.34,600154-1859-2398-2
12257,600154,1859,2398,3,NaN,NaN,5,NaN,20,NaN,...,2022-10-11,09:44:00,10:05:00,2,smartphone,1859,178.85,247.70,254.34,600154-1859-2398-3
12258,600154,1859,2398,4,NaN,NaN,10,NaN,96,ROAD SIDE,...,2022-10-11,10:38:00,10:54:00,2,smartphone,1859,178.85,247.70,254.34,600154-1859-2398-4
12259,600154,1859,2398,5,NaN,NaN,5,NaN,20,NaN,...,2022-10-11,11:27:00,11:46:00,2,smartphone,1859,178.85,247.70,254.34,600154-1859-2398-5
12260,600154,1859,2398,6,NaN,NaN,1,NaN,15,NaN,...,2022-10-11,12:03:00,NaN,2,smartphone,1859,178.85,247.70,254.34,600154-1859-2398-6