In [2]:
import pandas as pd
import os

In [3]:
cvs_fp = r'C:\Users\iya\Dev\CVM\CVS\2022'
cvs_tour_fn = r'sandag_cvs_tour.xlsx'
tnc_tour_fn = r'sandag_tnc_tour.xlsx'
cvs_df_fn = r'cv_20221102_sandag_draftfinal.xlsx'
db_fn = r'SANDAG 2022 CV DataBase & Dictionaires_03_03_2023.xlsx'

In [4]:
establishment_data = pd.read_excel(os.path.join(cvs_fp, db_fn), sheet_name='Establishment Data')
trip_data = pd.read_excel(os.path.join(cvs_fp, db_fn), sheet_name='Trip Data')

In [7]:
employees = establishment_data[['base_location_Industry Group', 'no_of_emp_work']]
employees = employees.groupby('base_location_Industry Group').sum()
employees

                              no_of_emp_work
base_location_Industry Group
1                                       1114
2                                       6618
3                                       1025
4                                       6040
5                                       2852
6                                       3785
7                                       2133
8                                       6264
9                                       8220
10                                     10370
11                                     10665

In [8]:
trip = trip_data.merge(establishment_data[
    ['company_id', 'base_location_Industry Group']
    ], on='company_id', how='left')
gc = trip[
    ['base_location_Industry Group', 'Most Likely Estimate Weight Factor']
    ].groupby('base_location_Industry Group').sum()
gc

                              Most Likely Estimate Weight Factor
base_location_Industry Group
1                                                   12155.782078
2                                                  120978.735540
3                                                   21123.987943
4                                                   94282.137993
5                                                   79692.935931
6                                                  200942.196121
7                                                  102064.118758
8                                                  262026.912698
9                                                  538669.756411
10                                                 416510.497271
11                                                  38822.653095