In [23]:
import pandas as pd

In [24]:
actorType_industry_map = {
    'Industry': 'Industrial',
    'Retail': 'Retail',
    'Transport': 'Transport',
    'Wholesale': 'Wholesale',
    'Service': 'Service/Gov/Office/FA',
    r'Government\Office': 'Service/Gov/Office/FA',
    'Fleet Allocator': 'Service/Gov/Office/FA',
}

industry_category = pd.CategoricalDtype(
    categories=[
        'Industrial',
        'Retail',
        'Service/Gov/Office/FA',
        'Transport',
        'Wholesale',
    ],
    ordered=True,
)

In [25]:
tod_map = {
    1: 'OE (3am - 6am)',
    2: 'AM (6am - 9am)',
    3: 'MD (9am - 3:30pm)',
    4: 'PM (3:30pm - 7pm)',
    5: 'OL (7pm - 3am)',
}

tod_category = pd.CategoricalDtype(
    categories=[
        'OE (3am - 6am)',
        'AM (6am - 9am)',
        'MD (9am - 3:30pm)',
        'PM (3:30pm - 7pm)',
        'OL (7pm - 3am)',
    ],
    ordered=True,
)

In [26]:
mode_light_map = {
    'Drive Alone': 'Light',
    'Light Heavy Duty Truck': 'Other',
    'Medium Heavy Duty Truck': 'Other',
    'Heavy Heavy Duty Truck': 'Other',
}

In [27]:
industry_category

CategoricalDtype(categories=['Industrial', 'Retail', 'Service/Gov/Office/FA', 'Transport',
                  'Wholesale'],
, ordered=True)

In [28]:
tours = (
    pd.read_csv('T:/data/base_2022/CVM/Calib_CVM_B/model_output/commercialVehicleTours.csv')
    .assign(industry=lambda df: df.actorType.map(actorType_industry_map).astype(industry_category))
    .assign(depart_tod=lambda df: df.departTimeFiveTod.map(tod_map).astype(tod_category))
    .assign(mode_light=lambda df: df.tourMode.map(mode_light_map))
    .set_index('tourID')
)
tours.head(20)

,actorType,tourPurpose,departTimeAbmHalfHour,arriveTimeAbmHalfHour,departTimeFiveTod,arriveTimeFiveTod,originTAZ,tourMode,industry,depart_tod,mode_light
tourID,,,,,,,,,,,
1,Industry,Service,21,23,3.0,3.0,17,Light Heavy Duty Truck,Industrial,MD (9am - 3:30pm),Other
2,Industry,Service,21,23,3.0,3.0,17,Drive Alone,Industrial,MD (9am - 3:30pm),Light
3,Government\Office,Other,10,12,2.0,2.0,14,Light Heavy Duty Truck,Service/Gov/Office/FA,AM (6am - 9am),Other
4,Government\Office,Other,10,12,2.0,2.0,14,Drive Alone,Service/Gov/Office/FA,AM (6am - 9am),Light
5,Fleet Allocator,Service,19,28,3.0,4.0,13,Light Heavy Duty Truck,Service/Gov/Office/FA,MD (9am - 3:30pm),Other
6,Fleet Allocator,Service,19,28,3.0,4.0,13,Drive Alone,Service/Gov/Office/FA,MD (9am - 3:30pm),Light
7,Government\Office,Goods,29,31,4.0,4.0,14,Heavy Heavy Duty Truck,Service/Gov/Office/FA,PM (3:30pm - 7pm),Other
8,Industry,Service,7,10,2.0,2.0,17,Light Heavy Duty Truck,Industrial,AM (6am - 9am),Other
9,Industry,Service,7,10,2.0,2.0,17,Drive Alone,Industrial,AM (6am - 9am),Light
10,Government\Office,Service,1,2,1.0,1.0,14,Light Heavy Duty Truck,Service/Gov/Office/FA,OE (3am - 6am),Other
11,Government\Office,Service,1,2,1.0,1.0,14,Drive Alone,Service/Gov/Office/FA,OE (3am - 6am),Light
12,Fleet Allocator,Service,6,27,1.0,4.0,14,Heavy Heavy Duty Truck,Service/Gov/Office/FA,OE (3am - 6am),Other
13,Fleet Allocator,Service,3,15,1.0,3.0,42,Light Heavy Duty Truck,Service/Gov/Office/FA,OE (3am - 6am),Other
14,Fleet Allocator,Service,3,15,1.0,3.0,42,Medium Heavy Duty Truck,Service/Gov/Office/FA,OE (3am - 6am),Other
15,Government\Office,Service,8,9,2.0,2.0,14,Light Heavy Duty Truck,Service/Gov/Office/FA,AM (6am - 9am),Other
16,Government\Office,Service,8,9,2.0,2.0,14,Drive Alone,Service/Gov/Office/FA,AM (6am - 9am),Light
17,Fleet Allocator,Service,27,35,4.0,5.0,24,Light Heavy Duty Truck,Service/Gov/Office/FA,PM (3:30pm - 7pm),Other
18,Fleet Allocator,Service,27,35,4.0,5.0,24,Drive Alone,Service/Gov/Office/FA,PM (3:30pm - 7pm),Light
19,Government\Office,Service,33,1,5.0,1.0,17,Heavy Heavy Duty Truck,Service/Gov/Office/FA,OL (7pm - 3am),Other
20,Service,Service,1,6,1.0,1.0,42,Heavy Heavy Duty Truck,Service/Gov/Office/FA,OE (3am - 6am),Other

In [29]:
tours.tourMode.value_counts()

# ? Drive Alone is light or other?

Light Heavy Duty Truck     133217
Drive Alone                 99522
Medium Heavy Duty Truck     28206
Heavy Heavy Duty Truck      24046
Name: tourMode, dtype: int64

In [30]:
trips = (
    pd.read_csv('T:/data/base_2022/CVM/Calib_CVM_B/model_output/commercialVehicleTrips.csv')
    .set_index(['tripID', 'tourID', 'stopID'])
)
trips

,,,tripPurposeOrigin,tripPurposeDestination,departTimeAbmHalfHour,arriveTimeAbmHalfHour,departTimeFiveTod,arriveTimeFiveTod,stopDuration,originTAZ,destinationTAZ,parkingTAZ,...,avUsed,weightTrip,weightPersonTrip,timeDrive,distanceDrive,costTollDrive,costOperatingDrive,timeTotal,distanceTotal,costTotal
tripID,tourID,stopID,,,,,,,,,,,,,,,,,,,,,
1,1,1,Return to Establishment,Service,21,22,3.0,3.0,0.152270,17,13,NaN,...,False,3.36,3.36,29.966473,13.258280,0.0,2.426265,29.966473,13.258280,2.426265
2,1,2,Service,Return to Establishment,22,23,3.0,3.0,0.000000,13,17,NaN,...,False,3.36,3.36,29.753199,13.258282,0.0,2.426265,29.753199,13.258282,2.426265
3,2,1,Return to Establishment,Service,21,22,3.0,3.0,0.152270,17,13,NaN,...,False,0.14,0.14,29.966473,13.258280,0.0,2.426265,29.966473,13.258280,2.426265
4,2,2,Service,Return to Establishment,22,23,3.0,3.0,0.000000,13,17,NaN,...,False,0.14,0.14,29.753199,13.258282,0.0,2.426265,29.753199,13.258282,2.426265
5,3,1,Return to Establishment,Other,10,12,2.0,2.0,0.968403,14,14,NaN,...,False,3.36,3.36,8.195625,3.081169,0.0,0.563854,8.195625,3.081169,0.563854
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1330134,284991,16,Service,Service,29,29,4.0,4.0,0.037120,4929,4934,NaN,...,False,1.00,1.00,12.094789,7.604828,0.0,1.391684,12.094789,7.604828,1.391684
1330135,284991,17,Service,Service,29,32,4.0,4.0,1.096770,4934,4887,NaN,...,False,1.00,1.00,16.893986,10.957046,0.0,2.005139,16.893986,10.957046,2.005139
1330136,284991,18,Service,Other,32,32,4.0,4.0,0.082958,4887,4907,NaN,...,False,1.00,1.00,5.847328,3.554142,0.0,0.650408,5.847328,3.554142,0.650408
1330137,284991,19,Other,Service,32,33,4.0,5.0,0.288163,4907,4934,NaN,...,False,1.00,1.00,12.582360,7.867845,0.0,1.439816,12.582360,7.867845,1.439816
1330138,284991,20,Service,Return to Establishment,33,34,5.0,5.0,0.000000,4934,4929,NaN,...,False,1.00,1.00,12.303304,7.604828,0.0,1.391684,12.303304,7.604828,1.391684

In [31]:
tours = (
    tours
    .merge(
        trips.reset_index().groupby('tourID')['weightTrip'].max(),
        on='tourID'
    )
)

In [32]:
trips = (
    trips
    .merge(
        tours[['tourMode', 'industry']],
        on='tourID'
    )
)

In [33]:
# Table 17: Target Tour start Time Shares
# Count

(
    tours
    .reset_index()
    .groupby(['industry', 'depart_tod'])
    ['tourID']
    .count()
    .reset_index()
    .pivot(
        index='industry',
        columns='depart_tod',
    )
    [[('tourID', x) for x in tod_category.categories.to_list()]]
    .apply(
        lambda x: x / (
            tours
            .reset_index()
            .groupby('industry')
            ['tourID']
            .count()
        ) 
    )
)

                              tourID                                   \
depart_tod            OE (3am - 6am) AM (6am - 9am) MD (9am - 3:30pm)
industry
Industrial                  0.345386       0.422886          0.214591
Retail                      0.168277       0.398333          0.402906
Service/Gov/Office/FA       0.207420       0.409839          0.359632
Transport                   0.366940       0.427181          0.190651
Wholesale                   0.306356       0.442906          0.238138


depart_tod            PM (3:30pm - 7pm) OL (7pm - 3am)
industry
Industrial                     0.013295       0.003841
Retail                         0.021728       0.008756
Service/Gov/Office/FA          0.017814       0.005294
Transport                      0.005783       0.009446
Wholesale                      0.010897       0.001703

In [34]:
# Table 17: Target Tour start Time Shares
# & Figure 9a-9b Tour Start Time Calibration Results (Industry)
# Naive Weight (max trip weight in tour)

(
    tours
    .reset_index()
    .groupby(['industry', 'depart_tod'])
    ['weightTrip']
    .sum()
    .reset_index()
    .pivot(
        index='industry',
        columns='depart_tod',
    )
    [[('weightTrip', x) for x in tod_category.categories.to_list()]]
    .apply(
        lambda x: x / (
            tours
            .reset_index()
            .groupby('industry')
            ['weightTrip']
            .sum()
        ) 
    )
).loc[:, 'weightTrip'].to_csv('T:/data/base_2022/CVM/Calib_CVM_B/model_table_17_figure9.csv')

In [35]:
# Figure 10 Vehicle Type Calibration Results
# Count

# Aggregating by tours (should do by trips/weighted trips?)
# Note, this is considering "Drive Alone" as "Light"

(
    tours
    .reset_index()
    .groupby('industry')
    ['mode_light']
    .value_counts(normalize=True)
    .rename('tours')
    .to_frame()
).sort_index().to_csv('T:/data/base_2022/CVM/Calib_CVM_B/model_figure10.csv')

In [37]:
trips[['tourMode', 'industry']].value_counts()

tourMode                 industry
Light Heavy Duty Truck   Service/Gov/Office/FA    448820
Drive Alone              Service/Gov/Office/FA    260114
Medium Heavy Duty Truck  Service/Gov/Office/FA    172169
Heavy Heavy Duty Truck   Service/Gov/Office/FA     72747
Light Heavy Duty Truck   Retail                    69105
                         Industrial                65548
Drive Alone              Industrial                54140
                         Retail                    51648
Light Heavy Duty Truck   Wholesale                 25060
Heavy Heavy Duty Truck   Industrial                21455
Light Heavy Duty Truck   Transport                 17753
Drive Alone              Wholesale                 16907
                         Transport                 12274
Medium Heavy Duty Truck  Retail                    11396
Heavy Heavy Duty Truck   Transport                  8019
Medium Heavy Duty Truck  Industrial                 7587
                         Wholesale                  6154
                         Transport                  4504
Heavy Heavy Duty Truck   Retail                     3369
                         Wholesale                  1369
dtype: int64

In [63]:
# Figure 12 Trip Length Calibration Results
x = (
    trips
    [['tourMode', 'industry', 'weightTrip', 'distanceTotal']]
    .assign(
        vehClass_indName=(
            lambda df: df.apply(
                lambda row: {
                    ('Drive Alone', 'Industrial'): 'DI',
                    ('Drive Alone', 'Retail'): 'DR',
                    ('Drive Alone', 'Service/Gov/Office/FA'): 'DS',
                    ('Drive Alone', 'Transport'): 'DT',
                    ('Drive Alone', 'Wholesale'): 'DW',
                    ('Light Heavy Duty Truck', 'Industrial'): 'LI',
                    ('Light Heavy Duty Truck', 'Retail'): 'LR',
                    ('Light Heavy Duty Truck', 'Service/Gov/Office/FA'): 'LS',
                    ('Light Heavy Duty Truck', 'Transport'): 'LT',
                    ('Light Heavy Duty Truck', 'Wholesale'): 'LW',                
                    ('Medium Heavy Duty Truck', 'Industrial'): 'MI',
                    ('Medium Heavy Duty Truck', 'Retail'): 'MR',
                    ('Medium Heavy Duty Truck', 'Service/Gov/Office/FA'): 'MS',
                    ('Medium Heavy Duty Truck', 'Transport'): 'MT',
                    ('Medium Heavy Duty Truck', 'Wholesale'): 'MW',                
                    ('Heavy Heavy Duty Truck', 'Industrial'): 'HI',
                    ('Heavy Heavy Duty Truck', 'Retail'): 'HR',
                    ('Heavy Heavy Duty Truck', 'Service/Gov/Office/FA'): 'HS',
                    ('Heavy Heavy Duty Truck', 'Transport'): 'HT',
                    ('Heavy Heavy Duty Truck', 'Wholesale'): 'HW',
                }.get((row.tourMode, row.industry)),
                axis=1
            )
            .astype(
                pd.CategoricalDtype(
                    [
                        'DI',
                        'DR',
                        'DS',
                        'DT',
                        'DW',
                        'LI',
                        'LR',
                        'LS',
                        'LT',
                        'LW',
                        'MI',
                        'MR',
                        'MS',
                        'MT',
                        'MW',
                        'HI',
                        'HR',
                        'HS',
                        'HT',
                        'HW',
                    ],
                    ordered=True,
                )
            )
        )
    )
        .assign(
            weighted_distance=lambda df:(
                df['distanceTotal'] * df['weightTrip']
            )
        )
)
x

,tourMode,industry,weightTrip,distanceTotal,vehClass_indName,weighted_distance
tourID,,,,,,
1,Light Heavy Duty Truck,Industrial,3.36,13.258280,LI,44.547821
1,Light Heavy Duty Truck,Industrial,3.36,13.258282,LI,44.547828
2,Drive Alone,Industrial,0.14,13.258280,DI,1.856159
2,Drive Alone,Industrial,0.14,13.258282,DI,1.856159
3,Light Heavy Duty Truck,Service/Gov/Office/FA,3.36,3.081169,LS,10.352729
...,...,...,...,...,...,...
284991,Heavy Heavy Duty Truck,Service/Gov/Office/FA,1.00,7.604828,HS,7.604828
284991,Heavy Heavy Duty Truck,Service/Gov/Office/FA,1.00,10.957046,HS,10.957046
284991,Heavy Heavy Duty Truck,Service/Gov/Office/FA,1.00,3.554142,HS,3.554142
284991,Heavy Heavy Duty Truck,Service/Gov/Office/FA,1.00,7.867845,HS,7.867845
284991,Heavy Heavy Duty Truck,Service/Gov/Office/FA,1.00,7.604828,HS,7.604828

In [64]:
y = ((x.groupby('vehClass_indName')['weighted_distance'].sum()) / x.groupby('vehClass_indName')['weightTrip'].sum()).rename('model_distance')
y.to_csv('T:/data/base_2022/CVM/Calib_CVM_B/model_figure12.csv')

In [ ]:
# .to_csv('T:/data/base_2022/CVM/Calib_CVM_B/model_figure12.csv')